<div class="info-review-details">
  <h3>Curious of what essential oils can do for you?</h3>
  <h2 class="percentage-heading">98.8%</h2>
  <p class="review-description">experience positive effects within 30 days of buying <strong>volant essential oils and diffusers.</strong></p>
</div>
<div class="trustpilot-review">
    <div class="trustpilot-logo">{% render 'icon-trustpilot-logo' %}</div>
    <div class="trustpilot-star-rate">{% render 'icon-trustpilot-star-rate' %}</div>
    <div class="trustpilot-score">
        TrustScore <b>4.7 | <a href="https://www.trustpilot.com/review/volantaroma.com">300+ reviews</a></b>
    </div>
</div>