<div class="trustpilot-review-slider">
    <div class="review-item">
        {% comment %}<div class="rating">{% render 'icon-star-5' %}</div>{% endcomment %}
        <span class="review-text">"I received my Terracotta Volant right after Christmas and it has been routinely used! I love the smell of the oils and have learned to balance to strength for me and my family. I recommend it to anyone who loves essential oils."</span>
        <span class="review-auhtor">Robert S.</span>
    </div>
    <div class="review-item">
        {% comment %}<span class="rating">{% render 'icon-star-5' %}</span>{% endcomment %}
        <span class="review-text">"Perfect for meditation, especially Geranium. And Grapefruit for yoga."</span>
        <span class="review-auhtor">Cathy S.</span>
    </div>
    <div class="review-item">
        {% comment %}<span class="rating">{% render 'icon-star-5' %}</span>{% endcomment %}
        <span class="review-text">"Easy to switch between subscription products, have tested 5 oils. Very satisfied"</span>
        <span class="review-auhtor">Mary H.</span>
    </div>
    <div class="review-item">
        {% comment %}<span class="rating">{% render 'icon-star-4' %}</span>{% endcomment %}
        <span class="review-text">"I love getting essential oils in my post box every month, cool recipes by mail as well"</span>
        <span class="review-auhtor">Johan J.</span>
    </div>
    <div class="review-item">
        {% comment %}<span class="rating">{% render 'icon-star-5' %}</span>{% endcomment %}
        <span class="review-text">"Been looking for essential oils for aromatherapy, these oils give me a boost"</span>
        <span class="review-auhtor">Svetlana W.</span>
    </div>
	<div class="review-item">
        {% comment %}<span class="rating">{% render 'icon-star-5' %}</span>{% endcomment %}
        <span class="review-text">"I purchesed Volant diffuser, and I am obsessed with it!
I am using it every day and I feel super satisfied. Excellent experience."</span>
        <span class="review-auhtor">Agnieszka S.</span>
	</div>
    <div class="review-item">
        {% comment %}<span class="rating">{% render 'icon-star-4' %}</span>{% endcomment %}
        <span class="review-text">"Struggled to fall asleep before, the blend Sleep has changed that"</span>
        <span class="review-auhtor">Chloe L.</span>
    </div>
</div>
<div class="tr-footer">
	<a href="/collections/all-essential-oils" class="cta">
      <span>Shop Now</span>
  	</a>
  	<h3>1-5 days delivery | All duties paid</h3>
  	<div class="dhl-logo">
     {% render 'DHLLogo' %}
    </div>
  	<!--<img src="https://cdn.shopify.com/s/files/1/0473/9999/3493/files/royal.png" class="royal" />
  	<img src="https://cdn.shopify.com/s/files/1/0473/9999/3493/files/dhl.png?" class="dhl" />-->
</div>
