/* PageFly Element Styles */
						.jHjrlE { padding-top: 20px; padding-bottom: 20px; }
.jHjrlE__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.jHjrlE__button > i { margin-right: 5px; }
.jHjrlE .icon_position { position: absolute; right: 10px; }
.jHjrlE .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; height: 100%; padding: 10px 15px; text-decoration: none; color: black; text-align: left; outline: none; display: block; position: relative; -webkit-appearance: none; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.bQJNGd { display: inline-flex; }
.bQJNGd .pf-countdown__inner { display: flex; text-align: center; }
.bQJNGd .pf-countdown__inner > div { display: flex; flex-direction: column; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-f693399b {
		width: 90%;
		 height: auto;
	}
	.__pf .pf-c4807368 {
		background-position: 0% 50%;
		 background-size: contain;
		 min-height: 500px;
		 background-repeat: no-repeat;
		 display: inline-block;
	}
	.__pf .pf-73681531 {
		font-family: Muli;
		 font-size: 2em;
		 color: rgb(170, 138, 134);
		 text-align: left;
	}
	.__pf .pf-15317820 {
		font-size: 1.2em;
		 font-family: Muli;
		 text-align: left;
	}
	.__pf .pf-78205a63 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 40px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 5em;
		 font-family: Muli;
	}
	.__pf .pf-78205a63:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Muli;
	}
	.__pf .pf-5a63035e {
		padding: 50px 50px 40px;
		 min-height: 1px;
	}
	.__pf .pf-035eb593 {
		background-color: rgba(255, 238, 223, 0.5);
		 margin-top: -55px;
	}
	.__pf .pf-b593cfb1 {
		padding: 0px 0px 80px;
	}
	.__pf .pf-61479f7d {
		font-family: Muli;
		 font-size: 2em;
		 color: rgb(170, 138, 134);
		 text-align: center;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-9f7d9177 {
		font-size: 1.2em;
		 font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-a05e080a {
		margin-left: 200px;
		 margin-right: 200px;
	}
	.__pf .pf-0855ee95 {
		text-align: center;
	}
	.__pf .pf-39a3525d {
		width: 120px;
		 height: auto;
		 margin: 2px 40px 15px;
	}
	.__pf .pf-525d72fa {
		width: 120px;
		 height: auto;
		 margin-right: 40px;
		 margin-bottom: 15px;
	}
	.__pf .pf-9177a05e {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-080a9d43 {
		text-align: center;
	}
	.__pf .pf-ee958a72 {
		text-align: center;
		 background-color: rgba(255, 238, 223, 0.5);
	}
	.__pf .pf-8a72ea6b {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-546063fb {
		text-align: center;
		 font-family: Muli;
		 font-size: 1.7em;
		 color: rgb(170, 138, 134);
	}
	.__pf .pf-63fb4678 {
		margin-bottom: 20px;
	}
	.__pf .pf-783b5561 {
		width: 80px;
		 height: auto;
		 margin-bottom: 40px;
	}
	.__pf .pf-fca4f384 {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-f3844e60 {
		text-align: center;
	}
	.__pf .pf-4e609ae6 {
		width: 80px;
		 height: auto;
		 margin-bottom: 40px;
	}
	.__pf .pf-58d87bea {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-7bea3d19 {
		text-align: center;
	}
	.__pf .pf-3d19347f {
		width: 80px;
		 height: auto;
		 margin-bottom: 40px;
	}
	.__pf .pf-95b2c1cc {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-c1cc98d4 {
		text-align: center;
	}
	.__pf .pf-2258c1a4 {
		margin-bottom: 60px;
		 text-align: center;
	}
	.__pf .pf-f32bee8d {
		text-align: center;
		 font-size: 1.5em;
		 font-family: Muli;
		 color: rgb(170, 138, 134);
	}
	.__pf .pf-55895733 {
		text-align: center;
		 font-family: Muli;
	}
	.__pf .pf-c7fb820a {
		border-style: solid;
		 border-width: 1px 0px 0px;
		 border-color: rgb(222, 171, 91);
		 margin-top: 10px;
		 margin-bottom: 10px;
		 padding-top: 60px;
		 padding-bottom: 20px;
	}
	.__pf .pf-820adbcc {
		background-color: rgba(255, 238, 223, 0.58);
		 padding-top: 25px;
		 padding-bottom: 25px;
	}
	.__pf .pf-9bfa7234 {
		text-align: center;
		 font-size: 2em;
		 font-family: Muli;
		 color: rgb(170, 138, 134);
	}
	.__pf .pf-34e91c8c {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-34e91c8c:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-0c724b52 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-ec844fe4 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-ec844fe4:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-e8936f4b {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-a04cdad6 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-a04cdad6:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-a0032df8 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-b726652f {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-b726652f:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-49b705f5 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-9de8a854 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-9de8a854:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-8a4c321c {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-7800ea7d {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-7800ea7d:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-058376f2 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-e5958f34 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-e5958f34:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-77fc19a6 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-e7c5cd93 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-e7c5cd93:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-634edc6f {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-930979ce > div > div > span {
		padding-right: 10px;
		 font-size: 30px;
		 line-height: 1em;
		 font-family: Muli;
		 padding-left: 10px;
	}
	.__pf .pf-930979ce > div > div > label {
		margin-top: 5px;
		 margin-bottom: 0px;
		 font-size: 14px;
		 line-height: 1em;
	}
	.__pf .pf-930979ce {
		padding-left: 0px;
		 padding-right: 400px;
		 padding-bottom: 10px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-f693399b {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-c4807368 {
		min-height: 247px;
	}
	.__pf .pf-73681531 {
		text-align: left;
		 font-family: Montserrat;
		 font-size: 28px;
	}
	.__pf .pf-15317820 {
		text-align: left;
		 font-family: Muli;
	}
	.__pf .pf-78205a63 {
		padding-bottom: 16px;
		 margin-bottom: 20px;
		 text-align: left;
		 padding-left: 90px;
		 padding-right: 90px;
	}
	.__pf .pf-5a63035e {
		text-align: center;
	}
	.__pf .pf-61479f7d {
		text-align: center;
		 font-family: Montserrat;
		 font-size: 26px;
	}
	.__pf .pf-9f7d9177 {
		text-align: center;
		 font-family: Muli;
		 font-size: 17px;
	}
	.__pf .pf-a05e080a {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-39a3525d {
		margin-right: 20px;
		 margin-bottom: 0px;
		 margin-left: 20px;
	}
	.__pf .pf-525d72fa {
		margin-right: 20px;
		 margin-bottom: 0px;
	}
	.__pf .pf-9177a05e {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-top: 7px;
		 margin-bottom: 0px;
	}
	.__pf .pf-080a9d43 {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-930979ce {
		padding-right: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-f693399b {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-a05e080a {
		margin-left: 0px;
		 margin-right: 0px;
	}
}
						

 