/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.kCAYOZ { visibility: hidden; }
.kCAYOZ.pf-slider-wrapper { overflow: hidden; position: relative; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-prev-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-prev-nav { left: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-next-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-next-nav { right: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-prev-nav { left: 0px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-next-nav { right: 0px; }
.kCAYOZ.pf-slider-mouse-event-off > * { pointer-events: none; }
.kCAYOZ .pf-slider-inner { overflow: hidden; }
.kCAYOZ .pf-slider-slide { will-change: contents; position: absolute; transform: translate3d(100%, 0px, 0px); overflow: hidden; top: 0px; }
.kCAYOZ .pf-slider-nav { position: absolute; z-index: 999; cursor: pointer; border: 0px; background: transparent; top: 50%; transform: translateY(-50%); padding: 0px; transition: all 0.3s ease 0s; }
.kCAYOZ .pf-slider-nav:focus { outline: 0px; }
.kCAYOZ .pf-slider-nav::before { font-size: 14px; color: rgb(255, 255, 255); font-family: FontAwesome; }
.kCAYOZ .pf-slider-nav.nav-style-1 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgba(0, 0, 0, 0.4); border-radius: 100%; }
.kCAYOZ .pf-slider-nav.nav-style-1:hover { background: rgb(0, 0, 0); }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-prev-nav { left: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-next-nav { right: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-2, .kCAYOZ .pf-slider-nav.nav-style-4, .kCAYOZ .pf-slider-nav.nav-style-5 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgb(3, 3, 3); border-radius: 3px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-2:hover, .kCAYOZ .pf-slider-nav.nav-style-4:hover, .kCAYOZ .pf-slider-nav.nav-style-5:hover { background: rgb(23, 23, 23); }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3 { padding: 20px; text-shadow: rgb(0, 0, 0) 0px 0px 1px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-3::before { font-size: 24px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-5 { top: auto; bottom: 5%; opacity: 1; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { right: 62px; border-radius: 3px 0px 0px 3px; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 20px; border-radius: 0px 3px 3px 0px; }
.kCAYOZ .pf-slider-nav-disabled { pointer-events: none; }
.kCAYOZ .pf-slider-pagination { position: absolute; bottom: 15px; left: 0px; width: 100%; padding: 0px; margin: 0px; text-align: center; z-index: 1; }
.kCAYOZ .pf-slider-pagination li { display: inline-block; margin: 0px 5px; background: rgb(187, 187, 187); opacity: 1; transition: all 0.3s ease 0s; cursor: pointer; }
.kCAYOZ .pf-slider-pagination li.active, .kCAYOZ .pf-slider-pagination li:hover { background: rgb(33, 33, 33); }
.kCAYOZ .pf-slider-pagination.pagination-style-1 li { width: 20px; height: 5px; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li { position: relative; width: 8px; height: 8px; background: transparent; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li::after { position: absolute; content: ""; left: -2px; top: -2px; width: 12px; height: 12px; border: 1px solid rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li.active { background: rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li { position: relative; width: 16px; height: 16px; border: 2px solid rgb(255, 255, 255); background: transparent; border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li.active::after { position: absolute; content: ""; top: 3px; left: 3px; right: 3px; bottom: 3px; width: 6px; border: 2px solid rgb(255, 255, 255); border-radius: 100%; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geCFJR { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.geCFJR.prev-arrow { left: 16px; top: calc(50% - 16px); }
.geCFJR.next-arrow { right: 16px; top: calc(50% - 16px); }
.geCFJR i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.geCFJR.pf-show-nav { opacity: 1; }
@media (min-width: 992px) {
  .vHMOL .sc-qQZrP { display: none; }
}
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 1; }
.vHMOL .sc-qQZrP.prev-arrow { left: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { color: rgb(93, 107, 130); transform: none; }
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 0; }
.vHMOL .sc-qQZrP.prev-arrow { left: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { transform: none; }
.vHMOL:hover .sc-qQZrP { opacity: 1; }
.vHMOL:hover .sc-qQZrP.prev-arrow { left: 16px; }
.vHMOL:hover .sc-qQZrP.next-arrow { right: 16px; }
.SfOJX { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.SfOJX .sc-qZusK { position: relative; display: flex; flex: 1 1 auto; }
.SfOJX.pf-show-arrow .sc-qQZrP { opacity: 1; }
.SfOJX.pf-show-arrow .sc-qQZrP.prev-arrow { left: 16px; }
.SfOJX.pf-show-arrow .sc-qQZrP.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .SfOJX .sc-pHHLp { display: none; }
}
@media (min-width: 1200px) {
  .SfOJX .sc-pHHLp { display: none; }
}
.gmWBgT { position: relative; display: flex; margin-top: 10px; }
.gmWBgT .icon-left { transform: rotate(180deg); }
.gmWBgT .icon-right { right: 0px; }
.gmWBgT .icon-left:hover, .gmWBgT .icon-right:hover { opacity: 0.5; }
.gmWBgT .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 355px; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll .sc-psbuI { width: 53px; height: 61px; float: left; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll .sc-psbuI img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.gmWBgT .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .gmWBgT { display: none; }
}
.kZYFQD { position: relative; vertical-align: middle; width: 100%; height: 450px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .kZYFQD { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .kZYFQD { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .kZYFQD { display: var(--pf-d-xs); }
}
.kZYFQD img { border-radius: 4px; object-fit: contain; width: 100%; }
.kZYFQD a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .kZYFQD { margin: 0px; }
}
.daLzjN { display: inline-flex; }
.daLzjN input { width: 60px; height: 40px; outline: none; text-align: center; padding: 0px; border: 1px solid rgb(209, 213, 219); border-radius: 4px; }
.daLzjN input[data-hidespinner="true"] { }
.daLzjN input[data-hidespinner="true"]::-webkit-outer-spin-button, .daLzjN input[data-hidespinner="true"]::-webkit-inner-spin-button { appearance: none; }
.daLzjN input:not(:first-child) { margin: 0px 4px; }
.daLzjN button { width: 40px; height: 40px; outline: none; border: inherit; border-radius: inherit; padding: 0px; }
.daLzjN button[data-quantity-disabled="true"] { opacity: 0.2; }
.daLzjN .js-qty { margin: 0px 4px; height: 40px; }
.daLzjN .js-qty button { display: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gluJHn { display: flex; flex-direction: column; }
.gluJHn label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-xs); }
}
.gluJHn .pf-p-variant { display: flex; flex-direction: column; }
.gluJHn .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
}
.gluJHn select { min-height: 30px; appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.gluJHn select:focus { outline: none; }
.gluJHn select option { color: inherit; }
.gluJHn .pf-p-variant-radio { display: inline-flex; align-items: center; flex-wrap: wrap; }
.gluJHn .pf-p-variant-radio:not(:last-child) { margin-right: 16px; }
.gluJHn .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .gluJHn { flex-direction: column; }
  .gluJHn label { display: block; }
  .gluJHn .pf-p-variant-radio { display: inline-flex; }
}
.kkPGoW.edit { text-align: center; margin-bottom: 15px; }
.kkPGoW.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-8a611229 {
		font-size: 46px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 50px;
	}
	.__pf .pf-12293d56 {
		text-align: center;
		 padding-left: 100px;
		 padding-right: 100px;
		 margin-bottom: 20px;
	}
	.__pf .pf-bb784be4 {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-93c0803a {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-dc1d4d2a {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-210543f9 {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-3de514d1 {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-14d126a3 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-de147679 {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-8320bbb5 {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-71b3c207 {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-79c7b2fb {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-06a0bea5 {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-ed0cfa3f {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-fce2fba4 {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-7200282a {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-38c7d3be {
		padding-bottom: 50px;
	}
	.__pf .pf-6babe0c0 {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-acc70381 {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-2368fbab {
		padding-bottom: 50px;
	}
	.__pf .pf-6c4e4ba0 {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-276df6dc {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-254d45f9 {
		padding-bottom: 50px;
	}
	.__pf .pf-16569fb4 {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-c8f9ad7a {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-038abd83 {
		padding-bottom: 50px;
	}
	.__pf .pf-77171ba4 {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-4e52b685 {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-b2f0d808 {
		padding-bottom: 50px;
	}
	.__pf .pf-f0d80861 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-f6225d1d {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-9b2ebfed {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-855e2436 {
		padding-bottom: 50px;
	}
	.__pf .pf-d62d7784 {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-12743db9 {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-10f2cff2 {
		padding-bottom: 50px;
	}
	.__pf .pf-83ea5b25 {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-62c13515 {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-e4811840 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-97e4a0cd {
		padding-bottom: 50px;
	}
	.__pf .pf-e4a0cd7b {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-a0cd7bc5 {
		padding-top: 85px;
		 padding-bottom: 85px;
		 margin-top: -55px;
	}
	.__pf .pf-16971e5b {
		text-align: center;
		 font-family: Muli;
		 font-size: 1.7em;
	}
	.__pf .pf-971e5bc3 {
		margin-bottom: 20px;
	}
	.__pf .pf-53c36e08 {
		width: 80px;
		 height: auto;
		 margin-bottom: 40px;
	}
	.__pf .pf-ca513844 {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-61455b4b {
		text-align: center;
	}
	.__pf .pf-1e55b62a {
		width: 80px;
		 height: auto;
		 margin-bottom: 40px;
	}
	.__pf .pf-d76a4618 {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-5b4b37ab {
		text-align: center;
	}
	.__pf .pf-06564f46 {
		width: 80px;
		 height: auto;
		 margin-bottom: 40px;
	}
	.__pf .pf-019ccf80 {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-37abcc8d {
		text-align: center;
	}
	.__pf .pf-2b93fd7f {
		text-align: center;
		 font-size: 1.5em;
		 font-family: Muli;
	}
	.__pf .pf-6d540504 {
		text-align: center;
		 font-family: Muli;
	}
	.__pf .pf-05041df5 {
		border-style: solid;
		 border-width: 1px 0px 0px;
		 border-color: rgb(222, 171, 91);
		 margin-top: 10px;
		 margin-bottom: 10px;
		 padding-top: 60px;
		 padding-bottom: 20px;
	}
	.__pf .pf-041df578 {
		background-color: rgba(255, 238, 223, 0.58);
		 padding-top: 25px;
		 padding-bottom: 25px;
	}
	.__pf .pf-e2bfd0e1 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(170, 138, 134);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 padding-bottom: 30px;
	}
	.__pf .pf-d0e125f8 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-25f8e39f {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-2087a204 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border: 1px solid rgb(235, 235, 235);
	}
	.__pf .pf-e39f66b1 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-66b10ab9 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-a2044060 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border: 1px solid rgb(235, 235, 235);
	}
	.__pf .pf-0ab91db9 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-1db99cc1 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-4060bbf6 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border: 1px solid rgb(235, 235, 235);
	}
	.__pf .pf-9cc174fb {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-74fb76a0 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-bbf6e37f {
		text-align: center;
		 padding: 15px 15px 30px;
		 border: 1px solid rgb(235, 235, 235);
	}
	.__pf .pf-12a0ff64 {
		height: 220px;
	}
	.__pf .pf-3c1fbacc {
		text-align: center;
	}
	.__pf .pf-76a0ea9d {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-ea9d2087 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-80cfe2bf {
		width: 120px;
		 height: auto;
		 margin-bottom: 15px;
		 margin-top: 20px;
	}
	.__pf .pf-bacc6145 {
		text-align: center;
		 margin-top: 100px;
	}
	.__pf .pf-c57999ed {
		font-size: 26px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-d6ca75e0 {
		font-family: Barlow;
		 font-size: 1.1em;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-ca75e0e1 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-60f2bafd {
		margin-bottom: 15px;
	}
	.__pf .pf-60f2bafd picture {
		height: 150px;
	}
	.__pf .pf-bafde8d0 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-b61848f3 > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-4b4538c7 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-4538c7d3 {
		margin-bottom: 15px;
	}
	.__pf .pf-fa6decc8 {
		margin-bottom: 15px;
	}
	.__pf .pf-fa6decc8 picture {
		height: 150px;
	}
	.__pf .pf-ecc86ac9 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-120bd87e > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-06a0c58c {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-c58c7d8a {
		margin-bottom: 15px;
	}
	.__pf .pf-6bf1f2f2 {
		margin-bottom: 15px;
	}
	.__pf .pf-6bf1f2f2 picture {
		height: 150px;
	}
	.__pf .pf-f2f2e9c8 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
		 font-family: Muli;
		 font-weight: 600;
	}
	.__pf .pf-55c5dbf9 > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-cf222368 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-222368fb {
		margin-bottom: 15px;
	}
	.__pf .pf-0281881a {
		margin-bottom: 15px;
	}
	.__pf .pf-0281881a picture {
		height: 150px;
	}
	.__pf .pf-881a2649 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
		 font-family: Muli;
		 font-weight: 600;
	}
	.__pf .pf-68a976b4 > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-3df8254d {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
	}
	.__pf .pf-f8254d45 {
		margin-bottom: 15px;
	}
	.__pf .pf-cd5547bb {
		margin-bottom: 15px;
	}
	.__pf .pf-cd5547bb picture {
		height: 150px;
	}
	.__pf .pf-47bb59fe {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
		 font-family: Muli;
		 font-weight: 600;
	}
	.__pf .pf-c0d31e5a > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-b5a4038a {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-a4038abd {
		margin-bottom: 15px;
	}
	.__pf .pf-0aa72dea {
		margin-bottom: 15px;
	}
	.__pf .pf-0aa72dea picture {
		height: 150px;
	}
	.__pf .pf-2dea301c {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
		 font-family: Muli;
		 font-weight: 600;
	}
	.__pf .pf-37f56d41 > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-6dd1b2f0 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-d1b2f0d8 {
		margin-bottom: 15px;
	}
	.__pf .pf-5cea34f4 {
		margin-bottom: 15px;
	}
	.__pf .pf-5cea34f4 picture {
		height: 150px;
	}
	.__pf .pf-34f4a47c {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
		 font-family: Muli;
		 font-weight: 600;
	}
	.__pf .pf-c7a1e738 > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-e104855e {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-04855e24 {
		margin-bottom: 15px;
	}
	.__pf .pf-112f9ac1 {
		margin-bottom: 15px;
	}
	.__pf .pf-112f9ac1 picture {
		height: 150px;
	}
	.__pf .pf-9ac18297 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
		 font-family: Muli;
		 font-weight: 600;
	}
	.__pf .pf-7d9f74c4 > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-184f10f2 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-4f10f2cf {
		margin-bottom: 15px;
	}
	.__pf .pf-4cc60c14 {
		margin-bottom: 15px;
	}
	.__pf .pf-4cc60c14 picture {
		height: 150px;
	}
	.__pf .pf-0c148d72 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
		 font-family: Muli;
		 font-weight: 600;
	}
	.__pf .pf-623742fb > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-104997e4 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-4997e4a0 {
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-8a611229 {
		font-size: 34px;
	}
	.__pf .pf-12293d56 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-14d126a3 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-f0d80861 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-e4a0cd7b {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-a0cd7bc5 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-d0e125f8 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-25f8e39f {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-e39f66b1 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-66b10ab9 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-0ab91db9 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-1db99cc1 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-9cc174fb {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-74fb76a0 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-12a0ff64 {
		height: 175px;
	}
	.__pf .pf-12a0ff64 > button {
		background-color: rgb(255, 255, 255);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-76a0ea9d {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-ea9d2087 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-top: 7px;
		 margin-bottom: 0px;
	}
	.__pf .pf-80cfe2bf {
		margin-right: 20px;
		 margin-bottom: 0px;
	}
	.__pf .pf-92164056 {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-bacc6145 {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-ca75e0e1 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-e8d028d9 {
		margin-right: 0px;
	}
	.__pf .pf-4b4538c7 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-6ac9123f {
		margin-right: 0px;
	}
	.__pf .pf-06a0c58c {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-e9c89aec {
		margin-right: 0px;
	}
	.__pf .pf-cf222368 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-2649f790 {
		margin-right: 0px;
	}
	.__pf .pf-3df8254d {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-59fe6ea5 {
		margin-right: 0px;
	}
	.__pf .pf-b5a4038a {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-301c768e {
		margin-right: 0px;
	}
	.__pf .pf-6dd1b2f0 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-a47c8484 {
		margin-right: 0px;
	}
	.__pf .pf-e104855e {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-8297d999 {
		margin-right: 0px;
	}
	.__pf .pf-184f10f2 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-8d722acd {
		margin-right: 0px;
	}
	.__pf .pf-104997e4 {
		margin-left: 15px;
		 margin-top: 15px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-e2bfd0e1 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-d0e125f8 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-e39f66b1 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-0ab91db9 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-9cc174fb {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-12a0ff64 {
		height: 220px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-12293d56 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-14d126a3 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-f0d80861 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-e4a0cd7b {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-12a0ff64 {
		height: 220px;
	}
	.__pf .pf-76a0ea9d {
		margin-left: 15px;
	}
	.__pf .pf-ca75e0e1 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-4b4538c7 {
		margin-left: 15px;
	}
	.__pf .pf-06a0c58c {
		margin-left: 15px;
	}
	.__pf .pf-cf222368 {
		margin-left: 15px;
	}
	.__pf .pf-3df8254d {
		margin-left: 15px;
	}
	.__pf .pf-b5a4038a {
		margin-left: 15px;
	}
	.__pf .pf-6dd1b2f0 {
		margin-left: 15px;
	}
	.__pf .pf-e104855e {
		margin-left: 15px;
	}
	.__pf .pf-184f10f2 {
		margin-left: 15px;
	}
	.__pf .pf-104997e4 {
		margin-left: 15px;
	}
}
						

 