/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.gtZHgp { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.ciDzeO { position: relative; }
.ciDzeO video { display: flex; }
.ciDzeO svg { position: absolute; top: calc(50% - 32px); left: calc(50% - 32px); }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.kpEQWN.pfs--topLeft { display: flex; align-items: flex-start; justify-content: flex-start; }
.kpEQWN.pfs--topCenter { display: flex; align-items: flex-start; justify-content: center; }
.kpEQWN.pfs--topRight { display: flex; align-items: flex-start; justify-content: flex-end; }
.kpEQWN.pfs--middleLeft { display: flex; align-items: center; justify-content: flex-start; }
.kpEQWN.pfs--center { display: flex; align-items: center; justify-content: center; }
.kpEQWN.pfs--middleRight { display: flex; align-items: center; justify-content: flex-end; }
.kpEQWN.pfs--bottomLeft { display: flex; align-items: flex-end; justify-content: flex-start; }
.kpEQWN.pfs--bottomCenter { display: flex; align-items: flex-end; justify-content: center; }
.kpEQWN.pfs--bottomRight { display: flex; align-items: flex-end; justify-content: flex-end; }
.kCAYOZ { visibility: hidden; }
.kCAYOZ.pf-slider-wrapper { overflow: hidden; position: relative; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-prev-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-prev-nav { left: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-next-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-next-nav { right: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-prev-nav { left: 0px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-next-nav { right: 0px; }
.kCAYOZ.pf-slider-mouse-event-off > * { pointer-events: none; }
.kCAYOZ .pf-slider-inner { overflow: hidden; }
.kCAYOZ .pf-slider-slide { will-change: contents; position: absolute; transform: translate3d(100%, 0px, 0px); overflow: hidden; top: 0px; }
.kCAYOZ .pf-slider-nav { position: absolute; z-index: 999; cursor: pointer; border: 0px; background: transparent; top: 50%; transform: translateY(-50%); padding: 0px; transition: all 0.3s ease 0s; }
.kCAYOZ .pf-slider-nav:focus { outline: 0px; }
.kCAYOZ .pf-slider-nav::before { font-size: 14px; color: rgb(255, 255, 255); font-family: FontAwesome; }
.kCAYOZ .pf-slider-nav.nav-style-1 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgba(0, 0, 0, 0.4); border-radius: 100%; }
.kCAYOZ .pf-slider-nav.nav-style-1:hover { background: rgb(0, 0, 0); }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-prev-nav { left: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-next-nav { right: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-2, .kCAYOZ .pf-slider-nav.nav-style-4, .kCAYOZ .pf-slider-nav.nav-style-5 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgb(3, 3, 3); border-radius: 3px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-2:hover, .kCAYOZ .pf-slider-nav.nav-style-4:hover, .kCAYOZ .pf-slider-nav.nav-style-5:hover { background: rgb(23, 23, 23); }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3 { padding: 20px; text-shadow: rgb(0, 0, 0) 0px 0px 1px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-3::before { font-size: 24px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-5 { top: auto; bottom: 5%; opacity: 1; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { right: 62px; border-radius: 3px 0px 0px 3px; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 20px; border-radius: 0px 3px 3px 0px; }
.kCAYOZ .pf-slider-nav-disabled { pointer-events: none; }
.kCAYOZ .pf-slider-pagination { position: absolute; bottom: 15px; left: 0px; width: 100%; padding: 0px; margin: 0px; text-align: center; z-index: 1; }
.kCAYOZ .pf-slider-pagination li { display: inline-block; margin: 0px 5px; background: rgb(187, 187, 187); opacity: 1; transition: all 0.3s ease 0s; cursor: pointer; }
.kCAYOZ .pf-slider-pagination li.active, .kCAYOZ .pf-slider-pagination li:hover { background: rgb(33, 33, 33); }
.kCAYOZ .pf-slider-pagination.pagination-style-1 li { width: 20px; height: 5px; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li { position: relative; width: 8px; height: 8px; background: transparent; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li::after { position: absolute; content: ""; left: -2px; top: -2px; width: 12px; height: 12px; border: 1px solid rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li.active { background: rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li { position: relative; width: 16px; height: 16px; border: 2px solid rgb(255, 255, 255); background: transparent; border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li.active::after { position: absolute; content: ""; top: 3px; left: 3px; right: 3px; bottom: 3px; width: 6px; border: 2px solid rgb(255, 255, 255); border-radius: 100%; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-ebfeaac5 {
		margin-top: 0px;
		 margin-bottom: 15px;
		 font-size: 3em;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
	}
	.__pf .pf-7b43a8c2 {
		line-height: 26px;
	}
	.__pf .pf-aac53ce1 {
		margin-top: 0px;
		 margin-bottom: 30px;
		 font-family: Muli;
		 font-size: 22px;
		 line-height: 1.5em;
		 font-weight: 400;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-3ce11388 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
	}
	.__pf .pf-3ce11388:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-13880ea9 {
		text-align: center;
	}
	.__pf .pf-878dece4 {
		text-align: center;
	}
	.__pf .pf-69f8b7a5 {
		padding: 300px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-356d5cd8--MG5747-Edited-Edited.jpg?v=1598361002");
		 text-align: center;
		 margin-top: -55px;
		 background-position: 50% 100%;
		 margin-bottom: 100px;
	}
	.__pf .pf-a1d72c01 {
		padding: 40px;
	}
	.__pf .pf-c6eebc1a {
		font-family: Montserrat;
		 font-size: 2em;
		 color: rgb(74, 63, 60);
		 text-align: left;
	}
	.__pf .pf-bc1a5f31 {
		font-size: 16px;
		 font-family: Muli;
		 text-align: left;
		 padding-bottom: 10px;
	}
	.__pf .pf-19732efe {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-19732efe:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-0a80a79b {
		padding: 50px;
		 min-height: 1px;
	}
	.__pf .pf-03d9a7b0 {
		padding: 0px;
	}
	.__pf .pf-51c12966 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
	}
	.__pf .pf-51c12966:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-color: rgb(74, 63, 60);
		 border-width: 1px;
	}
	.__pf .pf-5f073acb {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
	}
	.__pf .pf-5f073acb:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-color: rgb(74, 63, 60);
		 border-width: 1px;
	}
	.__pf .pf-feefd1c0 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
	}
	.__pf .pf-feefd1c0:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-color: rgb(74, 63, 60);
		 border-width: 1px;
	}
	.__pf .pf-f4d725f7 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(170, 138, 134);
		 text-align: center;
	}
	.__pf .pf-4ee069b8 {
		width: 120px;
		 height: auto;
		 margin-bottom: 10px;
	}
	.__pf .pf-25f7394a {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-7bd31843 {
		text-align: center;
	}
	.__pf .pf-4530509f {
		width: 120px;
		 height: auto;
		 margin-bottom: 20px;
		 padding-left: 5px;
		 padding-right: 5px;
	}
	.__pf .pf-394a6d07 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-18436105 {
		text-align: center;
	}
	.__pf .pf-42a06507 {
		width: 120px;
		 height: auto;
		 padding-left: 3px;
		 padding-right: 3px;
		 margin-bottom: 16px;
	}
	.__pf .pf-2b75d176 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-d1765e58 {
		text-align: center;
	}
	.__pf .pf-1fbd42a0 {
		width: 120px;
		 height: auto;
		 padding-left: 3px;
		 padding-right: 3px;
		 margin-bottom: 16px;
	}
	.__pf .pf-bd06d1ed {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-d1ed1fbd {
		text-align: center;
	}
	.__pf .pf-a2a58b92 {
		width: 120px;
		 height: auto;
		 padding-left: 3px;
		 padding-right: 3px;
		 padding-bottom: 16px;
	}
	.__pf .pf-6d07ef5b {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-61050766 {
		text-align: center;
	}
	.__pf .pf-01179739 {
		width: 120px;
		 height: auto;
		 padding-left: 3px;
		 padding-right: 3px;
		 margin-bottom: 16px;
	}
	.__pf .pf-ef5b4ac1 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-07668672 {
		text-align: center;
	}
	.__pf .pf-7b6d9a3b {
		background-color: rgba(255, 238, 223, 0.58);
		 padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-12eedba5 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(170, 138, 134);
		 text-align: center;
	}
	.__pf .pf-2615cbd2 {
		width: 80px;
		 height: auto;
		 margin-bottom: 10px;
	}
	.__pf .pf-a44939bc {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-e1ff704e {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: left;
		 font-weight: 300;
	}
	.__pf .pf-f76ebb81 {
		text-align: center;
	}
	.__pf .pf-321c2968 {
		width: 120px;
		 height: auto;
		 margin-top: -20px;
		 margin-bottom: -10px;
	}
	.__pf .pf-5cbf8b42 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-8b4263dc {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: left;
		 font-weight: 300;
	}
	.__pf .pf-63dc724b {
		text-align: center;
	}
	.__pf .pf-7800fa3a {
		width: 80px;
		 height: auto;
		 margin-bottom: 10px;
	}
	.__pf .pf-c368e3b5 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-e3b5a469 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: left;
		 font-weight: 300;
	}
	.__pf .pf-a469321c {
		text-align: center;
	}
	.__pf .pf-c9217bc1 {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-704eb578 {
		padding: 40px;
	}
	.__pf .pf-bc635cfd {
		width: auto;
		 height: auto;
	}
	.__pf .pf-1964c265 {
		background-position: 0% 50%;
		 background-size: contain;
		 min-height: 500px;
		 background-repeat: no-repeat;
		 display: inline-block;
	}
	.__pf .pf-c265974f {
		font-family: Muli;
		 font-size: 2em;
		 color: rgb(170, 138, 134);
		 text-align: left;
	}
	.__pf .pf-974f6e1c {
		font-size: 1.2em;
		 font-family: Muli;
		 text-align: left;
		 padding-bottom: 30px;
		 margin-right: -5px;
	}
	.__pf .pf-6e1c54e5 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 40px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 2em;
		 font-family: Muli;
	}
	.__pf .pf-6e1c54e5:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Muli;
	}
	.__pf .pf-54e55947 {
		padding: 50px;
		 min-height: 1px;
	}
	.__pf .pf-59471d2f {
		background-color: rgba(255, 238, 223, 0.5);
	}
	.__pf .pf-1d2fe34f {
		padding: 0px;
	}
	.__pf .pf-e9c47413 {
		padding: 40px;
	}
	.__pf .pf-50bbe9fd {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 padding: 1em 75px;
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
	}
	.__pf .pf-50bbe9fd:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
		 padding: 1em 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-9448c38c {
		background-image: url("https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-1a9905a4--IMG2794910-Edited.jpg?v=1595497266");
		 padding-top: 450px;
		 padding-bottom: 100px;
		 background-size: cover;
		 text-align: center;
	}
	.__pf .pf-6fdc8d2a {
		color: rgb(0, 0, 0);
		 border: 1px solid rgb(0, 0, 0);
		 border-radius: 5px;
		 padding: 1em 75px;
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
	}
	.__pf .pf-6fdc8d2a:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
		 padding: 1em 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-8d2a37d6 {
		background-image: url("https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-f555a651--MG5765-Edited-Edited.jpg?v=1595497806");
		 padding-top: 450px;
		 padding-bottom: 100px;
		 background-size: cover;
		 text-align: center;
	}
	.__pf .pf-347cc8f0 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 padding: 1em 75px;
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
	}
	.__pf .pf-347cc8f0:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
		 padding: 1em 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-c8f09d34 {
		background-image: url("https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-ba026ab1--Webpnetresizeimage-5.jpg?v=1596720400");
		 padding-top: 450px;
		 padding-bottom: 100px;
		 background-size: cover;
		 text-align: center;
	}
	.__pf .pf-3edada1a {
		padding: 100px 50px;
	}
	.__pf .pf-5a835e82 {
		padding: 0px;
		 text-align: left;
	}
	.__pf .pf-1442eee1 {
		padding: 40px;
	}
	.__pf .pf-bcb90c13 {
		font-family: Muli;
		 font-size: 24px;
		 color: rgb(170, 138, 134);
		 text-align: center;
	}
	.__pf .pf-41c8bfcd {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-36105c32 {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-bfcd8d07 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-bfcd8d07:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-8d07181a {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-07d30099 {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-9ddd7822 {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-00994d80 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-00994d80:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-4d80d29a {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-10b715aa {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-9010c10c {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-15aa93af {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-15aa93af:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-93af64a4 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-cda173f5 {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-adf93f26 {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-73f53564 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-73f53564:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-3564dcba {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-fe571fb2 {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-3f2867b2 {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-1fb2a9c4 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-1fb2a9c4:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-a9c4fcda {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-2f58a5c7 {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-57b41163 {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-a5c72b78 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-a5c72b78:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-2b7861af {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-d085f17d {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-d86998dd {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-f17dd9db {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-f17dd9db:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-d9dbf7d7 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-b7c17667 {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-afc96bec {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-76673ced {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-76673ced:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-3ced2b90 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-e44c11d9 {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-472c0b74 {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-11d964ea {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-11d964ea:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-64ea89b7 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-8a25a378 {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-e51cd4e6 {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-a378ac57 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-a378ac57:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-ac577b82 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: none;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-b7c5b8cf {
		height: 436px;
	}
	.__pf .pf-b7c5b8cf > button:active {
		height: 463px;
	}
	.__pf .pf-e5a2dc65 {
		background-color: rgba(255, 238, 223, 0.5);
	}
	.__pf .pf-2169c550 {
		padding: 40px;
	}
	.__pf .pf-3f38ad08 {
		font-family: Muli;
		 font-size: 2em;
		 color: rgb(74, 63, 60);
		 text-align: right;
	}
	.__pf .pf-ad08edf6 {
		font-size: 1.2em;
		 font-family: Muli;
		 text-align: right;
	}
	.__pf .pf-edf60acb {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-edf60acb:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-bb4ca115 {
		padding: 50px;
		 min-height: 1px;
		 text-align: right;
	}
	.__pf .pf-45093f38 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-a1155a83 {
		display: flex;
	}
	.__pf .pf-21191f99 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-78fae061 {
		font-family: Muli;
		 font-size: 2em;
		 color: rgb(74, 63, 60);
		 text-align: center;
		 margin-bottom: 0px;
	}
	.__pf .pf-29945650 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-bottom: 40px;
		 margin-top: 10px;
	}
	.__pf .pf-776fa18e {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-776fa18e:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding: 1em 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-ab3f3abf {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-cf61cea9 {
		width: 120px;
		 height: auto;
		 margin-top: 20px;
		 padding-right: 5px;
	}
	.__pf .pf-cea9cd5c {
		width: 100px;
		 height: auto;
		 margin-top: 20px;
		 padding-left: 5px;
	}
	.__pf .pf-04870bd7 {
		padding: 50px;
		 min-height: 1px;
		 text-align: center;
	}
	.__pf .pf-c65678fa {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-0bd7b913 {
		display: flex;
		 flex-direction: row-reverse;
	}
	.__pf .pf-b913f2d1 {
		padding: 0px;
		 text-align: left;
	}
	.__pf .pf-70ec805e {
		font-family: Muli;
		 font-size: 24px;
		 color: rgb(74, 63, 60);
		 text-align: center;
	}
	.__pf .pf-5bf3e9c4 {
		margin-right: 40px;
		 margin-left: 40px;
	}
	.__pf .pf-805e0b59 {
		background-size: cover;
		 background-repeat: no-repeat;
		 background-color: rgb(255, 246, 239);
	}
	.__pf .pf-609fa336 {
		margin-left: 40px;
		 margin-right: 40px;
	}
	.__pf .pf-0b59e939 {
		background-size: cover;
		 background-repeat: no-repeat;
		 background-color: rgb(255, 246, 239);
	}
	.__pf .pf-37b7270b {
		margin-left: 40px;
		 margin-right: 40px;
	}
	.__pf .pf-270badc5 {
		background-size: cover;
		 background-repeat: no-repeat;
		 background-color: rgb(255, 246, 239);
	}
	.__pf .pf-e939e361 {
		height: 416px;
		 background-color: rgb(255, 238, 223);
		 color: rgb(34, 25, 77);
	}
	.__pf .pf-e939e361 > button {
		height: 100px;
		 margin-left: -20px;
		 margin-right: -20px;
	}
	.__pf .pf-3b914a06 {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 70px;
		 padding-bottom: 70px;
	}
	.__pf .pf-a5bf26af {
		font-family: Montserrat;
		 color: rgb(74, 63, 60);
		 padding-left: 5px;
		 padding-right: 5px;
		 margin-bottom: 15px;
	}
	.__pf .pf-fb19508d {
		font-size: 35px;
		 color: rgb(188, 177, 156);
		 margin: 10px;
	}
	.__pf .pf-c4efbe1f {
		font-size: 35px;
		 color: rgb(188, 177, 156);
		 margin: 10px;
	}
	.__pf .pf-5148fb19 {
		font-family: Montserrat;
		 color: rgb(74, 63, 60);
		 margin-bottom: 10px;
	}
	.__pf .pf-2f12d5f7 {
		font-family: Muli;
		 margin-left: 8px;
	}
	.__pf .pf-1486d978 {
		padding: 60px 5px 15px;
	}
	.__pf .pf-90c977bb {
		margin-bottom: 15px;
	}
	.__pf .pf-90c977bb > div > div:first-child {
		height: 270px;
	}
	.__pf .pf-0e1cfb62 {
		text-align: center;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 18px;
		 margin-bottom: 0px;
	}
	.__pf .pf-fb623d71 {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-77bb8cb4 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-77bb8cb4:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-8cb46fc1 {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-6fc1ab5e {
		height: 100%;
	}
	.__pf .pf-ab5e18f7 {
		text-align: center;
		 height: 100%;
	}
	.__pf .pf-d2bc36de {
		margin-bottom: 15px;
	}
	.__pf .pf-d2bc36de > div > div:first-child {
		height: 270px;
	}
	.__pf .pf-a7b14e4a {
		text-align: center;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 18px;
		 margin-bottom: 0px;
	}
	.__pf .pf-4e4ad02b {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-36de7dd2 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-36de7dd2:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-7dd220d2 {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-20d28f35 {
		height: 100%;
	}
	.__pf .pf-8f35609f {
		text-align: center;
		 height: 100%;
	}
	.__pf .pf-b1b64a54 {
		margin-bottom: 15px;
	}
	.__pf .pf-b1b64a54 > div > div:first-child {
		height: 270px;
	}
	.__pf .pf-189451c8 {
		text-align: center;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 18px;
		 margin-bottom: 0px;
	}
	.__pf .pf-51c816fd {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-4a547eec {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.5em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-4a547eec:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-7eec1c81 {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-1c81e3bb {
		height: 100%;
	}
	.__pf .pf-e3bb37b7 {
		text-align: center;
		 height: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-ebfeaac5 {
		font-size: 24px;
	}
	.__pf .pf-7b43a8c2 {
		line-height: 22px;
	}
	.__pf .pf-aac53ce1 {
		font-size: 16px;
	}
	.__pf .pf-3ce11388 {
		padding: 10px 80px;
		 color: rgb(255, 255, 255);
		 background-color: rgba(34, 25, 77, 0);
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 border-width: 1px;
	}
	.__pf .pf-3ce11388:hover {
		padding-left: 80px;
		 padding-right: 80px;
	}
	.__pf .pf-69f8b7a5 {
		margin-top: -35px;
		 background-position: 50% 100%;
		 background-image: url("https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-b423d00c--MG5747-Edited.jpg?v=1598362700&selected");
		 padding-bottom: 20px;
		 padding-top: 300px;
		 margin-bottom: 0px;
	}
	.__pf .pf-a1d72c01 {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-c6eebc1a {
		text-align: center;
		 font-family: Montserrat;
		 margin-top: 0px;
	}
	.__pf .pf-bc1a5f31 {
		text-align: center;
		 font-family: Muli;
		 padding-bottom: 15px;
	}
	.__pf .pf-19732efe {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-19732efe:hover {
		padding-left: 90px;
		 padding-right: 90px;
	}
	.__pf .pf-0a80a79b {
		text-align: center;
	}
	.__pf .pf-51c12966 {
		padding: 10px 50px;
		 color: rgb(255, 255, 255);
		 background-color: rgba(34, 25, 77, 0);
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 border-width: 1px;
	}
	.__pf .pf-6fa1a0c9 {
		background-image: url("https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-4a62f8d3--IMG2779.jpg?v=1597913225&selected");
		 background-position: 50% 50%;
		 background-attachment: scroll;
		 background-size: cover;
		 text-align: center;
		 padding-top: 250px;
		 padding-bottom: 50px;
	}
	.__pf .pf-5f073acb {
		padding: 10px 1px;
		 color: rgb(0, 0, 0);
		 background-color: rgba(34, 25, 77, 0);
		 border-style: solid;
		 border-color: rgb(0, 0, 0);
		 border-width: 1px;
	}
	.__pf .pf-5f073acb:hover {
		padding-left: 1px;
		 padding-right: 1px;
	}
	.__pf .pf-3acbb9ee {
		background-image: url("https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-4f64e5d7--Webpnetresizeimage-2.jpg?v=1596718482&selected");
		 background-position: 50% 50%;
		 background-attachment: scroll;
		 background-size: cover;
		 padding-bottom: 40px;
		 text-align: center;
		 padding-top: 160px;
		 margin-top: -20px;
	}
	.__pf .pf-feefd1c0 {
		padding: 10px 25px;
		 color: rgb(255, 255, 255);
		 background-color: rgba(34, 25, 77, 0);
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 border-width: 1px;
	}
	.__pf .pf-feefd1c0:hover {
		padding-left: 25px;
		 padding-right: 25px;
	}
	.__pf .pf-d1c0e2c1 {
		background-image: url("https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-2f90a616--IMG2700-Edited.jpg?v=1595497113&selected");
		 background-position: 50% 50%;
		 background-attachment: local;
		 background-size: cover;
		 padding-bottom: 40px;
		 text-align: center;
		 padding-top: 160px;
		 margin-top: -20px;
	}
	.__pf .pf-cc437d59 {
		padding-bottom: 40px;
	}
	.__pf .pf-f4d725f7 {
		font-size: 22px;
	}
	.__pf .pf-7bd31843 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-18436105 {
		margin-left: 0px;
	}
	.__pf .pf-7b6d9a3b {
		padding-top: 35px;
	}
	.__pf .pf-2615cbd2 {
		width: 80px;
		 height: auto;
	}
	.__pf .pf-321c2968 {
		width: 120px;
		 height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-c9217bc1 {
		padding-top: 35px;
	}
	.__pf .pf-704eb578 {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-bc635cfd {
		width: 100%;
		 height: auto;
		 padding-right: 5px;
		 padding-left: 5px;
	}
	.__pf .pf-1964c265 {
		min-height: 247px;
	}
	.__pf .pf-c265974f {
		text-align: left;
		 font-family: Montserrat;
	}
	.__pf .pf-974f6e1c {
		text-align: left;
		 font-family: Muli;
	}
	.__pf .pf-54e55947 {
		text-align: left;
	}
	.__pf .pf-e9c47413 {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-50bbe9fd {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
		 background-color: rgb(235, 76, 90);
	}
	.__pf .pf-6fdc8d2a {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
		 background-color: rgb(235, 76, 90);
	}
	.__pf .pf-347cc8f0 {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
		 background-color: rgb(235, 76, 90);
	}
	.__pf .pf-5a835e82 {
		margin: 0px;
		 padding: 0px;
	}
	.__pf .pf-1442eee1 {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-bcb90c13 {
		text-align: center;
		 font-family: Montserrat;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-7e55feed {
		display: block;
	}
	.__pf .pf-41c8bfcd {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-36105c32 {
		font-size: 14px;
		 font-family: Muli;
	}
	.__pf .pf-bfcd8d07 {
		padding: 10px 35px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-bfcd8d07:hover {
		padding-left: 35px;
		 padding-right: 35px;
	}
	.__pf .pf-8d07181a {
		text-align: center;
		 padding-bottom: 30px;
	}
	.__pf .pf-07d30099 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-9ddd7822 {
		font-size: 14px;
		 font-family: Muli;
	}
	.__pf .pf-00994d80 {
		padding: 10px 35px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-00994d80:hover {
		padding-left: 35px;
		 padding-right: 35px;
	}
	.__pf .pf-4d80d29a {
		text-align: center;
		 padding-bottom: 30px;
	}
	.__pf .pf-10b715aa {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-9010c10c {
		font-size: 14px;
		 font-family: Muli;
	}
	.__pf .pf-15aa93af {
		padding: 10px 35px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-15aa93af:hover {
		padding-left: 35px;
		 padding-right: 35px;
	}
	.__pf .pf-93af64a4 {
		text-align: center;
	}
	.__pf .pf-cda173f5 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-adf93f26 {
		font-size: 14px;
		 font-family: Muli;
	}
	.__pf .pf-73f53564 {
		padding: 10px 35px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-73f53564:hover {
		padding-left: 35px;
		 padding-right: 35px;
	}
	.__pf .pf-3564dcba {
		text-align: center;
	}
	.__pf .pf-fe571fb2 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-3f2867b2 {
		font-size: 14px;
		 font-family: Muli;
	}
	.__pf .pf-1fb2a9c4 {
		padding: 10px 35px;
		 color: rgb(255, 255, 255);
		 background-color: rgba(222, 171, 91, 0.7);
	}
	.__pf .pf-1fb2a9c4:hover {
		padding-left: 35px;
		 padding-right: 35px;
	}
	.__pf .pf-a9c4fcda {
		text-align: center;
	}
	.__pf .pf-2f58a5c7 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-57b41163 {
		font-size: 14px;
		 font-family: Muli;
	}
	.__pf .pf-a5c72b78 {
		padding: 10px 35px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-a5c72b78:hover {
		padding-left: 35px;
		 padding-right: 35px;
	}
	.__pf .pf-2b7861af {
		text-align: center;
	}
	.__pf .pf-d085f17d {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-d86998dd {
		font-size: 14px;
		 font-family: Muli;
	}
	.__pf .pf-f17dd9db {
		padding: 10px 35px;
		 color: rgb(255, 255, 255);
		 background-color: rgba(222, 171, 91, 0.7);
	}
	.__pf .pf-f17dd9db:hover {
		padding-left: 35px;
		 padding-right: 35px;
	}
	.__pf .pf-d9dbf7d7 {
		text-align: center;
	}
	.__pf .pf-b7c17667 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-afc96bec {
		font-size: 14px;
		 font-family: Muli;
	}
	.__pf .pf-76673ced {
		padding: 10px 35px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-76673ced:hover {
		padding-left: 35px;
		 padding-right: 35px;
	}
	.__pf .pf-3ced2b90 {
		text-align: center;
	}
	.__pf .pf-e44c11d9 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-472c0b74 {
		font-size: 14px;
		 font-family: Muli;
	}
	.__pf .pf-11d964ea {
		padding: 10px 35px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-11d964ea:hover {
		padding-left: 35px;
		 padding-right: 35px;
	}
	.__pf .pf-64ea89b7 {
		text-align: center;
	}
	.__pf .pf-8a25a378 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-e51cd4e6 {
		font-size: 14px;
		 font-family: Muli;
	}
	.__pf .pf-a378ac57 {
		padding: 10px 35px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-a378ac57:hover {
		padding-left: 35px;
		 padding-right: 35px;
	}
	.__pf .pf-ac577b82 {
		text-align: center;
	}
	.__pf .pf-b7c5b8cf {
		height: 342px;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-b7c5b8cf > button {
		color: rgb(74, 74, 74);
		 height: 456px;
		 margin-left: 0px;
		 margin-right: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-b7c5b8cf > button:active {
		height: 456px;
	}
	.__pf .pf-b56333fa {
		display: block;
		 margin-left: 0px;
		 margin-right: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-33fae5a2 {
		margin-left: -14px;
		 margin-right: -14px;
		 display: block;
	}
	.__pf .pf-e5a2dc65 {
		background-color: rgba(255, 238, 223, 0.5);
	}
	.__pf .pf-2169c550 {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-3f38ad08 {
		text-align: center;
		 font-family: Montserrat;
		 margin-top: 0px;
	}
	.__pf .pf-ad08edf6 {
		text-align: center;
		 font-family: Muli;
		 font-size: 16px;
	}
	.__pf .pf-edf60acb {
		padding: 10px 40px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-edf60acb:hover {
		padding-left: 90px;
		 padding-right: 90px;
	}
	.__pf .pf-bb4ca115 {
		text-align: center;
	}
	.__pf .pf-45093f38 {
		width: 100%;
		 height: auto;
		 margin: 0px;
		 padding: 0px;
	}
	.__pf .pf-0acbbb4c {
		padding: 0px;
		 margin: 0px;
	}
	.__pf .pf-a1155a83 {
		display: flex;
		 flex-direction: column-reverse;
		 padding: 0px;
		 margin: 0px;
	}
	.__pf .pf-78fae061 {
		text-align: center;
		 font-family: Montserrat;
		 margin-top: 0px;
		 font-size: 26px;
	}
	.__pf .pf-29945650 {
		text-align: center;
		 font-family: Montserrat;
		 font-size: 16px;
		 margin-bottom: 30px;
	}
	.__pf .pf-776fa18e {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-776fa18e:hover {
		padding: 10px 90px;
	}
	.__pf .pf-ab3f3abf {
		text-align: center;
		 font-family: Montserrat;
		 font-size: 16px;
		 margin-bottom: 30px;
	}
	.__pf .pf-cf61cea9 {
		margin-bottom: 0px;
		 margin-top: 30px;
	}
	.__pf .pf-cea9cd5c {
		margin-bottom: 0px;
		 margin-top: 30px;
		 width: 100px;
		 height: auto;
	}
	.__pf .pf-c65678fa {
		width: 100%;
		 height: auto;
		 margin: 0px;
		 padding: 0px;
	}
	.__pf .pf-a18e0487 {
		padding: 0px;
		 margin: 0px;
	}
	.__pf .pf-0bd7b913 {
		display: flex;
		 flex-direction: column-reverse;
		 padding: 0px;
		 margin: 0px;
	}
	.__pf .pf-b913f2d1 {
		margin: 0px;
		 padding: 0px;
	}
	.__pf .pf-70ec805e {
		text-align: center;
		 font-family: Montserrat;
	}
	.__pf .pf-805e0b59 {
		background-size: cover;
		 background-repeat: no-repeat;
		 display: block;
	}
	.__pf .pf-0b59e939 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-270badc5 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-e939e361 {
		height: 500px;
	}
	.__pf .pf-e939e361 > button {
		margin-left: -90px;
		 margin-right: -90px;
		 margin-bottom: 20px;
	}
	.__pf .pf-e36117d2 {
		display: block;
	}
	.__pf .pf-e5c113eb {
		margin-top: 30px;
	}
	.__pf .pf-0e1cfb62 {
		font-size: 18px;
		 margin-bottom: 0px;
		 font-family: Montserrat;
		 text-align: left;
		 padding-left: 20px;
	}
	.__pf .pf-77bb8cb4 {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
		 background-color: rgb(235, 76, 90);
	}
	.__pf .pf-d2bc36de {
		margin-bottom: -10px;
	}
	.__pf .pf-a7b14e4a {
		font-size: 18px;
		 margin-bottom: 0px;
		 font-family: Montserrat;
		 text-align: left;
		 padding-left: 20px;
	}
	.__pf .pf-36de7dd2 {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
		 background-color: rgb(235, 76, 90);
	}
	.__pf .pf-b1b64a54 {
		margin-bottom: 0px;
	}
	.__pf .pf-189451c8 {
		font-size: 18px;
		 margin-bottom: 0px;
		 font-family: Montserrat;
		 text-align: left;
		 padding-left: 20px;
	}
	.__pf .pf-4a547eec {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
		 background-color: rgb(235, 76, 90);
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-f4d725f7 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-25f7394a {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-394a6d07 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-2b75d176 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-bd06d1ed {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-6d07ef5b {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-ef5b4ac1 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-12eedba5 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-a44939bc {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-e1ff704e {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-5cbf8b42 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-8b4263dc {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-c368e3b5 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-e3b5a469 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 18px;
		 text-align: center;
	}
	.__pf .pf-b7c5b8cf {
		height: 220px;
	}
	.__pf .pf-45093f38 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-c65678fa {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-805e0b59 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-0b59e939 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-270badc5 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-e939e361 {
		height: 500px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-69f8b7a5 {
		padding-bottom: 100px;
		 padding-top: 100px;
		 margin-bottom: 0px;
	}
	.__pf .pf-c6eebc1a {
		text-align: center;
	}
	.__pf .pf-bc1a5f31 {
		text-align: center;
	}
	.__pf .pf-0a80a79b {
		text-align: center;
	}
	.__pf .pf-bc635cfd {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-50bbe9fd {
		font-size: 16px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-50bbe9fd:hover {
		padding: 16px 20px;
		 font-size: 16px;
	}
	.__pf .pf-9448c38c {
		min-height: 1px;
		 padding-top: 450px;
		 padding-bottom: 100px;
		 background-position: 50% 50%;
	}
	.__pf .pf-6fdc8d2a {
		font-size: 16px;
		 padding-left: 10px;
		 padding-right: 10px;
		 color: rgb(0, 0, 0);
		 border-style: solid;
		 border-color: rgb(0, 0, 0);
	}
	.__pf .pf-6fdc8d2a:hover {
		padding: 16px 10px;
		 font-size: 16px;
	}
	.__pf .pf-8d2a37d6 {
		background-position: 100% 50%;
	}
	.__pf .pf-347cc8f0 {
		font-size: 16px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-347cc8f0:hover {
		padding: 16px 20px;
		 font-size: 16px;
	}
	.__pf .pf-c8f09d34 {
		background-position: 50% 50%;
	}
	.__pf .pf-1442eee1 {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-b7c5b8cf {
		height: 220px;
	}
	.__pf .pf-2169c550 {
		padding-bottom: 10px;
		 padding-top: 10px;
	}
	.__pf .pf-3f38ad08 {
		text-align: center;
	}
	.__pf .pf-bb4ca115 {
		text-align: center;
	}
	.__pf .pf-a1155a83 {
		display: flex;
		 flex-direction: column-reverse;
		 text-align: center;
	}
	.__pf .pf-0bd7b913 {
		display: flex;
		 flex-direction: column-reverse;
	}
	.__pf .pf-805e0b59 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-0b59e939 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-270badc5 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-e939e361 {
		height: 500px;
	}
}
						

 .kkgvSC { display: none; }