/* PageFly Element Styles */
						.jHjrlE { padding-top: 20px; padding-bottom: 20px; }
.jHjrlE__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.jHjrlE__button > i { margin-right: 5px; }
.jHjrlE .icon_position { position: absolute; right: 10px; }
.jHjrlE .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; padding: 10px 15px; appearance: none; color: black; text-align: left; outline: none; display: block; position: relative; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.kCAYOZ { visibility: hidden; }
.kCAYOZ.pf-slider-wrapper { overflow: hidden; position: relative; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-prev-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-prev-nav { left: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-next-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-next-nav { right: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-prev-nav { left: 0px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-next-nav { right: 0px; }
.kCAYOZ.pf-slider-mouse-event-off > * { pointer-events: none; }
.kCAYOZ .pf-slider-inner { overflow: hidden; }
.kCAYOZ .pf-slider-slide { will-change: contents; position: absolute; transform: translate3d(100%, 0px, 0px); overflow: hidden; top: 0px; }
.kCAYOZ .pf-slider-nav { position: absolute; z-index: 999; cursor: pointer; border: 0px; background: transparent; top: 50%; transform: translateY(-50%); padding: 0px; transition: all 0.3s ease 0s; }
.kCAYOZ .pf-slider-nav:focus { outline: 0px; }
.kCAYOZ .pf-slider-nav::before { font-size: 14px; color: rgb(255, 255, 255); font-family: FontAwesome; }
.kCAYOZ .pf-slider-nav.nav-style-1 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgba(0, 0, 0, 0.4); border-radius: 100%; }
.kCAYOZ .pf-slider-nav.nav-style-1:hover { background: rgb(0, 0, 0); }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-prev-nav { left: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-next-nav { right: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-2, .kCAYOZ .pf-slider-nav.nav-style-4, .kCAYOZ .pf-slider-nav.nav-style-5 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgb(3, 3, 3); border-radius: 3px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-2:hover, .kCAYOZ .pf-slider-nav.nav-style-4:hover, .kCAYOZ .pf-slider-nav.nav-style-5:hover { background: rgb(23, 23, 23); }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3 { padding: 20px; text-shadow: rgb(0, 0, 0) 0px 0px 1px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-3::before { font-size: 24px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-5 { top: auto; bottom: 5%; opacity: 1; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { right: 62px; border-radius: 3px 0px 0px 3px; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 20px; border-radius: 0px 3px 3px 0px; }
.kCAYOZ .pf-slider-nav-disabled { pointer-events: none; }
.kCAYOZ .pf-slider-pagination { position: absolute; bottom: 15px; left: 0px; width: 100%; padding: 0px; margin: 0px; text-align: center; z-index: 1; }
.kCAYOZ .pf-slider-pagination li { display: inline-block; margin: 0px 5px; background: rgb(187, 187, 187); opacity: 1; transition: all 0.3s ease 0s; cursor: pointer; }
.kCAYOZ .pf-slider-pagination li.active, .kCAYOZ .pf-slider-pagination li:hover { background: rgb(33, 33, 33); }
.kCAYOZ .pf-slider-pagination.pagination-style-1 li { width: 20px; height: 5px; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li { position: relative; width: 8px; height: 8px; background: transparent; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li::after { position: absolute; content: ""; left: -2px; top: -2px; width: 12px; height: 12px; border: 1px solid rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li.active { background: rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li { position: relative; width: 16px; height: 16px; border: 2px solid rgb(255, 255, 255); background: transparent; border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li.active::after { position: absolute; content: ""; top: 3px; left: 3px; right: 3px; bottom: 3px; width: 6px; border: 2px solid rgb(255, 255, 255); border-radius: 100%; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gluJHn { display: flex; flex-direction: column; }
.gluJHn label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-xs); }
}
.gluJHn .pf-p-variant { display: flex; flex-direction: column; }
.gluJHn .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
}
.gluJHn select { min-height: 30px; appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.gluJHn select:focus { outline: none; }
.gluJHn select option { color: inherit; }
.gluJHn .pf-p-variant-radio { display: inline-flex; align-items: center; flex-wrap: wrap; }
.gluJHn .pf-p-variant-radio:not(:last-child) { margin-right: 16px; }
.gluJHn .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .gluJHn { flex-direction: column; }
  .gluJHn label { display: block; }
  .gluJHn .pf-p-variant-radio { display: inline-flex; }
}
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.kkPGoW.edit { text-align: center; margin-bottom: 15px; }
.kkPGoW.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-4fb35428 {
		width: 481px;
		 height: auto;
	}
	.__pf .pf-b354282f {
		padding: 0px 50px;
	}
	.__pf .pf-f65f6a47 {
		color: rgb(255, 255, 255);
		 font-size: 2.5em;
		 font-family: Muli;
	}
	.__pf .pf-f628e0b4 {
		font-size: 1.2em;
		 color: rgb(255, 255, 255);
		 font-family: Muli;
	}
	.__pf .pf-e99c8f05 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 padding: 1em 75px;
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
	}
	.__pf .pf-e99c8f05:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
		 padding: 1em 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-9c8f05b9 {
		padding: 15px;
	}
	.__pf .pf-8f05b9fa {
		display: flex;
		 flex-direction: row-reverse;
	}
	.__pf .pf-05b9fa59 {
		background-size: cover;
		 padding-top: 100px;
		 padding-bottom: 100px;
		 background-position: 50% 50%;
		 margin-top: -55px;
		 background-color: rgb(74, 63, 60);
		 text-align: left;
	}
	.__pf .pf-516c1256 {
		text-align: center;
		 font-family: Muli;
		 font-size: 1.7em;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-6c1256f5 {
		margin-bottom: 20px;
	}
	.__pf .pf-201b434d {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-c026bf29 {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-26bf2905 {
		text-align: center;
	}
	.__pf .pf-05cce6ed {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-7466cd9e {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-66cd9e13 {
		text-align: center;
	}
	.__pf .pf-13e82553 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-f13f8a48 {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-3f8a4877 {
		text-align: center;
	}
	.__pf .pf-8a4877be {
		margin-bottom: 60px;
	}
	.__pf .pf-2bad61da {
		text-align: center;
		 font-family: Muli;
		 font-size: 1.7em;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-f94eeab8 {
		text-align: center;
		 font-family: Muli;
		 font-size: 1.7em;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-ee5379f7 {
		text-align: center;
		 font-family: Muli;
	}
	.__pf .pf-79f771dc {
		border-style: solid;
		 border-width: 1px 0px 0px;
		 border-color: rgb(222, 171, 91);
		 margin-top: 10px;
		 margin-bottom: 10px;
		 padding-top: 60px;
		 padding-bottom: 20px;
	}
	.__pf .pf-f771dc53 {
		padding-top: 25px;
		 padding-bottom: 25px;
	}
	.__pf .pf-55462e89 {
		margin-top: 0px;
		 margin-bottom: 15px;
		 font-family: "Roboto Slab";
		 font-size: 30px;
		 font-weight: 700;
	}
	.__pf .pf-5977508e {
		text-align: left;
		 font-family: Muli;
		 font-size: 1.7em;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-2e896ff8 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-2e896ff8:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-6ff805fd {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 255, 255, 0.67);
		 padding: 12px;
	}
	.__pf .pf-8506db04 {
		padding: 10px;
	}
	.__pf .pf-05fd428d {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-05fd428d:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-428d1efc {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 255, 255, 0.67);
		 padding: 12px;
	}
	.__pf .pf-db040827 {
		padding: 10px;
	}
	.__pf .pf-1efcfa44 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-1efcfa44:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-fa44c5a4 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 255, 255, 0.67);
		 padding: 12px;
	}
	.__pf .pf-08278cae {
		padding: 10px;
	}
	.__pf .pf-c5a4e040 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-c5a4e040:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-e040c4ed {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 255, 255, 0.67);
		 padding: 12px;
	}
	.__pf .pf-8cae5b41 {
		padding: 10px;
	}
	.__pf .pf-c4edf653 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-c4edf653:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-f6532680 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 255, 255, 0.67);
		 padding: 12px;
	}
	.__pf .pf-5b41dafe {
		padding: 10px;
	}
	.__pf .pf-2680c2e9 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-2680c2e9:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-c2e9127d {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 255, 255, 0.67);
		 padding: 12px;
	}
	.__pf .pf-dafeace4 {
		padding: 10px;
	}
	.__pf .pf-127d7ba2 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-127d7ba2:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-7ba26346 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 255, 255, 0.67);
		 padding: 12px;
	}
	.__pf .pf-ace4581a {
		padding: 10px;
	}
	.__pf .pf-63460f2f {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-63460f2f:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-0f2fc324 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 255, 255, 0.67);
		 padding: 12px;
	}
	.__pf .pf-581a802a {
		padding: 10px;
	}
	.__pf .pf-c3241f2f {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-c3241f2f:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-1f2f67a2 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 255, 255, 0.67);
		 padding: 12px;
	}
	.__pf .pf-802a6fed {
		padding: 10px;
	}
	.__pf .pf-67a27fb2 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-67a27fb2:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-7fb24e42 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 255, 255, 0.67);
		 padding: 12px;
	}
	.__pf .pf-6fed8602 {
		padding: 10px;
	}
	.__pf .pf-aaa6e065 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-aa972ae6 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(170, 138, 134);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 padding-bottom: 30px;
	}
	.__pf .pf-2ae609fe {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-09fe453c {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-b5fe3a52 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-453cfca1 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-fca10e88 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-3a52c77f {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-0e884ef1 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-4ef1d0af {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-c77fcae2 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-d0afb476 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-b476acdf {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-cae2ed14 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-acdf5f41 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-5f41e74f {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-ed14524d {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-e74fccce {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-ccceea22 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-524ddf64 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-501a5767 {
		height: 220px;
	}
	.__pf .pf-8c3b71b5 {
		text-align: center;
	}
	.__pf .pf-0a2fcb24 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 10px 100px;
		 font-family: Muli;
		 margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-0a2fcb24:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Muli;
	}
	.__pf .pf-ea226809 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 10px;
	}
	.__pf .pf-f3ce0f90 {
		width: 190px;
		 height: auto;
		 margin-bottom: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-0f90aa97 {
		width: 110px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 5px;
		 padding-right: 0px;
	}
	.__pf .pf-71b5d6e5 {
		text-align: center;
		 padding-top: 30px;
	}
	.__pf .pf-c1c17050 {
		margin-bottom: 15px;
	}
	.__pf .pf-c1c17050 > div > div:first-child {
		height: 200px;
	}
	.__pf .pf-70508889 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-888928a0 {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
	}
	.__pf .pf-ad63cb91 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 10px;
		 font-family: Muli;
		 margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-ad63cb91:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Muli;
	}
	.__pf .pf-63cb917f {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-cb917fb5 {
		height: 100%;
	}
	.__pf .pf-917fb5d1 {
		text-align: center;
		 height: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-4fb35428 {
		width: 100%;
		 height: auto;
		 padding: 30px;
	}
	.__pf .pf-f65f6a47 {
		font-size: 30px;
	}
	.__pf .pf-e99c8f05 {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-e99c8f05:hover {
		padding: 10px 90px;
	}
	.__pf .pf-9c8f05b9 {
		text-align: center;
	}
	.__pf .pf-05b9fa59 {
		padding-top: 100px;
		 padding-bottom: 100px;
	}
	.__pf .pf-201b434d {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-05cce6ed {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-13e82553 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-2bad61da {
		font-size: 25px;
	}
	.__pf .pf-7fb5d1fd {
		margin-top: -15px;
	}
	.__pf .pf-55462e89 {
		margin-bottom: 30px;
		 font-size: 24px;
	}
	.__pf .pf-2ae609fe {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-09fe453c {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-453cfca1 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-fca10e88 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-0e884ef1 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-4ef1d0af {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-d0afb476 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-b476acdf {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-acdf5f41 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-5f41e74f {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-e74fccce {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-ccceea22 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-501a5767 {
		height: 175px;
	}
	.__pf .pf-501a5767 > button {
		background-color: rgb(255, 255, 255);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-57678c3b {
		padding-bottom: 20px;
	}
	.__pf .pf-0a2fcb24 {
		margin-left: 20px;
		 margin-right: 20px;
		 padding-left: 70px;
		 padding-right: 70px;
	}
	.__pf .pf-ea226809 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-df64c814 {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-f3ce0f90 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 160px;
		 height: auto;
	}
	.__pf .pf-f3ce0f90:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-0f90aa97 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 120px;
		 height: auto;
	}
	.__pf .pf-0f90aa97:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-331bb5fe {
		margin-top: 0px;
	}
	.__pf .pf-71b5d6e5 {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-c1c17050 > div > div:first-child {
		height: 160px;
	}
	.__pf .pf-70508889 {
		font-size: 16px;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-ad63cb91 {
		margin-left: 20px;
		 margin-right: 20px;
	}
	.__pf .pf-cb917fb5 {
		margin-top: -2px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-201b434d {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-05cce6ed {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-13e82553 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-aa972ae6 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-2ae609fe {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-453cfca1 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-0e884ef1 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-d0afb476 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-acdf5f41 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-e74fccce {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-501a5767 {
		height: 220px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-501a5767 {
		height: 220px;
	}
	.__pf .pf-f3ce0f90 {
		margin-left: 0px;
	}
	.__pf .pf-0f90aa97 {
		margin-left: 15px;
	}
}
						

 