/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width: var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geCFJR { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.geCFJR.prev-arrow { left: 16px; top: calc(50% - 16px); }
.geCFJR.next-arrow { right: 16px; top: calc(50% - 16px); }
.geCFJR i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.geCFJR.pf-show-nav { opacity: 1; }
@media (min-width: 992px) {
  .vHMOL .sc-qQZrP { display: none; }
}
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 1; }
.vHMOL .sc-qQZrP.prev-arrow { left: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { color: rgb(93, 107, 130); transform: none; }
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 0; }
.vHMOL .sc-qQZrP.prev-arrow { left: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { transform: none; }
.vHMOL:hover .sc-qQZrP { opacity: 1; }
.vHMOL:hover .sc-qQZrP.prev-arrow { left: 16px; }
.vHMOL:hover .sc-qQZrP.next-arrow { right: 16px; }
.SfOJX { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.SfOJX .sc-qZusK { position: relative; display: flex; flex: 1 1 auto; }
.SfOJX.pf-show-arrow .sc-qQZrP { opacity: 1; }
.SfOJX.pf-show-arrow .sc-qQZrP.prev-arrow { left: 16px; }
.SfOJX.pf-show-arrow .sc-qQZrP.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .SfOJX .sc-pHHLp { display: none; }
}
@media (min-width: 1200px) {
  .SfOJX .sc-pHHLp { display: none; }
}
.gmWBgT { position: relative; display: flex; margin-top: 10px; }
.gmWBgT .icon-left { transform: rotate(180deg); }
.gmWBgT .icon-right { right: 0px; }
.gmWBgT .icon-left:hover, .gmWBgT .icon-right:hover { opacity: 0.5; }
.gmWBgT .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 355px; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll .sc-psbuI { width: 53px; height: 61px; float: left; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll .sc-psbuI img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.gmWBgT .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .gmWBgT { display: none; }
}
.jnSTcn { position: relative; vertical-align: middle; width: 100%; height: 450px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jnSTcn { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jnSTcn { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .jnSTcn { display: var(--pf-d-xs); }
}
.jnSTcn img { border-radius: 4px; width: 100%; }
.jnSTcn a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .jnSTcn { margin: 0px; }
}
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.daLzjN { display: inline-flex; }
.daLzjN input { width: 60px; height: 40px; outline: none; text-align: center; padding: 0px; border: 1px solid rgb(209, 213, 219); border-radius: 4px; }
.daLzjN input[data-hidespinner="true"] { }
.daLzjN input[data-hidespinner="true"]::-webkit-outer-spin-button, .daLzjN input[data-hidespinner="true"]::-webkit-inner-spin-button { appearance: none; }
.daLzjN input:not(:first-child) { margin: 0px 4px; }
.daLzjN button { width: 40px; height: 40px; outline: none; border: inherit; border-radius: inherit; padding: 0px; }
.daLzjN button[data-quantity-disabled="true"] { opacity: 0.2; }
.daLzjN .js-qty { margin: 0px 4px; height: 40px; }
.daLzjN .js-qty button { display: none; }
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jGpWza { display: flex; }
.jGpWza label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.jGpWza .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jGpWza .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jGpWza .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jGpWza .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-xs); }
}
.jGpWza .pf-p-variant { display: flex; flex-direction: column; }
.jGpWza .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
  .jGpWza .pf-p-variant { flex: 1 1 0%; }
}
.jGpWza select { min-height: 30px; appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.jGpWza select:focus { outline: none; }
.jGpWza select option { color: inherit; }
.jGpWza .pf-p-variant-radio { display: block; align-items: center; flex-wrap: wrap; }
.jGpWza .pf-p-variant-radio:not(:last-child) { margin-bottom: 8px; }
.jGpWza .pf-p-variant-radio > div:not(:last-child) { margin-bottom: 8px; }
.jGpWza .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .jGpWza { flex-direction: column; }
  .jGpWza label { display: block; }
  .jGpWza .pf-p-variant-radio { display: inline-flex; }
}
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.kkPGoW.edit { text-align: center; margin-bottom: 15px; }
.kkPGoW.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-43926439 {
		font-size: 46px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 50px;
	}
	.__pf .pf-fcb9c686 {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-a7d04564 {
		font-weight: 700;
		 font-size: 20px;
		 font-family: Muli;
		 padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-11d499d8 {
		text-align: center;
		 padding-left: 100px;
		 padding-right: 100px;
		 margin-bottom: 20px;
	}
	.__pf .pf-67c595d6 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-33b3e970 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-align: left;
		 font-size: 1.5em;
	}
	.__pf .pf-0e05ad72 {
		font-family: Muli;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
		 margin-bottom: 5px;
	}
	.__pf .pf-b2a24d14 {
		font-family: Muli;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
		 margin-bottom: 10px;
	}
	.__pf .pf-4d144b85 {
		font-family: Muli;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
		 margin-bottom: 10px;
	}
	.__pf .pf-4b85bf5c {
		font-family: Muli;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
		 margin-bottom: 10px;
	}
	.__pf .pf-bf5c5f58 {
		font-family: Muli;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
		 margin-bottom: 10px;
	}
	.__pf .pf-5f58935d {
		list-style-position: inside;
		 list-style-type: disc;
	}
	.__pf .pf-49eda78d {
		font-family: Muli;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
		 margin-bottom: 5px;
	}
	.__pf .pf-286f72ab {
		font-family: Muli;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
		 margin-bottom: 10px;
	}
	.__pf .pf-72abd64a {
		font-family: Muli;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
		 margin-bottom: 10px;
	}
	.__pf .pf-532ac3ac {
		font-family: Muli;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
		 margin-bottom: 10px;
	}
	.__pf .pf-ad54e52e {
		font-family: Muli;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
		 margin-bottom: 10px;
	}
	.__pf .pf-96482738 {
		list-style-position: inside;
		 list-style-type: disc;
	}
	.__pf .pf-24c7884e {
		margin-top: 5px;
		 margin-bottom: 12px;
		 font-family: Muli;
		 font-size: 12px;
		 text-align: center;
		 color: rgb(155, 155, 155);
	}
	.__pf .pf-05dd8a5b {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-align: left;
		 font-size: 1.5em;
	}
	.__pf .pf-25208943 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-51ee6897 {
		margin-top: 5px;
		 margin-bottom: 12px;
		 font-family: Muli;
		 font-size: 12px;
		 text-align: center;
		 color: rgb(155, 155, 155);
	}
	.__pf .pf-639f83a0 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-align: left;
		 font-size: 1.5em;
	}
	.__pf .pf-ba8ea980 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-15e50572 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-align: left;
		 font-size: 1.5em;
	}
	.__pf .pf-9d960c5e {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-f5c1c7b0 {
		margin-top: 5px;
		 margin-bottom: 12px;
		 font-family: Muli;
		 font-size: 12px;
		 text-align: center;
		 color: rgb(155, 155, 155);
	}
	.__pf .pf-e25d83b1 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-align: left;
		 font-size: 1.5em;
	}
	.__pf .pf-15723cef {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-1b1d9ce8 {
		margin-top: 5px;
		 margin-bottom: 12px;
		 font-family: Muli;
		 font-size: 12px;
		 text-align: center;
		 color: rgb(155, 155, 155);
	}
	.__pf .pf-6e0cef94 {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-align: left;
		 font-size: 1.5em;
	}
	.__pf .pf-328402e8 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-fb3fa6c0 {
		margin-top: 5px;
		 margin-bottom: 12px;
		 font-family: Muli;
		 font-size: 12px;
		 text-align: center;
		 color: rgb(155, 155, 155);
	}
	.__pf .pf-3c0b11d3 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-11d3e1ad {
		padding-top: 85px;
		 padding-bottom: 85px;
	}
	.__pf .pf-ce192a4f {
		font-size: 24px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 color: rgb(170, 138, 134);
	}
	.__pf .pf-36a9a012 {
		margin-bottom: 15px;
	}
	.__pf .pf-36a9a012 > div > div:first-child {
		height: 130px;
	}
	.__pf .pf-a0121513 {
		text-align: center;
		 font-family: Muli;
		 font-size: 1em;
	}
	.__pf .pf-1513f1c1 {
		text-align: center;
		 font-family: Muli;
		 margin: 10px;
	}
	.__pf .pf-73caedce {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 40px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em;
		 font-family: Muli;
	}
	.__pf .pf-edce6f6e {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-6f6ef42f {
		height: 100%;
	}
	.__pf .pf-f42fd90c {
		text-align: center;
		 height: 100%;
	}
	.__pf .pf-81de278c {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-align: left;
		 font-size: 1.5em;
	}
	.__pf .pf-46af2a11 {
		margin-bottom: 15px;
	}
	.__pf .pf-e89bb1d6 > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-e9fe4bbd {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
	}
	.__pf .pf-93abe586 {
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-43926439 {
		font-size: 34px;
	}
	.__pf .pf-11d499d8 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-3c0b11d3 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-11d3e1ad {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-46af2a11 {
		margin-right: 0px;
	}
	.__pf .pf-e9fe4bbd {
		margin-left: 15px;
		 margin-top: 15px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-11d499d8 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-3c0b11d3 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-e9fe4bbd {
		margin-left: 15px;
	}
}
						

 