/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.hdxfhd { display: block; margin-right: 10px; float: left; }
.hdxfhd[contenteditable="true"] { user-select: text; }
.hdxfhd { vertical-align: baseline; word-break: break-word; }
.hdxfhd:focus { outline: none; }
.hdxfhd::after { display: inline; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.hHSLcU > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .hHSLcU span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .hHSLcU span + span[contenteditable]:empty::after { display: inline; }
.hHSLcU ol, .hHSLcU ul { list-style-position: inside; }
.hHSLcU blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-25b9ce38 {
		text-align: center;
		 padding-left: 100px;
		 padding-right: 100px;
		 margin-bottom: 20px;
	}
	.__pf .pf-27e74191 {
		font-family: Barlow;
		 font-size: 15px;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 margin-bottom: 50px;
		 padding: 30px;
		 background-color: rgb(248, 248, 248);
	}
	.__pf .pf-89fb60c5 {
		font-size: 80px;
		 line-height: 70px;
		 font-family: Barlow;
		 font-weight: 600;
	}
	.__pf .pf-60c52ad7 {
		font-family: Barlow;
		 font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-d0eb5a54 {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
	}
	.__pf .pf-acdfd2df {
		font-family: Barlow;
		 font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-dfd2df46 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-d2df46c8 {
		padding-top: 85px;
		 padding-bottom: 85px;
	}
	.__pf .pf-1a035f6e {
		font-size: 24px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 color: rgb(170, 138, 134);
	}
	.__pf .pf-7e1c763a {
		margin-bottom: 15px;
	}
	.__pf .pf-7e1c763a > div > div:first-child {
		height: 130px;
	}
	.__pf .pf-763a2849 {
		text-align: center;
		 font-family: Muli;
		 font-size: 1em;
	}
	.__pf .pf-28497253 {
		text-align: center;
		 font-family: Muli;
		 margin: 10px;
	}
	.__pf .pf-492ffe94 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em;
		 font-family: Muli;
	}
	.__pf .pf-2ffe94d0 {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-fe94d02d {
		height: 100%;
	}
	.__pf .pf-94d02d2c {
		text-align: center;
		 height: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-25b9ce38 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-27e74191 {
		padding: 15px;
	}
	.__pf .pf-dfd2df46 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-d2df46c8 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-25b9ce38 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-dfd2df46 {
		padding-left: 50px;
		 padding-right: 50px;
	}
}
						

 