/* PageFly Element Styles */
						.GftoS { padding-top: 20px; padding-bottom: 20px; }
.GftoS__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.GftoS__button > i { margin-right: 5px; }
.GftoS .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.jHjrlE { padding-top: 20px; padding-bottom: 20px; }
.jHjrlE__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.jHjrlE__button > i { margin-right: 5px; }
.jHjrlE .icon_position { position: absolute; right: 10px; }
.jHjrlE .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; padding: 10px 15px; appearance: none; color: black; text-align: left; outline: none; display: block; position: relative; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.cEqaQK { display: grid; width: 100%; }
.cEqaQK .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.cEqaQK .sc-qXgsJ.pf-hide-badge { display: none; }
.cEqaQK .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; left: calc(50% - 16px); }
.cEqaQK .sc-pbXLt[data-pf-nav="prev"] { top: 4px; }
.cEqaQK .sc-pbXLt[data-pf-nav="next"] { bottom: 4px; }
.cEqaQK .sc-pbXLt i { transform: rotateZ(90deg); }
.cEqaQK .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .cEqaQK .sc-pkURi { display: none; }
  .cEqaQK .mobile_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .tablet_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .laptop_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .all_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.dNfjzh[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gluJHn { display: flex; flex-direction: column; }
.gluJHn label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-xs); }
}
.gluJHn .pf-p-variant { display: flex; flex-direction: column; }
.gluJHn .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
}
.gluJHn select { min-height: 30px; appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.gluJHn select:focus { outline: none; }
.gluJHn select option { color: inherit; }
.gluJHn .pf-p-variant-radio { display: inline-flex; align-items: center; flex-wrap: wrap; }
.gluJHn .pf-p-variant-radio:not(:last-child) { margin-right: 16px; }
.gluJHn .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .gluJHn { flex-direction: column; }
  .gluJHn label { display: block; }
  .gluJHn .pf-p-variant-radio { display: inline-flex; }
}
.kkPGoW.edit { text-align: center; margin-bottom: 15px; }
.kkPGoW.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-b779495b {
		margin-top: -55px;
	}
	.__pf .pf-9fa3097b {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-a3097bf8 {
		padding-bottom: 0px;
	}
	.__pf .pf-726a5f89 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-68bd5e86 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-37cd6f74 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-cd6f7418 {
		text-align: center;
	}
	.__pf .pf-18fda356 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-92149277 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-a0f6215b {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-f6215b7a {
		text-align: center;
	}
	.__pf .pf-7a57ec9c {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-ec7f22e0 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-a3168223 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-1682230e {
		text-align: center;
	}
	.__pf .pf-0e57de48 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-443fd279 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-01fb18f4 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-fb18f413 {
		text-align: center;
	}
	.__pf .pf-13d9f844 {
		width: 140px;
		 height: auto;
		 padding-bottom: 0px;
	}
	.__pf .pf-ac4139fc {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-86201787 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-20178736 {
		text-align: center;
	}
	.__pf .pf-178736c9 {
		background-color: rgba(255, 238, 223, 0.58);
		 padding-top: 35px;
		 padding-bottom: 35px;
	}
	.__pf .pf-ae012990 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 63, 60);
		 text-align: center;
		 margin-bottom: 50px;
	}
	.__pf .pf-29907875 {
		background-repeat: no-repeat;
	}
	.__pf .pf-1f981a53 {
		font-family: Muli;
		 font-weight: 300;
		 padding-left: 30px;
		 padding-right: 30px;
		 padding-top: 20px;
	}
	.__pf .pf-1a53fdea {
		margin-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-188590bc {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-cfeeb7ee {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-d2041f82 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-b66feb1e {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-6feb1ed1 {
		text-align: center;
	}
	.__pf .pf-d145fb1c {
		width: 120px;
		 height: auto;
		 padding-bottom: 15px;
		 padding-top: 5px;
	}
	.__pf .pf-c34635a9 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-0b2b926b {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-2b926bf7 {
		text-align: center;
	}
	.__pf .pf-f75b7403 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-8699d46e {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-6d17bfd1 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-17bfd160 {
		text-align: center;
	}
	.__pf .pf-bfd16087 {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 15px;
		 padding-bottom: 15px;
	}
	.__pf .pf-6c91c661 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-73a0260c {
		text-align: center;
	}
	.__pf .pf-bec3bbfb {
		text-align: center;
		 padding-top: 70px;
		 padding-bottom: 70px;
	}
	.__pf .pf-1a6a9fbe {
		border-style: none;
	}
	.__pf .pf-1a6a9fbe:hover {
		border-style: solid;
		 border-color: rgb(102, 102, 102);
	}
	.__pf .pf-1a6a9fbe[data-active="true"] {
		border-style: solid;
		 border-color: rgb(74, 144, 226);
	}
	.__pf .pf-50792d1f > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-449834d8 {
		text-align: left;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 26px;
	}
	.__pf .pf-df68d615 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-2aecc574 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 70px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-2aecc574:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-bcbddc75 {
		text-align: center;
	}
	.__pf .pf-c57497e5 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-c57497e5:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-97e56512 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-97e56512:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-6512e9ec {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-right: 15px;
		 padding-left: 15px;
		 background: rgb(255, 255, 255);
		 border-color: rgb(255, 255, 255);
		 color: rgba(74, 63, 60, 0.85);
		 padding-bottom: 10px;
		 text-align: left;
	}
	.__pf .pf-6512e9ec[data-active="true"] {
		font-family: Muli;
	}
	.__pf .pf-624fd3e2 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-e9ec3884 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-7e609919 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-38848f81 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-8e1d5323 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 1px;
	}
	.__pf .pf-8f817d2a {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-14b3a4cc {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 5px;
	}
	.__pf .pf-7d2a2fb0 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-db1c751d {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-2fb00ad6 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-eab43251 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px 1px 3px;
	}
	.__pf .pf-0ad61085 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-eb4f8b40 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-1085bd24 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-4e06b2ab {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-bd24b1ed {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-05a33d86 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(74, 63, 60, 0.5);
		 padding-bottom: 10px;
	}
	.__pf .pf-ada3eab8 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 4px;
	}
	.__pf .pf-23155ee2 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-6ec7e301 {
		display: flex;
	}
	.__pf .pf-062c6785 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-5ee2072c {
		display: flex;
	}
	.__pf .pf-072cc26f {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-e301c8d9 {
		display: flex;
	}
	.__pf .pf-41cd1880 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-c26f5739 {
		display: flex;
	}
	.__pf .pf-5739e38b {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-c8d93e4a {
		display: flex;
	}
	.__pf .pf-9d1eeeda {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 4px;
	}
	.__pf .pf-e38bb013 {
		display: flex;
	}
	.__pf .pf-b013fb94 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-3e4a6af8 {
		display: flex;
	}
	.__pf .pf-ccab703e {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-fb94e052 {
		display: flex;
	}
	.__pf .pf-e052d34f {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-6af8ce86 {
		display: flex;
	}
	.__pf .pf-970ede11 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px 1px 3px;
	}
	.__pf .pf-d34ff24f {
		display: flex;
	}
	.__pf .pf-f24f21d3 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-ce86a8e3 {
		display: flex;
	}
	.__pf .pf-60f33d87 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-21d39ca8 {
		display: flex;
	}
	.__pf .pf-9ca81b06 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-a8e31f0f {
		display: flex;
	}
	.__pf .pf-d7978b74 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-1b062147 {
		display: flex;
	}
	.__pf .pf-214795d0 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-1f0f0d71 {
		display: flex;
	}
	.__pf .pf-3d86ac47 {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-bottom: 10px;
	}
	.__pf .pf-48db7e39 {
		text-align: left;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-4ec27d6c {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(255, 238, 223);
	}
	.__pf .pf-66f74934 {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
		 padding-top: 10px;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-95d03a0e {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-95d03a0e:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-3a0e49b9 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-49b9d1aa {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-49b9d1aa:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-c1cc4aef {
		width: 120px;
		 height: auto;
		 margin: 5px 10px 15px 20px;
	}
	.__pf .pf-4aef543d {
		width: 165px;
		 height: auto;
		 margin: 5px 0px 15px 10px;
	}
	.__pf .pf-d1aa3011 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-3011cd47 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-3011cd47:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-cd478062 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-1eb2b1a9 {
		font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-80627adb {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-80627adb:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-7adb3895 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-c15da646 {
		margin-top: 10px;
	}
	.__pf .pf-2f050bf8 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 80px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-2f050bf8:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-0bf8cea9 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-dbd89015 {
		width: 150px;
		 height: auto;
		 margin-bottom: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-90152f05 {
		width: 110px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-fe430c19 {
		margin-top: -25px;
	}
	.__pf .pf-6f3417e5 {
		text-align: center;
	}
	.__pf .pf-1157fe75 {
		text-align: center;
		 padding-top: 70px;
		 padding-bottom: 70px;
	}
	.__pf .pf-855394ae {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 80px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-855394ae:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-94aee2cd {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-b2ae19fc {
		width: 150px;
		 height: auto;
		 margin-bottom: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-19fc8553 {
		width: 110px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-e65344d1 {
		margin-top: -25px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-b779495b {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: -55px;
	}
	.__pf .pf-a3097bf8 {
		padding-bottom: 0px;
	}
	.__pf .pf-726a5f89 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-cd6f7418 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-18fda356 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-f6215b7a {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-7a57ec9c {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-1682230e {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-0e57de48 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-fb18f413 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-13d9f844 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-20178736 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-178736c9 {
		padding-top: 35px;
	}
	.__pf .pf-ae012990 {
		margin-bottom: 60px;
	}
	.__pf .pf-75fbf52f {
		padding-top: 70px;
	}
	.__pf .pf-1f981a53 {
		padding-top: 0px;
	}
	.__pf .pf-981a53fd {
		display: flex;
		 flex-direction: column-reverse;
	}
	.__pf .pf-1a53fdea {
		padding-bottom: 40px;
		 margin-top: 20px;
	}
	.__pf .pf-cfeeb7ee {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-b66feb1e {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-6feb1ed1 {
		padding-top: 10px;
	}
	.__pf .pf-d145fb1c {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-0b2b926b {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-2b926bf7 {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-top: 30px;
	}
	.__pf .pf-f75b7403 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-6d17bfd1 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-17bfd160 {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-top: 30px;
	}
	.__pf .pf-bfd16087 {
		padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-6c91c661 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-73a0260c {
		margin-top: 0px;
	}
	.__pf .pf-260cbec3 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-bec3bbfb {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-50792d1f > div > div:first-child {
		height: 400px;
	}
	.__pf .pf-449834d8 {
		font-size: 18px;
		 margin-bottom: 0px;
		 margin-left: 0px;
		 font-family: Montserrat;
		 text-align: center;
		 margin-top: -15px;
	}
	.__pf .pf-2d1fdf68 {
		text-align: right;
	}
	.__pf .pf-df68d615 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 2px;
	}
	.__pf .pf-e2cbbcbd {
		text-align: left;
	}
	.__pf .pf-0c7628c2 {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-d6152aec {
		text-align: left;
	}
	.__pf .pf-2aecc574 {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-2aecc574:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-c57497e5 {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-c57497e5:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-97e56512 {
		padding-right: 25%;
		 padding-left: 25%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-97e56512:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-c9d705a3 {
		text-align: center;
		 margin-top: -50px;
	}
	.__pf .pf-6512e9ec {
		padding-bottom: 0px;
		 padding-top: 10px;
	}
	.__pf .pf-624fd3e2 {
		border-style: none;
	}
	.__pf .pf-e9ec3884 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-89c153be {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
		 text-align: center;
	}
	.__pf .pf-7e609919 {
		border-style: none;
	}
	.__pf .pf-38848f81 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-53be2ad2 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-8e1d5323 {
		border-style: none;
		 padding: 2px;
	}
	.__pf .pf-8f817d2a {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-2ad22e0e {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-14b3a4cc {
		border-style: none;
		 padding: 4px;
	}
	.__pf .pf-7d2a2fb0 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-2e0e9340 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-db1c751d {
		border-style: none;
	}
	.__pf .pf-2fb00ad6 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-9340968c {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-eab43251 {
		border-style: none;
	}
	.__pf .pf-0ad61085 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-968c65c8 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-eb4f8b40 {
		border-style: none;
	}
	.__pf .pf-1085bd24 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-65c8fe1f {
		display: flex;
	}
	.__pf .pf-4e06b2ab {
		border-style: none;
	}
	.__pf .pf-bd24b1ed {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-fe1f6ec7 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-05a33d86 {
		text-align: right;
		 border-style: none;
		 padding-left: 30px;
		 padding-top: 15px;
	}
	.__pf .pf-ada3eab8 {
		border-style: none;
	}
	.__pf .pf-b1ed2315 {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
	}
	.__pf .pf-23155ee2 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-6ec7e301 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-062c6785 {
		border-style: none;
	}
	.__pf .pf-5ee2072c {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-072cc26f {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-e301c8d9 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-41cd1880 {
		border-style: none;
	}
	.__pf .pf-c26f5739 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-5739e38b {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-c8d93e4a {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-9d1eeeda {
		border-style: none;
	}
	.__pf .pf-e38bb013 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-b013fb94 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-3e4a6af8 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-ccab703e {
		border-style: none;
	}
	.__pf .pf-fb94e052 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-e052d34f {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-6af8ce86 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-970ede11 {
		border-style: none;
	}
	.__pf .pf-d34ff24f {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-f24f21d3 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-ce86a8e3 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-60f33d87 {
		border-style: none;
	}
	.__pf .pf-21d39ca8 {
		display: flex;
	}
	.__pf .pf-9ca81b06 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-a8e31f0f {
		display: flex;
	}
	.__pf .pf-d7978b74 {
		border-style: none;
	}
	.__pf .pf-1b062147 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-214795d0 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-1f0f0d71 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-3d86ac47 {
		text-align: right;
	}
	.__pf .pf-48db7e39 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-4ec27d6c {
		margin-top: -20px;
		 margin-bottom: 10px;
		 text-align: center;
		 margin-left: -15px;
	}
	.__pf .pf-66f74934 {
		padding-top: 25px;
		 padding-bottom: 40px;
		 margin-bottom: 0px;
	}
	.__pf .pf-49b9d1aa {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-c1cc4aef {
		margin: 10px 20px;
	}
	.__pf .pf-4aef543d {
		margin-right: 20px;
		 margin-bottom: 10px;
		 margin-top: 10px;
	}
	.__pf .pf-80627adb {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-c15da646 {
		margin-top: 0px;
		 padding-bottom: 10px;
		 padding-top: 0px;
	}
	.__pf .pf-006173b5 {
		margin-right: 0px;
	}
	.__pf .pf-2f050bf8 {
		padding-right: 25%;
		 padding-left: 25%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-2f050bf8:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-0bf8cea9 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-828e348c {
		margin-left: -20px;
	}
	.__pf .pf-dbd89015 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 160px;
		 height: auto;
	}
	.__pf .pf-dbd89015:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-90152f05 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 120px;
		 height: auto;
	}
	.__pf .pf-90152f05:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-fe430c19 {
		margin-top: 0px;
	}
	.__pf .pf-39bdbe10 {
		margin-top: -30px;
	}
	.__pf .pf-6f3417e5 {
		margin-top: 0px;
	}
	.__pf .pf-17e51157 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-1157fe75 {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-24265d30 {
		margin-right: 0px;
	}
	.__pf .pf-855394ae {
		padding-right: 25%;
		 padding-left: 25%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-855394ae:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-94aee2cd {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-c65d9bbf {
		margin-left: -20px;
	}
	.__pf .pf-b2ae19fc {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 160px;
		 height: auto;
	}
	.__pf .pf-b2ae19fc:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-19fc8553 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 120px;
		 height: auto;
	}
	.__pf .pf-19fc8553:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-e65344d1 {
		margin-top: 0px;
	}
	.__pf .pf-75d97109 {
		margin-top: -30px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-9fa3097b {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-726a5f89 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-68bd5e86 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-37cd6f74 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-18fda356 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-92149277 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-a0f6215b {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-7a57ec9c {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-ec7f22e0 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-a3168223 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-0e57de48 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-443fd279 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-01fb18f4 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-13d9f844 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-ac4139fc {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-86201787 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-ae012990 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-75fbf52f {
		height: auto;
	}
	.__pf .pf-188590bc {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-cfeeb7ee {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-d2041f82 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-b66feb1e {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-d145fb1c {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-c34635a9 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-0b2b926b {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-f75b7403 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-8699d46e {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-6d17bfd1 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-6c91c661 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-bec3bbfb {
		padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-50792d1f > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-1157fe75 {
		padding-top: 50px;
		 padding-bottom: 50px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-b66feb1e {
		text-align: center;
	}
	.__pf .pf-0b2b926b {
		text-align: center;
	}
	.__pf .pf-6d17bfd1 {
		text-align: center;
	}
	.__pf .pf-6c91c661 {
		text-align: center;
	}
	.__pf .pf-260cbec3 {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-2aecc574 {
		margin-left: 15px;
	}
	.__pf .pf-c57497e5 {
		padding-left: 80px;
		 padding-right: 80px;
	}
	.__pf .pf-dc75f8e8 {
		text-align: center;
	}
	.__pf .pf-97e56512 {
		margin-left: 15px;
	}
	.__pf .pf-2f050bf8 {
		margin-left: 0px;
	}
	.__pf .pf-828e348c {
		text-align: center;
	}
	.__pf .pf-dbd89015 {
		margin-left: 0px;
	}
	.__pf .pf-90152f05 {
		margin-left: 0px;
	}
	.__pf .pf-17e51157 {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-855394ae {
		margin-left: 0px;
	}
	.__pf .pf-c65d9bbf {
		text-align: center;
	}
	.__pf .pf-b2ae19fc {
		margin-left: 0px;
	}
	.__pf .pf-19fc8553 {
		margin-left: 0px;
	}
}
						

 