/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.kpEQWN.pfs--topLeft { display: flex; align-items: flex-start; justify-content: flex-start; }
.kpEQWN.pfs--topCenter { display: flex; align-items: flex-start; justify-content: center; }
.kpEQWN.pfs--topRight { display: flex; align-items: flex-start; justify-content: flex-end; }
.kpEQWN.pfs--middleLeft { display: flex; align-items: center; justify-content: flex-start; }
.kpEQWN.pfs--center { display: flex; align-items: center; justify-content: center; }
.kpEQWN.pfs--middleRight { display: flex; align-items: center; justify-content: flex-end; }
.kpEQWN.pfs--bottomLeft { display: flex; align-items: flex-end; justify-content: flex-start; }
.kpEQWN.pfs--bottomCenter { display: flex; align-items: flex-end; justify-content: center; }
.kpEQWN.pfs--bottomRight { display: flex; align-items: flex-end; justify-content: flex-end; }
.kCAYOZ { visibility: hidden; }
.kCAYOZ.pf-slider-wrapper { overflow: hidden; position: relative; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-prev-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-prev-nav { left: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-next-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-next-nav { right: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-prev-nav { left: 0px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-next-nav { right: 0px; }
.kCAYOZ.pf-slider-mouse-event-off > * { pointer-events: none; }
.kCAYOZ .pf-slider-inner { overflow: hidden; }
.kCAYOZ .pf-slider-slide { will-change: contents; position: absolute; transform: translate3d(100%, 0px, 0px); overflow: hidden; top: 0px; }
.kCAYOZ .pf-slider-nav { position: absolute; z-index: 999; cursor: pointer; border: 0px; background: transparent; top: 50%; transform: translateY(-50%); padding: 0px; transition: all 0.3s ease 0s; }
.kCAYOZ .pf-slider-nav:focus { outline: 0px; }
.kCAYOZ .pf-slider-nav::before { font-size: 14px; color: rgb(255, 255, 255); font-family: FontAwesome; }
.kCAYOZ .pf-slider-nav.nav-style-1 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgba(0, 0, 0, 0.4); border-radius: 100%; }
.kCAYOZ .pf-slider-nav.nav-style-1:hover { background: rgb(0, 0, 0); }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-prev-nav { left: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-next-nav { right: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-2, .kCAYOZ .pf-slider-nav.nav-style-4, .kCAYOZ .pf-slider-nav.nav-style-5 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgb(3, 3, 3); border-radius: 3px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-2:hover, .kCAYOZ .pf-slider-nav.nav-style-4:hover, .kCAYOZ .pf-slider-nav.nav-style-5:hover { background: rgb(23, 23, 23); }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3 { padding: 20px; text-shadow: rgb(0, 0, 0) 0px 0px 1px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-3::before { font-size: 24px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-5 { top: auto; bottom: 5%; opacity: 1; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { right: 62px; border-radius: 3px 0px 0px 3px; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 20px; border-radius: 0px 3px 3px 0px; }
.kCAYOZ .pf-slider-nav-disabled { pointer-events: none; }
.kCAYOZ .pf-slider-pagination { position: absolute; bottom: 15px; left: 0px; width: 100%; padding: 0px; margin: 0px; text-align: center; z-index: 1; }
.kCAYOZ .pf-slider-pagination li { display: inline-block; margin: 0px 5px; background: rgb(187, 187, 187); opacity: 1; transition: all 0.3s ease 0s; cursor: pointer; }
.kCAYOZ .pf-slider-pagination li.active, .kCAYOZ .pf-slider-pagination li:hover { background: rgb(33, 33, 33); }
.kCAYOZ .pf-slider-pagination.pagination-style-1 li { width: 20px; height: 5px; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li { position: relative; width: 8px; height: 8px; background: transparent; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li::after { position: absolute; content: ""; left: -2px; top: -2px; width: 12px; height: 12px; border: 1px solid rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li.active { background: rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li { position: relative; width: 16px; height: 16px; border: 2px solid rgb(255, 255, 255); background: transparent; border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li.active::after { position: absolute; content: ""; top: 3px; left: 3px; right: 3px; bottom: 3px; width: 6px; border: 2px solid rgb(255, 255, 255); border-radius: 100%; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.detHrZ { margin: 0px -15px; }
.detHrZ .pf-c { padding: 15px; }
.detHrZ .blog__infos h3 a, .detHrZ .blog__image a { display: block; color: rgb(27, 28, 29); text-decoration: none; font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__infos a { color: rgb(27, 28, 29); text-decoration: none; }
.detHrZ .blog__image img { vertical-align: middle; width: 100%; }
.detHrZ .article--horizontal { display: -webkit-flex; }
.detHrZ .article--horizontal h3 { margin: 0px 0px 10px; }
.detHrZ .article--horizontal .blog__infos { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.detHrZ .article--horizontal .blog__image { flex: 1 1 0%; }
.detHrZ .blog__infos h3 { font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__metas { margin-bottom: 12px; font-size: 12px; }
.detHrZ .blog__metas span + span { margin-left: 10px; }
.detHrZ .blog__image.back { position: relative; overflow: hidden; max-width: 100%; max-height: 350px !important; }
.detHrZ.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.detHrZ.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.jhYSjM { text-align: center; width: 100%; }
.jhYSjM a { width: 32px; height: 32px; display: inline-block; line-height: 32px; margin: 4px; font-size: 12px; border-radius: 2px; border: 1px solid transparent; text-decoration: none; }
.jhYSjM a.pf-cmIatv { pointer-events: none; border: 1px solid rgb(213, 221, 234); font-weight: bold; }
.jhYSjM a:not(.pf-cmIldm):hover { border-color: rgb(213, 221, 234); }
.jhYSjM .pf-cmIldm { width: fit-content; border-bottom: 1px solid; font-weight: bold; border-radius: 0px; text-transform: uppercase; text-decoration: none; }
.jhYSjM .pf-cmIldm[disabled] { opacity: 0.5; border: 0px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-278ee8d0 {
		margin-top: 0px;
		 margin-bottom: 15px;
		 font-family: Montserrat;
		 font-size: 46px;
		 font-weight: 700;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-a6762018 {
		margin-top: 0px;
		 margin-bottom: 30px;
		 font-family: Muli;
		 font-size: 1.2em;
		 line-height: 1.5em;
		 font-weight: 400;
		 color: rgb(102, 102, 102);
	}
	.__pf .pf-4c5f4109 {
		margin-bottom: 20px;
	}
	.__pf .pf-f5d12581 {
		color: rgb(74, 63, 60);
		 background-color: rgba(255, 238, 223, 0.5);
		 margin-top: -55px;
		 padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-b771c64a {
		margin-top: 0px;
		 margin-bottom: 15px;
		 font-family: Montserrat;
		 font-size: 2em;
		 font-weight: 700;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-499cb771 {
		font-family: Muli;
	}
	.__pf .pf-d65c1895 {
		margin-top: 0px;
		 margin-bottom: 15px;
		 font-family: Montserrat;
		 font-size: 2em;
		 font-weight: 700;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-2994cb33 {
		font-family: Muli;
	}
	.__pf .pf-cde209f0 {
		text-align: center;
		 padding-bottom: 50px;
	}
	.__pf .pf-4e45cde2 {
		padding-bottom: 50px;
	}
	.__pf .pf-d9d5c5cf {
		margin-top: 0px;
		 margin-bottom: 15px;
		 font-family: Montserrat;
		 font-size: 2em;
		 font-weight: 700;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-027e5103 {
		margin-top: 0px;
		 margin-bottom: 15px;
		 font-family: Montserrat;
		 font-size: 2em;
		 font-weight: 700;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-5103c7d3 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-c7d36ef7 {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-6ef7c82a {
		height: 500px;
	}
	.__pf .pf-2e7cef90 {
		padding-bottom: 50px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-278ee8d0 {
		font-size: 30px;
	}
	.__pf .pf-f5d12581 {
		padding: 50px 20px;
		 color: rgb(34, 13, 139);
		 background-color: rgba(255, 238, 223, 0.5);
		 margin-top: -55px;
	}
	.__pf .pf-b771c64a {
		font-size: 30px;
	}
	.__pf .pf-d65c1895 {
		font-size: 30px;
	}
	.__pf .pf-d9d5c5cf {
		font-size: 30px;
	}
	.__pf .pf-027e5103 {
		font-size: 30px;
	}
	.__pf .pf-6ef7c82a {
		height: 500px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-6ef7c82a {
		height: 500px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-6ef7c82a {
		height: 500px;
	}
}
						

 