/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width: var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.kCAYOZ { visibility: hidden; }
.kCAYOZ.pf-slider-wrapper { overflow: hidden; position: relative; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-prev-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-prev-nav { left: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-next-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-next-nav { right: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-prev-nav { left: 0px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-next-nav { right: 0px; }
.kCAYOZ.pf-slider-mouse-event-off > * { pointer-events: none; }
.kCAYOZ .pf-slider-inner { overflow: hidden; }
.kCAYOZ .pf-slider-slide { will-change: contents; position: absolute; transform: translate3d(100%, 0px, 0px); overflow: hidden; top: 0px; }
.kCAYOZ .pf-slider-nav { position: absolute; z-index: 999; cursor: pointer; border: 0px; background: transparent; top: 50%; transform: translateY(-50%); padding: 0px; transition: all 0.3s ease 0s; }
.kCAYOZ .pf-slider-nav:focus { outline: 0px; }
.kCAYOZ .pf-slider-nav::before { font-size: 14px; color: rgb(255, 255, 255); font-family: FontAwesome; }
.kCAYOZ .pf-slider-nav.nav-style-1 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgba(0, 0, 0, 0.4); border-radius: 100%; }
.kCAYOZ .pf-slider-nav.nav-style-1:hover { background: rgb(0, 0, 0); }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-prev-nav { left: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-next-nav { right: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-2, .kCAYOZ .pf-slider-nav.nav-style-4, .kCAYOZ .pf-slider-nav.nav-style-5 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgb(3, 3, 3); border-radius: 3px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-2:hover, .kCAYOZ .pf-slider-nav.nav-style-4:hover, .kCAYOZ .pf-slider-nav.nav-style-5:hover { background: rgb(23, 23, 23); }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3 { padding: 20px; text-shadow: rgb(0, 0, 0) 0px 0px 1px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-3::before { font-size: 24px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-5 { top: auto; bottom: 5%; opacity: 1; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { right: 62px; border-radius: 3px 0px 0px 3px; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 20px; border-radius: 0px 3px 3px 0px; }
.kCAYOZ .pf-slider-nav-disabled { pointer-events: none; }
.kCAYOZ .pf-slider-pagination { position: absolute; bottom: 15px; left: 0px; width: 100%; padding: 0px; margin: 0px; text-align: center; z-index: 1; }
.kCAYOZ .pf-slider-pagination li { display: inline-block; margin: 0px 5px; background: rgb(187, 187, 187); opacity: 1; transition: all 0.3s ease 0s; cursor: pointer; }
.kCAYOZ .pf-slider-pagination li.active, .kCAYOZ .pf-slider-pagination li:hover { background: rgb(33, 33, 33); }
.kCAYOZ .pf-slider-pagination.pagination-style-1 li { width: 20px; height: 5px; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li { position: relative; width: 8px; height: 8px; background: transparent; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li::after { position: absolute; content: ""; left: -2px; top: -2px; width: 12px; height: 12px; border: 1px solid rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li.active { background: rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li { position: relative; width: 16px; height: 16px; border: 2px solid rgb(255, 255, 255); background: transparent; border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li.active::after { position: absolute; content: ""; top: 3px; left: 3px; right: 3px; bottom: 3px; width: 6px; border: 2px solid rgb(255, 255, 255); border-radius: 100%; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geCFJR { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.geCFJR.prev-arrow { left: 16px; top: calc(50% - 16px); }
.geCFJR.next-arrow { right: 16px; top: calc(50% - 16px); }
.geCFJR i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.geCFJR.pf-show-nav { opacity: 1; }
@media (min-width: 992px) {
  .vHMOL .sc-qQZrP { display: none; }
}
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 1; }
.vHMOL .sc-qQZrP.prev-arrow { left: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { color: rgb(93, 107, 130); transform: none; }
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 0; }
.vHMOL .sc-qQZrP.prev-arrow { left: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { transform: none; }
.vHMOL:hover .sc-qQZrP { opacity: 1; }
.vHMOL:hover .sc-qQZrP.prev-arrow { left: 16px; }
.vHMOL:hover .sc-qQZrP.next-arrow { right: 16px; }
.SfOJX { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.SfOJX .sc-qZusK { position: relative; display: flex; flex: 1 1 auto; }
.SfOJX.pf-show-arrow .sc-qQZrP { opacity: 1; }
.SfOJX.pf-show-arrow .sc-qQZrP.prev-arrow { left: 16px; }
.SfOJX.pf-show-arrow .sc-qQZrP.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .SfOJX .sc-pHHLp { display: none; }
}
@media (min-width: 1200px) {
  .SfOJX .sc-pHHLp { display: none; }
}
.gmWBgT { position: relative; display: flex; margin-top: 10px; }
.gmWBgT .icon-left { transform: rotate(180deg); }
.gmWBgT .icon-right { right: 0px; }
.gmWBgT .icon-left:hover, .gmWBgT .icon-right:hover { opacity: 0.5; }
.gmWBgT .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 355px; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll .sc-psbuI { width: 53px; height: 61px; float: left; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll .sc-psbuI img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.gmWBgT .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .gmWBgT { display: none; }
}
.jnSTcn { position: relative; vertical-align: middle; width: 100%; height: 450px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jnSTcn { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jnSTcn { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .jnSTcn { display: var(--pf-d-xs); }
}
.jnSTcn img { border-radius: 4px; width: 100%; }
.jnSTcn a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .jnSTcn { margin: 0px; }
}
.daLzjN { display: inline-flex; }
.daLzjN input { width: 60px; height: 40px; outline: none; text-align: center; padding: 0px; border: 1px solid rgb(209, 213, 219); border-radius: 4px; }
.daLzjN input[data-hidespinner="true"] { }
.daLzjN input[data-hidespinner="true"]::-webkit-outer-spin-button, .daLzjN input[data-hidespinner="true"]::-webkit-inner-spin-button { appearance: none; }
.daLzjN input:not(:first-child) { margin: 0px 4px; }
.daLzjN button { width: 40px; height: 40px; outline: none; border: inherit; border-radius: inherit; padding: 0px; }
.daLzjN button[data-quantity-disabled="true"] { opacity: 0.2; }
.daLzjN .js-qty { margin: 0px 4px; height: 40px; }
.daLzjN .js-qty button { display: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jGpWza { display: flex; }
.jGpWza label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.jGpWza .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jGpWza .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jGpWza .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jGpWza .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-xs); }
}
.jGpWza .pf-p-variant { display: flex; flex-direction: column; }
.jGpWza .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
  .jGpWza .pf-p-variant { flex: 1 1 0%; }
}
.jGpWza select { min-height: 30px; appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.jGpWza select:focus { outline: none; }
.jGpWza select option { color: inherit; }
.jGpWza .pf-p-variant-radio { display: block; align-items: center; flex-wrap: wrap; }
.jGpWza .pf-p-variant-radio:not(:last-child) { margin-bottom: 8px; }
.jGpWza .pf-p-variant-radio > div:not(:last-child) { margin-bottom: 8px; }
.jGpWza .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .jGpWza { flex-direction: column; }
  .jGpWza label { display: block; }
  .jGpWza .pf-p-variant-radio { display: inline-flex; }
}
.kkPGoW.edit { text-align: center; margin-bottom: 15px; }
.kkPGoW.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-b73fb22a {
		font-size: 46px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 50px;
	}
	.__pf .pf-b22a5dab {
		width: 590px;
		 height: auto;
	}
	.__pf .pf-98ddd92d {
		margin-top: 5px;
		 margin-bottom: 12px;
		 font-family: Muli;
		 font-size: 12px;
		 text-align: center;
		 color: rgb(155, 155, 155);
	}
	.__pf .pf-ddd92d76 {
		text-align: center;
		 padding-left: 100px;
		 padding-right: 100px;
		 margin-bottom: 20px;
	}
	.__pf .pf-0599a726 {
		font-weight: 700;
		 font-size: 20px;
		 font-family: Muli;
	}
	.__pf .pf-0669a102 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-56a7a67c {
		font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-align: left;
		 font-size: 1.5em;
	}
	.__pf .pf-25af5de8 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-686058a6 {
		margin-top: 5px;
		 margin-bottom: 12px;
		 font-family: Muli;
		 font-size: 12px;
		 text-align: center;
		 color: rgb(155, 155, 155);
	}
	.__pf .pf-fdc085a1 {
		font-family: Muli;
	}
	.__pf .pf-6b4d1aee {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-38ef80d2 {
		font-family: Muli;
	}
	.__pf .pf-1b5455c9 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-b98b6973 {
		font-family: Muli;
	}
	.__pf .pf-03c61e14 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-8b0257c3 {
		font-family: Muli;
	}
	.__pf .pf-d7082ff0 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-fed1d5bf {
		font-family: Muli;
	}
	.__pf .pf-5361420a {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-c2cc3219 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-dd731097 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-96253ef6 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-1d22e4ec {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-22e4ec66 {
		list-style-position: inside;
		 list-style-type: disc;
	}
	.__pf .pf-8b71a3d0 {
		margin-top: 5px;
		 margin-bottom: 12px;
		 font-family: Muli;
		 font-size: 12px;
		 text-align: center;
		 color: rgb(155, 155, 155);
	}
	.__pf .pf-d1ec0ae3 {
		font-family: Muli;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 1.2em;
	}
	.__pf .pf-ec0ae36a {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-0ae36a5f {
		padding-top: 85px;
		 padding-bottom: 85px;
		 margin-top: -55px;
	}
	.__pf .pf-92440ec2 {
		font-size: 24px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 color: rgb(170, 138, 134);
	}
	.__pf .pf-7658aeda {
		font-family: Muli;
	}
	.__pf .pf-aedacf41 {
		margin-bottom: 15px;
	}
	.__pf .pf-8e2d22f7 > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-6f21ebf2 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-21ebf232 {
		margin-bottom: 15px;
	}
	.__pf .pf-b6d8fdc3 {
		font-family: Muli;
	}
	.__pf .pf-fdc379ed {
		margin-bottom: 15px;
	}
	.__pf .pf-dd1e755c > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-fe5e6071 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-5e6071ae {
		margin-bottom: 15px;
	}
	.__pf .pf-d7548bb3 {
		font-family: Muli;
	}
	.__pf .pf-8bb3d339 {
		margin-bottom: 15px;
	}
	.__pf .pf-e3dc956d > button {
		background-color: rgb(255, 255, 255);
		 border-radius: 4px;
		 color: rgb(222, 171, 91);
	}
	.__pf .pf-2c7c19f8 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
	}
	.__pf .pf-7c19f82f {
		margin-bottom: 15px;
	}
	.__pf .pf-beb80ea7 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(170, 138, 134);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 padding-bottom: 30px;
	}
	.__pf .pf-0ea7b258 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-b25812d2 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-31c60776 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-12d202f9 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-02f93384 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-0776ce41 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-338460ac {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-60acf979 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-ce4198fb {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-f979c9dc {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-c9dc8fb5 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-98fb992e {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-8fb540c8 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-40c89e0f {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-992e6dd4 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-9e0f2c13 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-2c13fa06 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-6dd47b90 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-640ec4b2 {
		height: 220px;
	}
	.__pf .pf-222b8b75 {
		text-align: center;
	}
	.__pf .pf-fa06e4f4 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 10px;
	}
	.__pf .pf-ac30028f {
		width: 150px;
		 height: auto;
		 margin-bottom: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-028fbeb8 {
		width: 110px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-8b7550dc {
		text-align: center;
		 padding-top: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-b73fb22a {
		font-size: 34px;
	}
	.__pf .pf-ddd92d76 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ec0ae36a {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-0ae36a5f {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-aedacf41 {
		margin-right: 0px;
	}
	.__pf .pf-6f21ebf2 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-fdc379ed {
		margin-right: 0px;
	}
	.__pf .pf-fe5e6071 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-8bb3d339 {
		margin-right: 0px;
	}
	.__pf .pf-2c7c19f8 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-0ea7b258 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-b25812d2 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-12d202f9 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-02f93384 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-338460ac {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-60acf979 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-f979c9dc {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-c9dc8fb5 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-8fb540c8 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-40c89e0f {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-9e0f2c13 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-2c13fa06 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-640ec4b2 {
		height: 175px;
	}
	.__pf .pf-640ec4b2 > button {
		background-color: rgb(255, 255, 255);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-c4b2222b {
		padding-bottom: 20px;
	}
	.__pf .pf-fa06e4f4 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-7b90ef99 {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-ac30028f {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 160px;
		 height: auto;
	}
	.__pf .pf-ac30028f:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-028fbeb8 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 120px;
		 height: auto;
	}
	.__pf .pf-028fbeb8:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-180331c6 {
		margin-top: 0px;
	}
	.__pf .pf-8b7550dc {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-beb80ea7 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-0ea7b258 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-12d202f9 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-338460ac {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-f979c9dc {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-8fb540c8 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-9e0f2c13 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-640ec4b2 {
		height: 220px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-ddd92d76 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ec0ae36a {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-6f21ebf2 {
		margin-left: 15px;
	}
	.__pf .pf-fe5e6071 {
		margin-left: 15px;
	}
	.__pf .pf-2c7c19f8 {
		margin-left: 15px;
	}
	.__pf .pf-640ec4b2 {
		height: 220px;
	}
	.__pf .pf-ac30028f {
		margin-left: 15px;
	}
	.__pf .pf-028fbeb8 {
		margin-left: 15px;
	}
}
						

 