/* PageFly Element Styles */
						.GftoS { padding-top: 20px; padding-bottom: 20px; }
.GftoS__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.GftoS__button > i { margin-right: 5px; }
.GftoS .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.jHjrlE { padding-top: 20px; padding-bottom: 20px; }
.jHjrlE__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.jHjrlE__button > i { margin-right: 5px; }
.jHjrlE .icon_position { position: absolute; right: 10px; }
.jHjrlE .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; padding: 10px 15px; appearance: none; color: black; text-align: left; outline: none; display: block; position: relative; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.cEqaQK { display: grid; width: 100%; }
.cEqaQK .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.cEqaQK .sc-qXgsJ.pf-hide-badge { display: none; }
.cEqaQK .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; left: calc(50% - 16px); }
.cEqaQK .sc-pbXLt[data-pf-nav="prev"] { top: 4px; }
.cEqaQK .sc-pbXLt[data-pf-nav="next"] { bottom: 4px; }
.cEqaQK .sc-pbXLt i { transform: rotateZ(90deg); }
.cEqaQK .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .cEqaQK .sc-pkURi { display: none; }
  .cEqaQK .mobile_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .tablet_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .laptop_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .all_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.dNfjzh[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gluJHn { display: flex; flex-direction: column; }
.gluJHn label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-xs); }
}
.gluJHn .pf-p-variant { display: flex; flex-direction: column; }
.gluJHn .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
}
.gluJHn select { min-height: 30px; appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.gluJHn select:focus { outline: none; }
.gluJHn select option { color: inherit; }
.gluJHn .pf-p-variant-radio { display: inline-flex; align-items: center; flex-wrap: wrap; }
.gluJHn .pf-p-variant-radio:not(:last-child) { margin-right: 16px; }
.gluJHn .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .gluJHn { flex-direction: column; }
  .gluJHn label { display: block; }
  .gluJHn .pf-p-variant-radio { display: inline-flex; }
}
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.kkPGoW.edit { text-align: center; margin-bottom: 15px; }
.kkPGoW.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-01f1c16a {
		margin-top: -55px;
	}
	.__pf .pf-60bc09e6 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-c2d862f9 {
		width: 120px;
		 height: auto;
		 padding-bottom: 10px;
		 padding-top: 10px;
	}
	.__pf .pf-ef300326 {
		font-family: Muli;
		 font-size: 18px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-3003264a {
		text-align: center;
	}
	.__pf .pf-264ac8b7 {
		text-align: center;
	}
	.__pf .pf-b79dbf48 {
		width: 140px;
		 height: auto;
		 padding-bottom: 10px;
		 margin-bottom: -10px;
	}
	.__pf .pf-365be035 {
		font-family: Muli;
		 font-size: 18px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-5be03519 {
		text-align: center;
	}
	.__pf .pf-3519cf91 {
		text-align: center;
	}
	.__pf .pf-917492f7 {
		width: 120px;
		 height: auto;
		 padding-bottom: 10px;
		 padding-top: 10px;
	}
	.__pf .pf-6a89ce00 {
		font-family: Muli;
		 font-size: 18px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-89ce0025 {
		text-align: center;
	}
	.__pf .pf-00251550 {
		text-align: center;
	}
	.__pf .pf-5047a6f8 {
		width: 120px;
		 height: auto;
		 padding-bottom: 20px;
	}
	.__pf .pf-25fe0d79 {
		font-family: Muli;
		 font-size: 18px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-fe0d79cd {
		text-align: center;
	}
	.__pf .pf-0d79cd27 {
		text-align: center;
	}
	.__pf .pf-79cd2721 {
		background-color: rgba(255, 238, 223, 0.58);
		 padding-bottom: 15px;
		 padding-top: 15px;
	}
	.__pf .pf-e45b2dfb {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 63, 60);
		 text-align: center;
		 margin-bottom: 50px;
		 text-transform: uppercase;
	}
	.__pf .pf-2dfbdd67 {
		background-repeat: no-repeat;
	}
	.__pf .pf-82f274e4 {
		font-family: Muli;
		 font-weight: 300;
		 padding-left: 30px;
		 padding-right: 30px;
		 padding-top: 10px;
	}
	.__pf .pf-74e47cb8 {
		margin-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-a996013d {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-dcc4b0cb {
		width: 120px;
		 height: auto;
		 padding-bottom: 20px;
	}
	.__pf .pf-ae8dc067 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-d538e433 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-38e43350 {
		text-align: center;
	}
	.__pf .pf-5020eaa6 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-8517dabd {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-84334848 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-33484836 {
		text-align: center;
	}
	.__pf .pf-369d75a6 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-029de213 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-18e7f6bb {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-e7f6bb83 {
		text-align: center;
	}
	.__pf .pf-f6bb8365 {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 15px;
		 padding-bottom: 15px;
	}
	.__pf .pf-9a1a6579 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-e1442ed1 {
		text-align: center;
	}
	.__pf .pf-4e4e3a78 {
		text-align: center;
		 padding-top: 70px;
		 padding-bottom: 70px;
	}
	.__pf .pf-0af688e4 {
		font-family: Montserrat;
		 font-weight: 500;
		 color: rgb(74, 63, 60);
		 text-align: center;
		 padding-bottom: 0px;
		 font-size: 20px;
	}
	.__pf .pf-da95db0f {
		font-family: Muli;
		 font-weight: 300;
		 text-align: center;
		 font-size: 16px;
	}
	.__pf .pf-4c6e7160 {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-3c441182 {
		border-style: none;
	}
	.__pf .pf-3c441182:hover {
		border-style: solid;
		 border-color: rgb(102, 102, 102);
	}
	.__pf .pf-3c441182[data-active="true"] {
		border-style: solid;
		 border-color: rgb(74, 144, 226);
	}
	.__pf .pf-329498cd > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-49e18e5e {
		text-align: left;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 26px;
	}
	.__pf .pf-878d4dfd {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 1px;
		 margin-bottom: 0px;
	}
	.__pf .pf-875e04a1 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 80px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-875e04a1:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-3151b6c4 {
		text-align: center;
	}
	.__pf .pf-04a19661 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-04a19661:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-96612e18 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-96612e18:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-2e183653 {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-right: 15px;
		 padding-left: 15px;
		 background: rgb(255, 255, 255);
		 border-color: rgb(255, 255, 255);
		 color: rgba(74, 63, 60, 0.85);
		 padding-bottom: 10px;
		 text-align: left;
	}
	.__pf .pf-2e183653[data-active="true"] {
		font-family: Muli;
	}
	.__pf .pf-4f82c014 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-365375cb {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-8e114d06 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-75cba218 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-dc6dbbbc {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-a21898ff {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-43abbf4a {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 3px;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-98ff4050 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-6ea59eb5 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-40500940 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-c8f30ac4 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px;
	}
	.__pf .pf-09403242 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-911f453c {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 3px;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 2px;
		 margin-left: 2px;
	}
	.__pf .pf-3242e5f7 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-dbd77656 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-e5f7b2fe {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-447c11fe {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px;
	}
	.__pf .pf-b2fe2e39 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-9c58aff8 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-2e39b1a4 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-3130dbb5 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-b1a4060c {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-d92eaf48 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-060caf3f {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-ccd4ccb3 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(74, 63, 60, 0.5);
		 padding-bottom: 10px;
	}
	.__pf .pf-6a44c479 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-1842b833 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-7b13c303 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-ca3b2b71 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-42688c8d {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-a0e07610 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-a1fdbad5 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 3px;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-641ce923 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-0c0eb67d {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-ba4d4a7e {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-4fa8810e {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px;
	}
	.__pf .pf-566a0abc {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-6e3b0d01 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 3px;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 2px;
		 margin-left: 2px;
	}
	.__pf .pf-ee01f9c1 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-3959dfec {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-89308a20 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-a09d8a42 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px;
	}
	.__pf .pf-498152fb {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-154f18dc {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-ac1ac018 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-7d5d77fd {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-4f21bba4 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-9d2a5a6b {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-e0ee18de {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-ccb3efea {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(74, 63, 60, 0.5);
		 padding-bottom: 10px;
	}
	.__pf .pf-d890565c {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-18dee638 {
		display: flex;
	}
	.__pf .pf-e63838a0 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-d14cd387 {
		display: flex;
	}
	.__pf .pf-cf8d82c3 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-38a08366 {
		display: flex;
	}
	.__pf .pf-83666844 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-d387d9a4 {
		display: flex;
	}
	.__pf .pf-373b2030 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px;
	}
	.__pf .pf-68444954 {
		display: flex;
	}
	.__pf .pf-495445c7 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-d9a4342f {
		display: flex;
	}
	.__pf .pf-cb464d6a {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-45c73e19 {
		display: flex;
	}
	.__pf .pf-3e19d719 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-342f08cc {
		display: flex;
	}
	.__pf .pf-8a1fbdff {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px;
	}
	.__pf .pf-d7198961 {
		display: flex;
	}
	.__pf .pf-8961c1cb {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-08cc3c93 {
		display: flex;
	}
	.__pf .pf-63588d6d {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-c1cb6090 {
		display: flex;
	}
	.__pf .pf-6090c1fb {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-3c93c519 {
		display: flex;
	}
	.__pf .pf-6fcffa49 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-c1fbdee1 {
		display: flex;
	}
	.__pf .pf-dee15614 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-c51957cd {
		display: flex;
	}
	.__pf .pf-8a11d537 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 3px;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 2px;
		 margin-left: 2px;
	}
	.__pf .pf-ba1448dd {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-57cd4cf1 {
		display: flex;
	}
	.__pf .pf-2e90abbc {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-48dd55d4 {
		display: flex;
	}
	.__pf .pf-55d402be {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-4cf19c1e {
		display: flex;
	}
	.__pf .pf-3d6ef0e3 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 3px;
		 border-style: none;
		 background: rgb(244, 155, 151);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-02be6444 {
		display: flex;
	}
	.__pf .pf-644427ea {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-9c1e77cb {
		display: flex;
	}
	.__pf .pf-76ab428a {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(182, 192, 241);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-27eaaf0e {
		display: flex;
	}
	.__pf .pf-af0e587d {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-77cbf7a6 {
		display: flex;
	}
	.__pf .pf-6caa13c8 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 background: rgb(160, 201, 170);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-587d9911 {
		display: flex;
	}
	.__pf .pf-9911ddec {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-f7a68365 {
		display: flex;
	}
	.__pf .pf-efea7c62 {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-bottom: 10px;
	}
	.__pf .pf-c7a92915 {
		text-align: left;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-dd7c2847 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(255, 238, 223);
	}
	.__pf .pf-cc029917 {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
		 padding-top: 10px;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-ddec6468 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-ddec6468:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-6468040a {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-040a6e08 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-040a6e08:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-6593b666 {
		width: 120px;
		 height: auto;
		 margin: 5px 10px 15px 20px;
	}
	.__pf .pf-b6669a80 {
		width: 165px;
		 height: auto;
		 margin: 5px 0px 15px 10px;
	}
	.__pf .pf-6e083f15 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-3f15f76b {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-3f15f76b:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-f76b40e8 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-d3a34e8f {
		font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-40e87a87 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-40e87a87:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-7a870fc7 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-a9bf88aa {
		margin-top: 10px;
	}
	.__pf .pf-b2c4fe48 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 80px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-b2c4fe48:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-fe48f6fd {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-865a2d31 {
		width: 150px;
		 height: auto;
		 margin-bottom: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-2d31b2c4 {
		width: 110px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-a697d534 {
		margin-top: -25px;
	}
	.__pf .pf-ec587ee1 {
		font-family: Muli;
		 font-weight: 300;
		 text-align: center;
		 font-size: 16px;
	}
	.__pf .pf-7ee16110 {
		font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-6110a2f9 {
		margin-bottom: 15px;
		 font-size: 16px;
	}
	.__pf .pf-9028474c {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-9028474c:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-474c6e71 {
		padding: 0px;
	}
	.__pf .pf-889a04bc {
		text-align: center;
	}
	.__pf .pf-bca639c3 {
		text-align: center;
		 padding-top: 70px;
		 padding-bottom: 70px;
	}
	.__pf .pf-7c1e85a8 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 80px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-7c1e85a8:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-85a86e6d {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-94524635 {
		width: 150px;
		 height: auto;
		 margin-bottom: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-46357c1e {
		width: 110px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-dad5a5a9 {
		margin-top: -25px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-01f1c16a {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: -55px;
	}
	.__pf .pf-c2d862f9 {
		height: auto;
	}
	.__pf .pf-3003264a {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-264ac8b7 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-b79dbf48 {
		height: auto;
	}
	.__pf .pf-5be03519 {
		margin-left: 0px;
	}
	.__pf .pf-3519cf91 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-917492f7 {
		height: auto;
	}
	.__pf .pf-00251550 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-5047a6f8 {
		height: auto;
	}
	.__pf .pf-79cd2721 {
		padding-top: 35px;
		 margin-bottom: 5px;
	}
	.__pf .pf-e45b2dfb {
		margin-bottom: 60px;
	}
	.__pf .pf-672356b3 {
		padding-top: 70px;
	}
	.__pf .pf-82f274e4 {
		padding-top: 0px;
	}
	.__pf .pf-f274e47c {
		display: flex;
		 flex-direction: column-reverse;
	}
	.__pf .pf-74e47cb8 {
		padding-bottom: 40px;
		 margin-top: 20px;
	}
	.__pf .pf-dcc4b0cb {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-d538e433 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-5020eaa6 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-84334848 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-33484836 {
		padding-top: 30px;
	}
	.__pf .pf-369d75a6 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-18e7f6bb {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-e7f6bb83 {
		padding-top: 30px;
	}
	.__pf .pf-f6bb8365 {
		padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-9a1a6579 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-e1442ed1 {
		margin-top: 0px;
	}
	.__pf .pf-2ed14e4e {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-4e4e3a78 {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-0af688e4 {
		margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-da95db0f {
		margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-4c6e7160 {
		padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-329498cd > div > div:first-child {
		height: 400px;
	}
	.__pf .pf-49e18e5e {
		font-size: 18px;
		 margin-bottom: 0px;
		 margin-left: 0px;
		 font-family: Montserrat;
		 text-align: center;
		 margin-top: -15px;
	}
	.__pf .pf-98cd878d {
		text-align: right;
	}
	.__pf .pf-878d4dfd {
		margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 2px;
	}
	.__pf .pf-3a573151 {
		text-align: left;
	}
	.__pf .pf-b625f85f {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-4dfd875e {
		text-align: left;
	}
	.__pf .pf-875e04a1 {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-875e04a1:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-04a19661 {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-04a19661:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-96612e18 {
		padding-right: 30%;
		 padding-left: 30%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-96612e18:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-f8a5ccd4 {
		text-align: center;
		 margin-top: -50px;
	}
	.__pf .pf-2e183653 {
		padding-bottom: 0px;
		 padding-top: 10px;
	}
	.__pf .pf-4f82c014 {
		border-style: none;
	}
	.__pf .pf-365375cb {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-15c72981 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-8e114d06 {
		border-style: none;
	}
	.__pf .pf-75cba218 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-298148db {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-dc6dbbbc {
		border-style: none;
	}
	.__pf .pf-a21898ff {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-48dbcc5d {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-43abbf4a {
		border-style: none;
	}
	.__pf .pf-98ff4050 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-cc5d6aba {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-6ea59eb5 {
		border-style: none;
	}
	.__pf .pf-40500940 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-6aba9db9 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-c8f30ac4 {
		border-style: none;
	}
	.__pf .pf-09403242 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-9db97321 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-911f453c {
		border-style: none;
	}
	.__pf .pf-3242e5f7 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-73215e78 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-dbd77656 {
		border-style: none;
	}
	.__pf .pf-e5f7b2fe {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-5e783098 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-447c11fe {
		border-style: none;
	}
	.__pf .pf-b2fe2e39 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-3098cbc6 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-9c58aff8 {
		border-style: none;
	}
	.__pf .pf-2e39b1a4 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-cbc6ed7a {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-3130dbb5 {
		border-style: none;
	}
	.__pf .pf-b1a4060c {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-ed7acbcb {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-d92eaf48 {
		border-style: none;
	}
	.__pf .pf-060caf3f {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-cbcb0834 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-ccd4ccb3 {
		text-align: right;
		 border-style: none;
		 padding-left: 30px;
		 padding-top: 15px;
	}
	.__pf .pf-6a44c479 {
		border-style: none;
	}
	.__pf .pf-af3f1842 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-1842b833 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-7b13c303 {
		border-style: none;
	}
	.__pf .pf-b833ca3b {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-ca3b2b71 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-42688c8d {
		border-style: none;
	}
	.__pf .pf-2b71a0e0 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-a0e07610 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-a1fdbad5 {
		border-style: none;
	}
	.__pf .pf-7610641c {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-641ce923 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-0c0eb67d {
		border-style: none;
	}
	.__pf .pf-e923ba4d {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-ba4d4a7e {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-4fa8810e {
		border-style: none;
	}
	.__pf .pf-4a7e566a {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-566a0abc {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-6e3b0d01 {
		border-style: none;
	}
	.__pf .pf-0abcee01 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-ee01f9c1 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-3959dfec {
		border-style: none;
	}
	.__pf .pf-f9c18930 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-89308a20 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-a09d8a42 {
		border-style: none;
	}
	.__pf .pf-8a204981 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-498152fb {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-154f18dc {
		border-style: none;
	}
	.__pf .pf-52fbac1a {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-ac1ac018 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-7d5d77fd {
		border-style: none;
	}
	.__pf .pf-c0184f21 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-4f21bba4 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-9d2a5a6b {
		border-style: none;
	}
	.__pf .pf-bba4e0ee {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-e0ee18de {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-ccb3efea {
		text-align: right;
		 border-style: none;
		 padding-left: 30px;
		 padding-top: 15px;
	}
	.__pf .pf-d890565c {
		border-style: none;
	}
	.__pf .pf-18dee638 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-e63838a0 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-d14cd387 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-cf8d82c3 {
		border-style: none;
	}
	.__pf .pf-38a08366 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-83666844 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-d387d9a4 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-373b2030 {
		border-style: none;
	}
	.__pf .pf-68444954 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-495445c7 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-d9a4342f {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-cb464d6a {
		border-style: none;
	}
	.__pf .pf-45c73e19 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-3e19d719 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-342f08cc {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-8a1fbdff {
		border-style: none;
	}
	.__pf .pf-d7198961 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-8961c1cb {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-08cc3c93 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-63588d6d {
		border-style: none;
	}
	.__pf .pf-c1cb6090 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-6090c1fb {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-3c93c519 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-6fcffa49 {
		border-style: none;
	}
	.__pf .pf-c1fbdee1 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-dee15614 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-c51957cd {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-8a11d537 {
		border-style: none;
	}
	.__pf .pf-5614ba14 {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
	}
	.__pf .pf-ba1448dd {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-57cd4cf1 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-2e90abbc {
		border-style: none;
	}
	.__pf .pf-48dd55d4 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-55d402be {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-4cf19c1e {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-3d6ef0e3 {
		border-style: none;
	}
	.__pf .pf-02be6444 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-644427ea {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-9c1e77cb {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-76ab428a {
		border-style: none;
	}
	.__pf .pf-27eaaf0e {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-af0e587d {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-77cbf7a6 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-6caa13c8 {
		border-style: none;
	}
	.__pf .pf-587d9911 {
		display: flex;
	}
	.__pf .pf-9911ddec {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-f7a68365 {
		display: flex;
	}
	.__pf .pf-efea7c62 {
		text-align: right;
	}
	.__pf .pf-c7a92915 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-dd7c2847 {
		margin-top: -20px;
		 margin-bottom: 10px;
		 text-align: center;
	}
	.__pf .pf-cc029917 {
		padding-top: 25px;
		 padding-bottom: 40px;
		 margin-bottom: 0px;
		 font-family: Muli;
	}
	.__pf .pf-040a6e08 {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-6593b666 {
		margin: 10px 20px;
	}
	.__pf .pf-b6669a80 {
		margin-right: 20px;
		 margin-bottom: 10px;
		 margin-top: 10px;
	}
	.__pf .pf-40e87a87 {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-a9bf88aa {
		margin-top: 0px;
		 padding-bottom: 10px;
		 padding-top: 0px;
	}
	.__pf .pf-763e388f {
		margin-right: 0px;
	}
	.__pf .pf-b2c4fe48 {
		padding-right: 25%;
		 padding-left: 25%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-b2c4fe48:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-fe48f6fd {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-5bf46dae {
		margin-left: -20px;
	}
	.__pf .pf-865a2d31 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 160px;
		 height: auto;
	}
	.__pf .pf-865a2d31:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-2d31b2c4 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 120px;
		 height: auto;
	}
	.__pf .pf-2d31b2c4:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-a697d534 {
		margin-top: 0px;
	}
	.__pf .pf-d6e0cba2 {
		margin-top: -30px;
	}
	.__pf .pf-2b150cd2 > div > div:first-child {
		height: 190px;
	}
	.__pf .pf-7ee16110 {
		font-family: Muli;
		 font-size: 14px;
		 font-weight: 300;
	}
	.__pf .pf-9028474c:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-9028474c {
		padding-right: 10%;
		 padding-left: 10%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-28474c6e {
		text-align: center;
	}
	.__pf .pf-889a04bc {
		margin-top: 0px;
	}
	.__pf .pf-04bcbca6 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-bca639c3 {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-ae519b68 {
		margin-right: 0px;
	}
	.__pf .pf-7c1e85a8 {
		padding-right: 25%;
		 padding-left: 25%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-7c1e85a8:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-85a86e6d {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-76cedd5b {
		margin-left: -20px;
	}
	.__pf .pf-94524635 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 160px;
		 height: auto;
	}
	.__pf .pf-94524635:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-46357c1e {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 120px;
		 height: auto;
	}
	.__pf .pf-46357c1e:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-dad5a5a9 {
		margin-top: 0px;
	}
	.__pf .pf-62e82e68 {
		margin-top: -30px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-60bc09e6 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-c2d862f9 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-ef300326 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-b79dbf48 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-365be035 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-917492f7 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-6a89ce00 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-5047a6f8 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-25fe0d79 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-e45b2dfb {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-672356b3 {
		height: auto;
	}
	.__pf .pf-a996013d {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-dcc4b0cb {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-ae8dc067 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-d538e433 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-5020eaa6 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-8517dabd {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-84334848 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-369d75a6 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-029de213 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-18e7f6bb {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-9a1a6579 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-4e4e3a78 {
		padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-0af688e4 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-329498cd > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-bca639c3 {
		padding-top: 50px;
		 padding-bottom: 50px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-d538e433 {
		text-align: center;
	}
	.__pf .pf-84334848 {
		text-align: center;
	}
	.__pf .pf-18e7f6bb {
		text-align: center;
	}
	.__pf .pf-9a1a6579 {
		text-align: center;
	}
	.__pf .pf-2ed14e4e {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-875e04a1 {
		margin-left: 15px;
	}
	.__pf .pf-04a19661 {
		padding-left: 80px;
		 padding-right: 80px;
	}
	.__pf .pf-b6c47db6 {
		text-align: center;
	}
	.__pf .pf-96612e18 {
		margin-left: 15px;
	}
	.__pf .pf-b2c4fe48 {
		margin-left: 0px;
	}
	.__pf .pf-5bf46dae {
		text-align: center;
	}
	.__pf .pf-865a2d31 {
		margin-left: 0px;
	}
	.__pf .pf-2d31b2c4 {
		margin-left: 0px;
	}
	.__pf .pf-9028474c {
		margin-left: 15px;
	}
	.__pf .pf-04bcbca6 {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-7c1e85a8 {
		margin-left: 0px;
	}
	.__pf .pf-76cedd5b {
		text-align: center;
	}
	.__pf .pf-94524635 {
		margin-left: 0px;
	}
	.__pf .pf-46357c1e {
		margin-left: 0px;
	}
}
						

 