/* PageFly Element Styles */
						.jHjrlE { padding-top: 20px; padding-bottom: 20px; }
.jHjrlE__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.jHjrlE__button > i { margin-right: 5px; }
.jHjrlE .icon_position { position: absolute; right: 10px; }
.jHjrlE .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; height: 100%; padding: 10px 15px; text-decoration: none; color: black; text-align: left; outline: none; display: block; position: relative; appearance: none; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.kCAYOZ { visibility: hidden; }
.kCAYOZ.pf-slider-wrapper { overflow: hidden; position: relative; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-prev-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-prev-nav { left: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-next-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-next-nav { right: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-prev-nav { left: 0px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-next-nav { right: 0px; }
.kCAYOZ.pf-slider-mouse-event-off > * { pointer-events: none; }
.kCAYOZ .pf-slider-inner { overflow: hidden; }
.kCAYOZ .pf-slider-slide { will-change: contents; position: absolute; transform: translate3d(100%, 0px, 0px); overflow: hidden; top: 0px; }
.kCAYOZ .pf-slider-nav { position: absolute; z-index: 999; cursor: pointer; border: 0px; background: transparent; top: 50%; transform: translateY(-50%); padding: 0px; transition: all 0.3s ease 0s; }
.kCAYOZ .pf-slider-nav:focus { outline: 0px; }
.kCAYOZ .pf-slider-nav::before { font-size: 14px; color: rgb(255, 255, 255); font-family: FontAwesome; }
.kCAYOZ .pf-slider-nav.nav-style-1 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgba(0, 0, 0, 0.4); border-radius: 100%; }
.kCAYOZ .pf-slider-nav.nav-style-1:hover { background: rgb(0, 0, 0); }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-prev-nav { left: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-next-nav { right: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-2, .kCAYOZ .pf-slider-nav.nav-style-4, .kCAYOZ .pf-slider-nav.nav-style-5 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgb(3, 3, 3); border-radius: 3px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-2:hover, .kCAYOZ .pf-slider-nav.nav-style-4:hover, .kCAYOZ .pf-slider-nav.nav-style-5:hover { background: rgb(23, 23, 23); }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3 { padding: 20px; text-shadow: rgb(0, 0, 0) 0px 0px 1px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-3::before { font-size: 24px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-5 { top: auto; bottom: 5%; opacity: 1; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { right: 62px; border-radius: 3px 0px 0px 3px; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 20px; border-radius: 0px 3px 3px 0px; }
.kCAYOZ .pf-slider-nav-disabled { pointer-events: none; }
.kCAYOZ .pf-slider-pagination { position: absolute; bottom: 15px; left: 0px; width: 100%; padding: 0px; margin: 0px; text-align: center; z-index: 1; }
.kCAYOZ .pf-slider-pagination li { display: inline-block; margin: 0px 5px; background: rgb(187, 187, 187); opacity: 1; transition: all 0.3s ease 0s; cursor: pointer; }
.kCAYOZ .pf-slider-pagination li.active, .kCAYOZ .pf-slider-pagination li:hover { background: rgb(33, 33, 33); }
.kCAYOZ .pf-slider-pagination.pagination-style-1 li { width: 20px; height: 5px; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li { position: relative; width: 8px; height: 8px; background: transparent; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li::after { position: absolute; content: ""; left: -2px; top: -2px; width: 12px; height: 12px; border: 1px solid rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li.active { background: rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li { position: relative; width: 16px; height: 16px; border: 2px solid rgb(255, 255, 255); background: transparent; border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li.active::after { position: absolute; content: ""; top: 3px; left: 3px; right: 3px; bottom: 3px; width: 6px; border: 2px solid rgb(255, 255, 255); border-radius: 100%; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gluJHn { display: flex; flex-direction: column; }
.gluJHn label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-xs); }
}
.gluJHn .pf-p-variant { display: flex; flex-direction: column; }
.gluJHn .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
}
.gluJHn select { min-height: 30px; appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.gluJHn select:focus { outline: none; }
.gluJHn select option { color: inherit; }
.gluJHn .pf-p-variant-radio { display: inline-flex; align-items: center; flex-wrap: wrap; }
.gluJHn .pf-p-variant-radio:not(:last-child) { margin-right: 16px; }
.gluJHn .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .gluJHn { flex-direction: column; }
  .gluJHn label { display: block; }
  .gluJHn .pf-p-variant-radio { display: inline-flex; }
}
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.kkPGoW.edit { text-align: center; margin-bottom: 15px; }
.kkPGoW.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-f9ec9230 {
		width: 481px;
		 height: auto;
	}
	.__pf .pf-fda2f0c9 {
		padding: 0px 50px;
	}
	.__pf .pf-4f06e99e {
		color: rgb(255, 255, 255);
		 font-size: 2.5em;
		 font-family: Muli;
	}
	.__pf .pf-009037da {
		font-size: 1.2em;
		 color: rgb(255, 255, 255);
		 font-family: Muli;
	}
	.__pf .pf-031415b8 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 padding: 1em 75px;
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
	}
	.__pf .pf-031415b8:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
		 padding: 1em 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-7727fda2 {
		padding: 15px;
	}
	.__pf .pf-f0c94d5d {
		display: flex;
		 flex-direction: row-reverse;
	}
	.__pf .pf-eade2a56 {
		background-size: cover;
		 padding-top: 100px;
		 padding-bottom: 100px;
		 background-position: 50% 50%;
		 margin-top: -55px;
		 background-color: rgb(74, 63, 60);
		 text-align: left;
	}
	.__pf .pf-3d39f0e1 {
		text-align: center;
		 font-family: Muli;
		 font-size: 1.7em;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-f0e1daf2 {
		margin-bottom: 20px;
	}
	.__pf .pf-d7a47406 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-5ac89608 {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-96087db9 {
		text-align: center;
	}
	.__pf .pf-71047b94 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-ae864a2f {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-4a2f0f23 {
		text-align: center;
	}
	.__pf .pf-74e00c2d {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-5582f77c {
		text-align: center;
		 font-family: Muli;
		 margin-left: 20px;
		 margin-right: 20px;
		 font-size: 1.1em;
	}
	.__pf .pf-f77cd7eb {
		text-align: center;
	}
	.__pf .pf-75bbcd40 {
		margin-bottom: 60px;
	}
	.__pf .pf-e910b5c5 {
		text-align: center;
		 font-family: Muli;
		 font-size: 1.7em;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-5c4ef3f3 {
		text-align: center;
		 font-family: Muli;
		 font-size: 1.7em;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-05a46fd2 {
		text-align: center;
		 font-family: Muli;
	}
	.__pf .pf-905e5aff {
		border-style: solid;
		 border-width: 1px 0px 0px;
		 border-color: rgb(222, 171, 91);
		 margin-top: 10px;
		 margin-bottom: 10px;
		 padding-top: 60px;
		 padding-bottom: 20px;
	}
	.__pf .pf-cd40e694 {
		padding-top: 25px;
		 padding-bottom: 25px;
	}
	.__pf .pf-87467305 {
		text-align: center;
		 font-family: Muli;
		 font-size: 1.7em;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-de8e15ed {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-de8e15ed:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-dd911158 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-db304f20 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-db304f20:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-4f203bdf {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-00775fc6 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-00775fc6:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-5fc6b653 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-eb54421a {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-eb54421a:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-421ab103 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-26069565 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-26069565:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-9565c13b {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-bf5e8994 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-bf5e8994:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-89942e42 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-4a95a147 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-4a95a147:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-a1473b06 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-972b1fd6 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 700;
		 line-height: 1.5em;
		 border-style: solid;
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-972b1fd6:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-1fd69d0b {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Muli;
		 font-weight: 400;
		 line-height: 1.5em;
		 background-color: rgba(255, 238, 223, 0.49);
		 padding: 12px;
	}
	.__pf .pf-1c31f97a {
		text-align: center;
		 font-family: Muli;
		 font-size: 1.7em;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-f97ada9c {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-da9c76de {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-3b1d196a {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-76dec158 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-c1582795 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-196a0440 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-279511fb {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-11fbd58b {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-0440b112 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-d58b89b0 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-89b0c265 {
		text-align: center;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-b1124607 {
		text-align: center;
		 padding: 15px 15px 30px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-4d19abb0 {
		height: 220px;
	}
	.__pf .pf-8ed606fe {
		text-align: center;
	}
	.__pf .pf-c26533f8 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 4px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 3em;
		 font-family: Muli;
		 font-weight: 700;
	}
	.__pf .pf-33f83b1d {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-e93d1c31 {
		width: 120px;
		 height: auto;
		 margin-bottom: 15px;
		 margin-top: 20px;
		 padding-right: 5px;
	}
	.__pf .pf-c95ad68d {
		width: 100px;
		 height: auto;
		 margin-bottom: 15px;
		 margin-top: 20px;
		 padding-left: 5px;
	}
	.__pf .pf-06feeff2 {
		text-align: center;
		 padding-top: 0px;
	}
	.__pf .pf-9044c82d {
		margin-bottom: 15px;
	}
	.__pf .pf-9044c82d > div > div:first-child {
		height: 200px;
	}
	.__pf .pf-40b2ff2f {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-9f9b1c2a {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
	}
	.__pf .pf-7f06da4b {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 10px;
		 font-family: Muli;
		 margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-7f06da4b:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Muli;
	}
	.__pf .pf-d9d75153 {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-51530c30 {
		height: 100%;
	}
	.__pf .pf-0c301fe8 {
		text-align: center;
		 height: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-f9ec9230 {
		width: 100%;
		 height: auto;
		 padding: 30px;
	}
	.__pf .pf-4f06e99e {
		font-size: 30px;
	}
	.__pf .pf-031415b8 {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-031415b8:hover {
		padding: 10px 90px;
	}
	.__pf .pf-7727fda2 {
		text-align: center;
	}
	.__pf .pf-eade2a56 {
		padding-top: 100px;
		 padding-bottom: 100px;
	}
	.__pf .pf-d7a47406 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-71047b94 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-74e00c2d {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-e910b5c5 {
		font-size: 25px;
	}
	.__pf .pf-5aa1fe8b {
		margin-top: -15px;
	}
	.__pf .pf-f97ada9c {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-da9c76de {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-76dec158 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-c1582795 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-279511fb {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-11fbd58b {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-d58b89b0 {
		font-size: 20px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-89b0c265 {
		margin-right: 5px;
		 margin-left: 5px;
	}
	.__pf .pf-4d19abb0 {
		height: 175px;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-4d19abb0 > button {
		background-color: rgb(255, 255, 255);
		 color: rgb(255, 255, 255);
		 padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-c26533f8 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-33f83b1d {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-top: 7px;
		 margin-bottom: 0px;
	}
	.__pf .pf-e93d1c31 {
		margin-right: 20px;
		 margin-bottom: 0px;
	}
	.__pf .pf-c95ad68d {
		margin-right: 20px;
		 margin-bottom: 0px;
	}
	.__pf .pf-903536c5 {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-06feeff2 {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-9044c82d > div > div:first-child {
		height: 160px;
	}
	.__pf .pf-40b2ff2f {
		font-size: 16px;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-7f06da4b {
		margin-left: 20px;
		 margin-right: 20px;
	}
	.__pf .pf-51530c30 {
		margin-top: -2px;
	}
	.__pf .pf-abb08ed6 {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-8ed606fe {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-d7a47406 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-71047b94 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-74e00c2d {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-f97ada9c {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-76dec158 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-279511fb {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-d58b89b0 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-4d19abb0 {
		height: 220px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-4d19abb0 {
		height: 220px;
	}
	.__pf .pf-c26533f8 {
		margin-left: 15px;
	}
}
						

 