/* PageFly Element Styles */
						.GftoS { padding-top: 20px; padding-bottom: 20px; }
.GftoS__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.GftoS__button > i { margin-right: 5px; }
.GftoS .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.jHjrlE { padding-top: 20px; padding-bottom: 20px; }
.jHjrlE__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.jHjrlE__button > i { margin-right: 5px; }
.jHjrlE .icon_position { position: absolute; right: 10px; }
.jHjrlE .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; height: 100%; padding: 10px 15px; text-decoration: none; color: black; text-align: left; outline: none; display: block; position: relative; appearance: none; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.cEqaQK { display: grid; width: 100%; }
.cEqaQK .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.cEqaQK .sc-qXgsJ.pf-hide-badge { display: none; }
.cEqaQK .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; left: calc(50% - 16px); }
.cEqaQK .sc-pbXLt[data-pf-nav="prev"] { top: 4px; }
.cEqaQK .sc-pbXLt[data-pf-nav="next"] { bottom: 4px; }
.cEqaQK .sc-pbXLt i { transform: rotateZ(90deg); }
.cEqaQK .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .cEqaQK .sc-pkURi { display: none; }
  .cEqaQK .mobile_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .tablet_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .laptop_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .all_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.dNfjzh[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gluJHn { display: flex; flex-direction: column; }
.gluJHn label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-xs); }
}
.gluJHn .pf-p-variant { display: flex; flex-direction: column; }
.gluJHn .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
}
.gluJHn select { min-height: 30px; appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.gluJHn select:focus { outline: none; }
.gluJHn select option { color: inherit; }
.gluJHn .pf-p-variant-radio { display: inline-flex; align-items: center; flex-wrap: wrap; }
.gluJHn .pf-p-variant-radio:not(:last-child) { margin-right: 16px; }
.gluJHn .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .gluJHn { flex-direction: column; }
  .gluJHn label { display: block; }
  .gluJHn .pf-p-variant-radio { display: inline-flex; }
}
.kkPGoW.edit { text-align: center; margin-bottom: 15px; }
.kkPGoW.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-ba5c2af1 {
		margin-top: -55px;
	}
	.__pf .pf-e183838f {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-c8fd3d17 {
		width: 120px;
		 height: auto;
		 padding-bottom: 10px;
		 padding-top: 10px;
	}
	.__pf .pf-92a6d43c {
		font-family: Muli;
		 font-size: 18px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-d43cc618 {
		text-align: center;
	}
	.__pf .pf-1280eb18 {
		text-align: center;
	}
	.__pf .pf-2617b234 {
		width: 160px;
		 height: auto;
		 padding-bottom: 0px;
		 margin-bottom: -10px;
		 margin-top: -10px;
	}
	.__pf .pf-3b478af7 {
		font-family: Muli;
		 font-size: 18px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-8af7c8fd {
		text-align: center;
	}
	.__pf .pf-c8625cae {
		text-align: center;
	}
	.__pf .pf-c618319b {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-7b92ded1 {
		font-family: Muli;
		 font-size: 18px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-ded14fda {
		text-align: center;
	}
	.__pf .pf-5cae1280 {
		text-align: center;
	}
	.__pf .pf-4fda92c1 {
		width: 120px;
		 height: auto;
		 padding-bottom: 20px;
		 padding-top: 0px;
	}
	.__pf .pf-090a0791 {
		font-family: Muli;
		 font-size: 18px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-0791a91a {
		text-align: center;
	}
	.__pf .pf-1a4aa494 {
		background-color: rgba(255, 238, 223, 0.58);
		 padding-bottom: 15px;
		 padding-top: 15px;
	}
	.__pf .pf-b3d9d128 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(170, 138, 134);
		 text-align: center;
		 margin-bottom: 50px;
	}
	.__pf .pf-2887c144 {
		background-repeat: no-repeat;
	}
	.__pf .pf-5a5762e7 {
		font-family: Muli;
		 font-weight: 300;
		 padding-left: 30px;
		 padding-right: 30px;
		 padding-top: 20px;
	}
	.__pf .pf-e7181947 {
		margin-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-6fe0d003 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-d73470de {
		width: 130px;
		 height: auto;
		 padding-bottom: 0px;
		 padding-top: 10px;
	}
	.__pf .pf-d003fb11 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-fb11a8a9 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-84b45ad5 {
		text-align: center;
	}
	.__pf .pf-b94339b2 {
		width: 140px;
		 height: auto;
		 padding-bottom: 0px;
	}
	.__pf .pf-a8a9b350 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-b350d23d {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-5ad56339 {
		text-align: center;
	}
	.__pf .pf-046186f0 {
		width: 130px;
		 height: auto;
		 padding-bottom: 0px;
		 padding-top: 10px;
	}
	.__pf .pf-6d572362 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-4780d8d0 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-63396677 {
		text-align: center;
	}
	.__pf .pf-776fd63a {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 15px;
		 padding-bottom: 15px;
	}
	.__pf .pf-2df8a995 {
		width: 120px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 20px;
		 padding-right: 5px;
	}
	.__pf .pf-a995e802 {
		width: 100px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 20px;
		 padding-left: 5px;
	}
	.__pf .pf-9124fe0f {
		text-align: center;
	}
	.__pf .pf-fe0ffec1 {
		margin-left: 300px;
		 margin-right: 300px;
	}
	.__pf .pf-fec10484 {
		text-align: center;
		 padding-top: 100px;
		 padding-bottom: 100px;
	}
	.__pf .pf-70105829 {
		border-style: none;
	}
	.__pf .pf-70105829:hover {
		border-style: solid;
		 border-color: rgb(102, 102, 102);
	}
	.__pf .pf-70105829[data-active="true"] {
		border-style: solid;
		 border-color: rgb(74, 144, 226);
	}
	.__pf .pf-7a30fa80 > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-6fcba71d {
		text-align: left;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 26px;
	}
	.__pf .pf-bbc3b158 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-42c7d0b8 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-42c7d0b8:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-d0b8b7a5 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-d0b8b7a5:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-b7a51758 {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-right: 15px;
		 padding-left: 15px;
		 background: rgb(255, 255, 255);
		 border-color: rgb(255, 255, 255);
		 color: rgba(74, 63, 60, 0.85);
		 padding-bottom: 10px;
		 text-align: left;
	}
	.__pf .pf-b7a51758[data-active="true"] {
		font-family: Muli;
	}
	.__pf .pf-0f96993d {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-17580570 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-52596436 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-05708ed6 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-60f95e8f {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-8ed60cb9 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-6544725e {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-0cb9121a {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-262f83ea {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-121a4c89 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-cb442975 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-4c89ac6b {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-71a0a837 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-ac6bb4b7 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-955a929e {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-b4b77009 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-f7bf7d9c {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(74, 63, 60, 0.5);
		 padding-bottom: 10px;
	}
	.__pf .pf-67f4cbf6 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 4px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 2px;
		 margin-left: 2px;
	}
	.__pf .pf-38ad6e42 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-b6530921 {
		display: flex;
	}
	.__pf .pf-25b5104b {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 0px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-6e4260b3 {
		display: flex;
	}
	.__pf .pf-60b33a63 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-092157ef {
		display: flex;
	}
	.__pf .pf-82d517cc {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 4px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-3a63e89e {
		display: flex;
	}
	.__pf .pf-e89ea300 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-57efa6b2 {
		display: flex;
	}
	.__pf .pf-75c2cf76 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 5px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-a3006d16 {
		display: flex;
	}
	.__pf .pf-6d16816c {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-a6b206cf {
		display: flex;
	}
	.__pf .pf-23122b8e {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 3px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-816c7ee3 {
		display: flex;
	}
	.__pf .pf-7ee3bcdd {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-06cfca9a {
		display: flex;
	}
	.__pf .pf-cc9fbb6a {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-bcddc0cf {
		display: flex;
	}
	.__pf .pf-c0cf041a {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-ca9aa5e3 {
		display: flex;
	}
	.__pf .pf-17a5f310 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 3px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-041afc2e {
		display: flex;
	}
	.__pf .pf-fc2ea89e {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-a5e35df5 {
		display: flex;
	}
	.__pf .pf-573fded8 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 5px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-a89eab33 {
		display: flex;
	}
	.__pf .pf-ab33ec6c {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-5df522ef {
		display: flex;
	}
	.__pf .pf-7d9cb343 {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-bottom: 10px;
	}
	.__pf .pf-0d60fb00 {
		text-align: left;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-62537ed6 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(255, 238, 223);
	}
	.__pf .pf-669adbc9 {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
		 padding-top: 10px;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-ec6c48a7 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-ec6c48a7:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-48a7d926 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-d926c49d {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-d926c49d:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-2d21d58a {
		width: 120px;
		 height: auto;
		 margin: 5px 40px 15px;
	}
	.__pf .pf-d58a6f60 {
		width: 100px;
		 height: auto;
		 margin-right: 40px;
		 margin-bottom: 15px;
		 margin-top: 5px;
	}
	.__pf .pf-c49d0c76 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-0c7685a9 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-0c7685a9:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-85a9dd3e {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-1863de59 {
		font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-dd3ef813 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-dd3ef813:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-f813457d {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-89cae79c {
		margin-top: 10px;
	}
	.__pf .pf-e80279c2 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-e80279c2:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-79c2cfda {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-5c421ca8 {
		margin-top: -55px;
	}
	.__pf .pf-6c942c21 {
		border-style: none;
	}
	.__pf .pf-6c942c21:hover {
		border-style: solid;
		 border-color: rgb(102, 102, 102);
	}
	.__pf .pf-6c942c21[data-active="true"] {
		border-style: solid;
		 border-color: rgb(74, 144, 226);
	}
	.__pf .pf-bb3b642d > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-134b9f86 {
		text-align: left;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 26px;
	}
	.__pf .pf-f0817381 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-b834329b {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-b834329b:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-329b704a {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-329b704a:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-704a99a4 {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-right: 15px;
		 padding-left: 15px;
		 background: rgb(255, 255, 255);
		 border-color: rgb(255, 255, 255);
		 color: rgba(74, 63, 60, 0.85);
		 padding-bottom: 10px;
		 text-align: left;
	}
	.__pf .pf-704a99a4[data-active="true"] {
		font-family: Muli;
	}
	.__pf .pf-32eb400f {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-99a49ee7 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-ce9feb4b {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 1px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-9ee74c42 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-a1b282c0 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-4c4255bd {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-73992686 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 3px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-55bd0aaa {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-2edd44dc {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-0aaa2743 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-b2b22127 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-2743563c {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-6b795348 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 1px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-563c8ec9 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-68559a94 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 1px;
		 border-style: none;
		 margin-right: 2px;
		 margin-left: 2px;
		 background: rgb(255, 238, 223);
		 margin-bottom: 2px;
	}
	.__pf .pf-8ec9a073 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-601f6a02 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(74, 63, 60, 0.5);
		 padding-bottom: 10px;
	}
	.__pf .pf-eea0e02a {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 2px;
		 margin-left: 2px;
	}
	.__pf .pf-d1910ea5 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-2515b6fc {
		display: flex;
	}
	.__pf .pf-835368e1 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 1px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-0ea59a20 {
		display: flex;
	}
	.__pf .pf-9a2096a2 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-b6fcdb10 {
		display: flex;
	}
	.__pf .pf-ede6f35b {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-96a27a86 {
		display: flex;
	}
	.__pf .pf-7a8637e7 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-db105187 {
		display: flex;
	}
	.__pf .pf-59eddcac {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 3px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-37e77ac9 {
		display: flex;
	}
	.__pf .pf-7ac96bcd {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-5187983a {
		display: flex;
	}
	.__pf .pf-5c6c0555 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 2px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-6bcdea05 {
		display: flex;
	}
	.__pf .pf-ea053afa {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-983a19c0 {
		display: flex;
	}
	.__pf .pf-5990ac03 {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-3afabfc6 {
		display: flex;
	}
	.__pf .pf-bfc64575 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-19c0d3dc {
		display: flex;
	}
	.__pf .pf-38d2744e {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 1px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-4575a379 {
		display: flex;
	}
	.__pf .pf-a3799193 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-d3dc7955 {
		display: flex;
	}
	.__pf .pf-e738da3c {
		width: 40px;
		 height: auto;
		 border-radius: 50%;
		 padding: 1px;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
	}
	.__pf .pf-9193cc8b {
		display: flex;
	}
	.__pf .pf-cc8bdb3f {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-7955fe15 {
		display: flex;
	}
	.__pf .pf-6a022a1e {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-bottom: 10px;
	}
	.__pf .pf-e6c28675 {
		text-align: left;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-b7680f45 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(255, 238, 223);
	}
	.__pf .pf-5ece123e {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
		 padding-top: 10px;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-db3f1df8 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-db3f1df8:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-1df89d89 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-9d89728f {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-9d89728f:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-21e7c7e5 {
		width: 120px;
		 height: auto;
		 margin: 5px 40px 15px;
	}
	.__pf .pf-c7e58201 {
		width: 100px;
		 height: auto;
		 margin-right: 40px;
		 margin-bottom: 15px;
		 margin-top: 5px;
	}
	.__pf .pf-728feadb {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-eadb166e {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-eadb166e:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-166e381b {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-267411a7 {
		font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-381bb01c {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-381bb01c:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-b01cf925 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-2bd06755 {
		margin-top: 10px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-ba5c2af1 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: -55px;
	}
	.__pf .pf-e183838f {
		color: rgb(74, 63, 60);
	}
	.__pf .pf-c8fd3d17 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-d43cc618 {
		margin-left: 0px;
	}
	.__pf .pf-1280eb18 {
		margin-left: 0px;
	}
	.__pf .pf-2617b234 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-8af7c8fd {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-c8625cae {
		margin-left: 0px;
	}
	.__pf .pf-c618319b {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-5cae1280 {
		margin-left: 0px;
	}
	.__pf .pf-4fda92c1 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-1a4aa494 {
		padding-top: 35px;
		 margin-bottom: 5px;
	}
	.__pf .pf-b3d9d128 {
		margin-bottom: 60px;
	}
	.__pf .pf-c1445462 {
		padding-top: 70px;
	}
	.__pf .pf-5a5762e7 {
		padding-top: 0px;
	}
	.__pf .pf-c4db0a0e {
		display: flex;
		 flex-direction: column-reverse;
	}
	.__pf .pf-e7181947 {
		padding-bottom: 40px;
		 margin-top: 20px;
	}
	.__pf .pf-d73470de {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-fb11a8a9 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-84b45ad5 {
		padding-top: 10px;
	}
	.__pf .pf-b94339b2 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-b350d23d {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-5ad56339 {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-top: 30px;
	}
	.__pf .pf-046186f0 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-4780d8d0 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-63396677 {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-top: 30px;
	}
	.__pf .pf-776fd63a {
		padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-2df8a995 {
		margin-bottom: 0px;
		 margin-top: 30px;
	}
	.__pf .pf-a995e802 {
		margin-bottom: 0px;
		 margin-top: 30px;
		 width: 100px;
		 height: auto;
	}
	.__pf .pf-9124fe0f {
		margin-top: -10px;
	}
	.__pf .pf-fe0ffec1 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-fec10484 {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-7a30fa80 > div > div:first-child {
		height: 400px;
	}
	.__pf .pf-6fcba71d {
		font-size: 18px;
		 margin-bottom: 0px;
		 margin-left: 0px;
		 font-family: Montserrat;
		 text-align: center;
		 margin-top: -15px;
	}
	.__pf .pf-fa80bbc3 {
		text-align: right;
	}
	.__pf .pf-bbc3b158 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 2px;
	}
	.__pf .pf-d4a4459b {
		text-align: left;
	}
	.__pf .pf-4541f885 {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-b15842c7 {
		text-align: left;
	}
	.__pf .pf-42c7d0b8 {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-42c7d0b8:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-d0b8b7a5 {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-d0b8b7a5:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-7fe9f7bf {
		text-align: center;
		 margin-top: -50px;
	}
	.__pf .pf-b7a51758 {
		padding-bottom: 0px;
		 padding-top: 10px;
	}
	.__pf .pf-0f96993d {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 2px;
	}
	.__pf .pf-17580570 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-3f215eec {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
		 text-align: center;
	}
	.__pf .pf-52596436 {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 0px;
	}
	.__pf .pf-05708ed6 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-5eec751f {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-60f95e8f {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 3px;
	}
	.__pf .pf-8ed60cb9 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-751fa386 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-6544725e {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 5px;
	}
	.__pf .pf-0cb9121a {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-a3865b77 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-262f83ea {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 2px;
	}
	.__pf .pf-121a4c89 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-5b77f2b9 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-cb442975 {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
	}
	.__pf .pf-4c89ac6b {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-f2b9073e {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-71a0a837 {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 3px;
	}
	.__pf .pf-ac6bb4b7 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-073e38bf {
		display: flex;
	}
	.__pf .pf-955a929e {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 5px;
	}
	.__pf .pf-b4b77009 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-38bfb653 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-f7bf7d9c {
		text-align: right;
		 border-style: none;
		 padding-left: 30px;
	}
	.__pf .pf-67f4cbf6 {
		border-style: none;
	}
	.__pf .pf-700938ad {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
	}
	.__pf .pf-38ad6e42 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-b6530921 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-25b5104b {
		border-style: none;
	}
	.__pf .pf-6e4260b3 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-60b33a63 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-092157ef {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-82d517cc {
		border-style: none;
	}
	.__pf .pf-3a63e89e {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-e89ea300 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-57efa6b2 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-75c2cf76 {
		border-style: none;
	}
	.__pf .pf-a3006d16 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-6d16816c {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-a6b206cf {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-23122b8e {
		border-style: none;
	}
	.__pf .pf-816c7ee3 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-7ee3bcdd {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-06cfca9a {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-cc9fbb6a {
		border-style: none;
	}
	.__pf .pf-bcddc0cf {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-c0cf041a {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-ca9aa5e3 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-17a5f310 {
		border-style: none;
	}
	.__pf .pf-041afc2e {
		display: flex;
	}
	.__pf .pf-fc2ea89e {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-a5e35df5 {
		display: flex;
	}
	.__pf .pf-573fded8 {
		border-style: none;
	}
	.__pf .pf-a89eab33 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-ab33ec6c {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-5df522ef {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-7d9cb343 {
		text-align: right;
	}
	.__pf .pf-0d60fb00 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-62537ed6 {
		margin-top: -20px;
		 margin-bottom: 10px;
		 text-align: center;
	}
	.__pf .pf-669adbc9 {
		padding-top: 25px;
		 padding-bottom: 40px;
		 margin-bottom: 0px;
	}
	.__pf .pf-d926c49d {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-2d21d58a {
		margin: 10px 20px;
	}
	.__pf .pf-d58a6f60 {
		margin-right: 20px;
		 margin-bottom: 10px;
		 margin-top: 10px;
	}
	.__pf .pf-dd3ef813 {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-89cae79c {
		margin-top: 0px;
		 padding-bottom: 10px;
		 padding-top: 0px;
	}
	.__pf .pf-adb8c0f5 {
		margin-right: 0px;
	}
	.__pf .pf-e80279c2 {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 14px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-e80279c2:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-79c2cfda {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-5c421ca8 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: -55px;
	}
	.__pf .pf-bb3b642d > div > div:first-child {
		height: 400px;
	}
	.__pf .pf-134b9f86 {
		font-size: 18px;
		 margin-bottom: 0px;
		 margin-left: 0px;
		 font-family: Montserrat;
		 text-align: center;
		 margin-top: -15px;
	}
	.__pf .pf-642df081 {
		text-align: right;
	}
	.__pf .pf-f0817381 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 2px;
	}
	.__pf .pf-6994ec5f {
		text-align: left;
	}
	.__pf .pf-6b4fa2c1 {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-7381b834 {
		text-align: left;
	}
	.__pf .pf-b834329b {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-b834329b:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-329b704a {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-329b704a:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-1650601f {
		text-align: center;
		 margin-top: -50px;
	}
	.__pf .pf-704a99a4 {
		padding-bottom: 0px;
		 padding-top: 10px;
	}
	.__pf .pf-32eb400f {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 2px;
	}
	.__pf .pf-99a49ee7 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-3dd2a449 {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
		 text-align: center;
	}
	.__pf .pf-ce9feb4b {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 1px;
	}
	.__pf .pf-9ee74c42 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-a449d01e {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-a1b282c0 {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 2px;
	}
	.__pf .pf-4c4255bd {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-d01ed667 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-73992686 {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 2px;
	}
	.__pf .pf-55bd0aaa {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-d667eb9e {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-2edd44dc {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 2px;
	}
	.__pf .pf-0aaa2743 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-eb9e14e5 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-b2b22127 {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
	}
	.__pf .pf-2743563c {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-14e5fce8 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-6b795348 {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 1px;
	}
	.__pf .pf-563c8ec9 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-fce89e24 {
		display: flex;
	}
	.__pf .pf-68559a94 {
		background: rgb(255, 238, 223);
		 margin-left: 0px;
		 margin-top: 0px;
		 margin-right: 0px;
		 width: 35px;
		 height: auto;
		 padding: 1px;
	}
	.__pf .pf-8ec9a073 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-9e242515 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-601f6a02 {
		text-align: right;
		 border-style: none;
		 padding-left: 30px;
		 padding-top: 10px;
	}
	.__pf .pf-eea0e02a {
		border-style: none;
	}
	.__pf .pf-a073d191 {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
	}
	.__pf .pf-d1910ea5 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-2515b6fc {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-835368e1 {
		border-style: none;
	}
	.__pf .pf-0ea59a20 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-9a2096a2 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-b6fcdb10 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-ede6f35b {
		border-style: none;
	}
	.__pf .pf-96a27a86 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-7a8637e7 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-db105187 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-59eddcac {
		border-style: none;
	}
	.__pf .pf-37e77ac9 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-7ac96bcd {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-5187983a {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-5c6c0555 {
		border-style: none;
	}
	.__pf .pf-6bcdea05 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-ea053afa {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-983a19c0 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-5990ac03 {
		border-style: none;
	}
	.__pf .pf-3afabfc6 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-bfc64575 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-19c0d3dc {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-38d2744e {
		border-style: none;
	}
	.__pf .pf-4575a379 {
		display: flex;
	}
	.__pf .pf-a3799193 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-d3dc7955 {
		display: flex;
	}
	.__pf .pf-e738da3c {
		border-style: none;
	}
	.__pf .pf-9193cc8b {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-cc8bdb3f {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-7955fe15 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-6a022a1e {
		text-align: right;
	}
	.__pf .pf-e6c28675 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-b7680f45 {
		margin-top: -20px;
		 margin-bottom: 10px;
		 text-align: center;
	}
	.__pf .pf-5ece123e {
		padding-top: 25px;
		 padding-bottom: 40px;
		 margin-bottom: 0px;
	}
	.__pf .pf-9d89728f {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-21e7c7e5 {
		margin: 10px 20px;
	}
	.__pf .pf-c7e58201 {
		margin-right: 20px;
		 margin-bottom: 10px;
		 margin-top: 10px;
	}
	.__pf .pf-381bb01c {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-2bd06755 {
		margin-top: 0px;
		 padding-bottom: 10px;
		 padding-top: 0px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-e183838f {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-c8fd3d17 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-92a6d43c {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-2617b234 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-3b478af7 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-c618319b {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-7b92ded1 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-4fda92c1 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-090a0791 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-b3d9d128 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-c1445462 {
		height: auto;
	}
	.__pf .pf-6fe0d003 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-d73470de {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-d003fb11 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-fb11a8a9 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-b94339b2 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-a8a9b350 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-b350d23d {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-046186f0 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-6d572362 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-4780d8d0 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-7a30fa80 > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-bb3b642d > div > div:first-child {
		height: 509px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-fb11a8a9 {
		text-align: center;
	}
	.__pf .pf-b350d23d {
		text-align: center;
	}
	.__pf .pf-4780d8d0 {
		text-align: center;
	}
	.__pf .pf-fe0ffec1 {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-42c7d0b8 {
		margin-left: 15px;
	}
	.__pf .pf-d0b8b7a5 {
		margin-left: 15px;
	}
	.__pf .pf-e80279c2 {
		margin-left: 15px;
	}
	.__pf .pf-fb11ec3a {
		text-align: center;
	}
	.__pf .pf-b834329b {
		margin-left: 15px;
	}
	.__pf .pf-329b704a {
		margin-left: 15px;
	}
}
						

 