/* PageFly Element Styles */
						.jHjrlE { padding-top: 20px; padding-bottom: 20px; }
.jHjrlE__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.jHjrlE__button > i { margin-right: 5px; }
.jHjrlE .icon_position { position: absolute; right: 10px; }
.jHjrlE .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; padding: 10px 15px; appearance: none; color: black; text-align: left; outline: none; display: block; position: relative; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.ciDzeO { position: relative; }
.ciDzeO video { display: flex; }
.ciDzeO svg { position: absolute; top: calc(50% - 32px); left: calc(50% - 32px); }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-d24975b9 {
		font-family: Montserrat;
		 font-size: 2em;
		 color: rgb(74, 63, 60);
		 text-align: left;
	}
	.__pf .pf-ffd12de6 {
		font-size: 16px;
		 font-family: Muli;
		 text-align: left;
		 padding-bottom: 10px;
		 padding-right: 0px;
	}
	.__pf .pf-326e4b5d {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-326e4b5d:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-9a3fb027 {
		font-size: 13px;
		 font-family: Muli;
		 text-align: left;
		 margin-top: 0px;
		 padding-left: 22px;
	}
	.__pf .pf-3fb02742 {
		padding: 50px;
		 min-height: 1px;
	}
	.__pf .pf-4228c532 {
		margin-top: -55px;
	}
	.__pf .pf-28c5321b {
		padding: 0px;
	}
	.__pf .pf-80e00b21 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-c0b21d19 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-b575604c {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-f9c5632e {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-c5632e85 {
		text-align: center;
	}
	.__pf .pf-852447d2 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-5e7b15a2 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-dc7d402e {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-7d402e28 {
		text-align: center;
	}
	.__pf .pf-28148254 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-21267b1a {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-ff1ae4a1 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-1ae4a1ba {
		text-align: center;
	}
	.__pf .pf-ba5ad754 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-fe30bade {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-9531fbfa {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-31fbfa2b {
		text-align: center;
	}
	.__pf .pf-2b765ce6 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-73c9d53b {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-f7a4501c {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-a4501cd4 {
		text-align: center;
	}
	.__pf .pf-d4c0c0ea {
		width: 120px;
		 height: auto;
		 padding-bottom: 20px;
	}
	.__pf .pf-2925391d {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-92183c95 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-183c9522 {
		text-align: center;
	}
	.__pf .pf-3c9522b9 {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 25px;
		 padding-bottom: 25px;
	}
	.__pf .pf-2202afc8 {
		font-family: Montserrat;
		 font-size: 2em;
		 color: rgb(255, 255, 255);
		 text-align: right;
	}
	.__pf .pf-798d280c {
		font-size: 1.2em;
		 font-family: Muli;
		 text-align: right;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-7ec4d137 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
	}
	.__pf .pf-7ec4d137:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 border-style: solid;
		 border-width: 1px;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-c4d137f3 {
		padding: 50px;
		 min-height: 1px;
		 text-align: right;
	}
	.__pf .pf-d137f32f {
		display: flex;
		 flex-direction: row-reverse;
		 background-color: rgb(74, 63, 60);
	}
	.__pf .pf-37f32f11 {
		padding: 0px;
	}
	.__pf .pf-ddafc7a0 {
		text-align: center;
		 font-family: Montserrat;
		 font-size: 18px;
		 margin-bottom: 3px;
		 margin-top: 0px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-fb57c3ae {
		margin-left: 0px;
	}
	.__pf .pf-ae8f3322 {
		margin-left: 40px;
	}
	.__pf .pf-224a5e2f {
		height: auto;
		 margin-left: 80px;
	}
	.__pf .pf-4a5e2fbf {
		text-align: center;
	}
	.__pf .pf-5e2fbf69 {
		margin-top: 0px;
		 padding-top: 60px;
		 padding-bottom: 100px;
		 background-color: rgb(188, 177, 156);
		 text-align: center;
	}
	.__pf .pf-16d4b7dc {
		text-align: center;
		 font-family: Muli;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-09e8aa47 {
		margin-left: 0px;
	}
	.__pf .pf-47523add {
		margin-left: 0px;
	}
	.__pf .pf-dd3f701d {
		margin-left: 0px;
	}
	.__pf .pf-3f701d20 {
		text-align: center;
	}
	.__pf .pf-701d2088 {
		margin-top: 0px;
		 padding-top: 60px;
		 padding-bottom: 100px;
		 background-color: rgb(74, 74, 74);
		 text-align: center;
	}
	.__pf .pf-d6c17474 {
		font-family: Montserrat;
		 font-size: 2em;
		 color: rgb(74, 63, 60);
		 text-align: left;
	}
	.__pf .pf-3d09f5d5 {
		font-size: 16px;
		 font-family: Muli;
		 text-align: left;
		 padding-bottom: 10px;
	}
	.__pf .pf-072606b8 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 1em 75px;
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
	}
	.__pf .pf-072606b8:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-size: 14px;
		 font-weight: 600;
		 padding-left: 75px;
		 padding-right: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-2606b804 {
		padding: 50px;
		 min-height: 1px;
	}
	.__pf .pf-06b8043f {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-879a76b0 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-2b922cb5 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-76b0c43a {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-c43a63f8 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-a0f88ee5 {
		text-align: center;
	}
	.__pf .pf-ab9413b2 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-63f807f4 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-07f4473c {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-8ee5aa7e {
		text-align: center;
	}
	.__pf .pf-f2156dcb {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-473c788e {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-788ee71e {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-aa7ee85a {
		text-align: center;
	}
	.__pf .pf-74aaf559 {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-5fdf781b {
		color: rgb(0, 0, 0);
		 border: 1px solid rgb(0, 0, 0);
		 border-radius: 5px;
		 padding: 1em 75px;
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
	}
	.__pf .pf-5fdf781b:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
		 padding: 1em 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-df781bb4 {
		background-image: url("https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-f555a651--MG5765-Edited-Edited.jpg?v=1595497806");
		 padding-top: 450px;
		 padding-bottom: 100px;
		 background-size: cover;
		 text-align: center;
	}
	.__pf .pf-d2d8fa9a {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 padding: 1em 100px;
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
	}
	.__pf .pf-d2d8fa9a:hover {
		background-color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-size: 18px;
		 font-weight: 600;
		 padding-top: 1em;
		 padding-bottom: 1em;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-d8fa9a8c {
		background-image: url("https://cdn.shopify.com/s/files/1/0277/5859/2073/t/3/assets/pf-ba026ab1--Webpnetresizeimage-5.jpg?v=1596720400");
		 padding-top: 450px;
		 padding-bottom: 100px;
		 background-size: cover;
		 text-align: center;
	}
	.__pf .pf-fa9a8ca5 {
		padding: 100px 50px;
	}
	.__pf .pf-9a8ca523 {
		padding: 0px;
		 text-align: left;
	}
	.__pf .pf-f83f277d {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-b3b90169 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-7632ba0c {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-7632ba0c:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-7bf9cc34 {
		text-align: center;
		 min-height: 40px;
	}
	.__pf .pf-344ed283 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-cd660eb7 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-cd660eb7:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-161ca087 {
		text-align: center;
		 min-height: 40px;
	}
	.__pf .pf-876ed40a {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-cd0a0a8d {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-cd0a0a8d:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-8ef93474 {
		text-align: center;
	}
	.__pf .pf-f9347462 {
		text-align: center;
	}
	.__pf .pf-347462f7 {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-678207e2 {
		text-align: center;
		 font-size: 24px;
		 font-family: Montserrat;
		 font-weight: 600;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-5f11147d {
		background-color: rgba(255, 238, 223, 0.5);
	}
	.__pf .pf-0e32900b {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-473f9c32 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-900bb26f {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-900bb26f:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-3d0151c3 {
		text-align: center;
		 min-height: 40px;
	}
	.__pf .pf-8cd7f08d {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-2832f130 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-2832f130:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-51c37495 {
		text-align: center;
		 min-height: 40px;
	}
	.__pf .pf-4744dec4 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-ef081430 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-ef081430:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-74958e30 {
		text-align: center;
	}
	.__pf .pf-8e30da15 {
		text-align: center;
	}
	.__pf .pf-da151200 {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-72b65347 {
		margin-bottom: 15px;
	}
	.__pf .pf-72b65347 > div > div:first-child {
		height: 270px;
	}
	.__pf .pf-53476018 {
		text-align: center;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 18px;
		 margin-bottom: 0px;
	}
	.__pf .pf-60181d4b {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-3b12b45b {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.8em 75px;
		 font-family: Montserrat;
		 font-size: 16px;
		 font-weight: 600;
	}
	.__pf .pf-3b12b45b:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
		 padding-right: 75px;
		 padding-left: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-12b45b52 {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-b45b5208 {
		height: 100%;
	}
	.__pf .pf-5b5208ee {
		text-align: center;
		 height: 100%;
	}
	.__pf .pf-e41c5aff {
		margin-bottom: 15px;
	}
	.__pf .pf-e41c5aff > div > div:first-child {
		height: 270px;
	}
	.__pf .pf-5aff5b68 {
		text-align: center;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 18px;
		 margin-bottom: 0px;
	}
	.__pf .pf-5b6886e6 {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-4497de80 {
		color: rgb(255, 255, 255);
		 border: 1px solid rgb(255, 255, 255);
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 0.8em 75px;
		 font-family: Montserrat;
		 font-size: 16px;
		 font-weight: 600;
	}
	.__pf .pf-4497de80:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
		 padding-right: 75px;
		 padding-left: 75px;
		 color: rgb(74, 63, 60);
		 border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-97de805f {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-de805f11 {
		height: 100%;
	}
	.__pf .pf-805f1114 {
		text-align: center;
		 height: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-7b396739 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-6739700c {
		text-align: center;
		 font-family: Muli;
		 font-size: 16px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-d24975b9 {
		text-align: center;
		 font-family: Montserrat;
		 margin-top: 0px;
		 font-size: 24px;
	}
	.__pf .pf-ffd12de6 {
		text-align: center;
		 font-family: Muli;
		 padding-bottom: 15px;
		 padding-left: 15px;
		 padding-right: 15px;
	}
	.__pf .pf-326e4b5d {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-326e4b5d:hover {
		padding-left: 90px;
		 padding-right: 90px;
	}
	.__pf .pf-9a3fb027 {
		text-align: center;
		 font-family: Muli;
		 padding-bottom: 15px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-3fb02742 {
		text-align: center;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-274228c5 {
		text-align: center;
		 font-family: Muli;
		 font-size: 16px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-4228c532 {
		margin-top: -35px;
	}
	.__pf .pf-c0b21d19 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-f9c5632e {
		text-align: center;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-c5632e85 {
		padding-top: 30px;
	}
	.__pf .pf-852447d2 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-dc7d402e {
		text-align: center;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-7d402e28 {
		padding-top: 30px;
	}
	.__pf .pf-28148254 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-ff1ae4a1 {
		text-align: center;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-1ae4a1ba {
		padding-top: 30px;
	}
	.__pf .pf-ba5ad754 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-9531fbfa {
		text-align: center;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-31fbfa2b {
		padding-top: 30px;
	}
	.__pf .pf-2b765ce6 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-f7a4501c {
		text-align: center;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-a4501cd4 {
		padding-top: 30px;
	}
	.__pf .pf-d4c0c0ea {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-92183c95 {
		text-align: center;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-183c9522 {
		padding-top: 30px;
	}
	.__pf .pf-3c9522b9 {
		padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-2202afc8 {
		text-align: center;
		 font-family: Montserrat;
		 margin-top: 0px;
		 font-size: 24px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-798d280c {
		text-align: center;
		 font-family: Muli;
		 font-size: 16px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-7ec4d137 {
		padding: 10px 80px;
		 background-color: rgba(34, 25, 77, 0);
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 border-width: 1px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-7ec4d137:hover {
		padding-left: 80px;
		 padding-right: 80px;
		 color: rgb(74, 63, 60);
	}
	.__pf .pf-c4d137f3 {
		text-align: center;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-ddafc7a0 {
		text-align: center;
		 font-size: 21px;
	}
	.__pf .pf-4a5e2fbf {
		margin-bottom: 100px;
		 display: flex;
		 flex-direction: row;
	}
	.__pf .pf-5e2fbf69 {
		margin-top: 0px;
	}
	.__pf .pf-16d4b7dc {
		margin-top: 0px;
	}
	.__pf .pf-47523add {
		margin-left: 30px;
	}
	.__pf .pf-dd3f701d {
		margin-top: -10px;
		 margin-left: 0px;
	}
	.__pf .pf-3f701d20 {
		display: flex;
		 flex-direction: row;
	}
	.__pf .pf-701d2088 {
		margin-top: 0px;
		 background-color: rgb(188, 177, 156);
	}
	.__pf .pf-59e9c509 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-d6c17474 {
		text-align: center;
		 font-family: Montserrat;
		 margin-top: 0px;
		 font-size: 24px;
	}
	.__pf .pf-3d09f5d5 {
		text-align: center;
		 font-family: Muli;
		 padding-bottom: 15px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-072606b8 {
		padding: 10px 70px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-072606b8:hover {
		padding-left: 90px;
		 padding-right: 90px;
	}
	.__pf .pf-2606b804 {
		text-align: center;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-2b922cb5 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-c43a63f8 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-ab9413b2 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-07f4473c {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-8ee5aa7e {
		padding-top: 30px;
	}
	.__pf .pf-f2156dcb {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-788ee71e {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-aa7ee85a {
		padding-top: 30px;
	}
	.__pf .pf-74aaf559 {
		padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-5fdf781b {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
		 background-color: rgb(235, 76, 90);
	}
	.__pf .pf-d2d8fa9a {
		padding: 10px 90px;
		 color: rgb(255, 255, 255);
		 background-color: rgb(235, 76, 90);
	}
	.__pf .pf-9a8ca523 {
		margin: 0px;
		 padding: 0px;
	}
	.__pf .pf-b3b90169 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-7632ba0c {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-227bf9cc {
		font-family: Muli;
		 font-weight: 300;
		 text-align: left;
	}
	.__pf .pf-7bf9cc34 {
		padding-bottom: 20px;
	}
	.__pf .pf-344ed283 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-cd660eb7 {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-5f161ca0 {
		font-family: Muli;
		 font-weight: 300;
		 text-align: left;
	}
	.__pf .pf-161ca087 {
		padding-bottom: 20px;
	}
	.__pf .pf-876ed40a {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-cd0a0a8d {
		padding-bottom: 12px;
		 padding-top: 12px;
		 text-align: left;
	}
	.__pf .pf-148ef934 {
		font-family: Muli;
		 font-weight: 300;
		 text-align: left;
	}
	.__pf .pf-8ef93474 {
		padding-bottom: 20px;
	}
	.__pf .pf-347462f7 {
		padding-top: 35px;
	}
	.__pf .pf-678207e2 {
		color: rgb(74, 63, 60);
		 font-size: 28px;
		 text-align: center;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-5f11147d {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-473f9c32 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-900bb26f {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-b26f2832 {
		font-family: Muli;
		 font-weight: 300;
		 text-align: left;
	}
	.__pf .pf-3d0151c3 {
		padding-bottom: 20px;
	}
	.__pf .pf-8cd7f08d {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-2832f130 {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-f130ef08 {
		font-family: Muli;
		 font-weight: 300;
		 text-align: left;
	}
	.__pf .pf-51c37495 {
		padding-bottom: 20px;
	}
	.__pf .pf-4744dec4 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-ef081430 {
		padding-bottom: 12px;
		 padding-top: 12px;
		 text-align: left;
	}
	.__pf .pf-14302eb7 {
		font-family: Muli;
		 font-weight: 300;
		 text-align: left;
	}
	.__pf .pf-74958e30 {
		padding-bottom: 20px;
	}
	.__pf .pf-da151200 {
		padding-top: 35px;
	}
	.__pf .pf-72b65347 > div > div:first-child {
		height: 170px;
	}
	.__pf .pf-60181d4b {
		text-align: center;
	}
	.__pf .pf-3b12b45b {
		padding: 10px 0px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-3b12b45b:hover {
		padding: 10px 0px;
	}
	.__pf .pf-e41c5aff > div > div:first-child {
		height: 170px;
	}
	.__pf .pf-5b6886e6 {
		text-align: center;
	}
	.__pf .pf-4497de80 {
		padding: 10px 0px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-4497de80:hover {
		padding: 10px 0px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-d24975b9 {
		font-size: 26px;
	}
	.__pf .pf-80e00b21 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-c0b21d19 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-b575604c {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-f9c5632e {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-852447d2 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-5e7b15a2 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-dc7d402e {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-28148254 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-21267b1a {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-ff1ae4a1 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-ba5ad754 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-fe30bade {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-9531fbfa {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-2b765ce6 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-73c9d53b {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-f7a4501c {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-d4c0c0ea {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-2925391d {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-92183c95 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-2202afc8 {
		color: rgb(255, 255, 255);
		 text-align: right;
	}
	.__pf .pf-5e2fbf69 {
		padding-top: 60px;
	}
	.__pf .pf-d6c17474 {
		font-size: 26px;
	}
	.__pf .pf-879a76b0 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-2b922cb5 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-76b0c43a {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-c43a63f8 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-ab9413b2 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-63f807f4 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-07f4473c {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-f2156dcb {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-473c788e {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-788ee71e {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-f83f277d {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-b3b90169 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-344ed283 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-876ed40a {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-0e32900b {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-473f9c32 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-8cd7f08d {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-4744dec4 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-d24975b9 {
		text-align: center;
		 font-size: 20px;
	}
	.__pf .pf-ffd12de6 {
		text-align: center;
	}
	.__pf .pf-9a3fb027 {
		text-align: center;
	}
	.__pf .pf-3fb02742 {
		text-align: center;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-f9c5632e {
		text-align: center;
	}
	.__pf .pf-dc7d402e {
		text-align: center;
	}
	.__pf .pf-ff1ae4a1 {
		text-align: center;
	}
	.__pf .pf-9531fbfa {
		text-align: center;
	}
	.__pf .pf-f7a4501c {
		text-align: center;
	}
	.__pf .pf-92183c95 {
		text-align: center;
	}
	.__pf .pf-2202afc8 {
		text-align: center;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
	}
	.__pf .pf-798d280c {
		text-align: center;
	}
	.__pf .pf-c4d137f3 {
		text-align: center;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-d137f32f {
		text-align: center;
	}
	.__pf .pf-d6c17474 {
		text-align: center;
		 font-size: 20px;
	}
	.__pf .pf-3d09f5d5 {
		text-align: center;
	}
	.__pf .pf-2606b804 {
		text-align: center;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-c43a63f8 {
		text-align: center;
	}
	.__pf .pf-07f4473c {
		text-align: center;
	}
	.__pf .pf-788ee71e {
		text-align: center;
	}
	.__pf .pf-5fdf781b {
		font-size: 16px;
		 padding-left: 10px;
		 padding-right: 10px;
		 color: rgb(0, 0, 0);
		 border-style: solid;
		 border-color: rgb(0, 0, 0);
	}
	.__pf .pf-5fdf781b:hover {
		padding: 16px 10px;
		 font-size: 16px;
	}
	.__pf .pf-df781bb4 {
		background-position: 100% 50%;
		 padding-top: 200px;
		 padding-bottom: 50px;
	}
	.__pf .pf-d2d8fa9a {
		font-size: 16px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-d2d8fa9a:hover {
		padding: 16px 20px;
		 font-size: 16px;
	}
	.__pf .pf-d8fa9a8c {
		background-position: 50% 50%;
		 padding-top: 200px;
		 padding-bottom: 50px;
	}
	.__pf .pf-fa9a8ca5 {
		padding: 20px;
	}
	.__pf .pf-5f11147d {
		color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-53476018 {
		color: rgb(74, 74, 74);
	}
	.__pf .pf-60181d4b {
		color: rgb(74, 74, 74);
	}
	.__pf .pf-3b12b45b {
		padding: 10px 50px;
	}
	.__pf .pf-3b12b45b:hover {
		padding: 10px 50px;
	}
	.__pf .pf-5aff5b68 {
		color: rgb(74, 74, 74);
	}
	.__pf .pf-5b6886e6 {
		color: rgb(74, 74, 74);
	}
	.__pf .pf-4497de80 {
		padding: 10px 50px;
	}
	.__pf .pf-4497de80:hover {
		padding: 10px 50px;
	}
}
						

 