/* PageFly Element Styles */
						.GftoS { padding-top: 20px; padding-bottom: 20px; }
.GftoS__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.GftoS__button > i { margin-right: 5px; }
.GftoS .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.jHjrlE { padding-top: 20px; padding-bottom: 20px; }
.jHjrlE__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.jHjrlE__button > i { margin-right: 5px; }
.jHjrlE .icon_position { position: absolute; right: 10px; }
.jHjrlE .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; padding: 10px 15px; appearance: none; color: black; text-align: left; outline: none; display: block; position: relative; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.cEqaQK { display: grid; width: 100%; }
.cEqaQK .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.cEqaQK .sc-qXgsJ.pf-hide-badge { display: none; }
.cEqaQK .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; left: calc(50% - 16px); }
.cEqaQK .sc-pbXLt[data-pf-nav="prev"] { top: 4px; }
.cEqaQK .sc-pbXLt[data-pf-nav="next"] { bottom: 4px; }
.cEqaQK .sc-pbXLt i { transform: rotateZ(90deg); }
.cEqaQK .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .cEqaQK .sc-pkURi { display: none; }
  .cEqaQK .mobile_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .tablet_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .laptop_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .all_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.dNfjzh[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gluJHn { display: flex; flex-direction: column; }
.gluJHn label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-xs); }
}
.gluJHn .pf-p-variant { display: flex; flex-direction: column; }
.gluJHn .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
}
.gluJHn select { min-height: 30px; appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.gluJHn select:focus { outline: none; }
.gluJHn select option { color: inherit; }
.gluJHn .pf-p-variant-radio { display: inline-flex; align-items: center; flex-wrap: wrap; }
.gluJHn .pf-p-variant-radio:not(:last-child) { margin-right: 16px; }
.gluJHn .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .gluJHn { flex-direction: column; }
  .gluJHn label { display: block; }
  .gluJHn .pf-p-variant-radio { display: inline-flex; }
}
.kkPGoW.edit { text-align: center; margin-bottom: 15px; }
.kkPGoW.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-260a9e47 {
		margin-top: -55px;
	}
	.__pf .pf-cc07dd55 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-07dd555a {
		padding-bottom: 0px;
	}
	.__pf .pf-fbc28da5 {
		width: 150px;
		 height: auto;
		 padding-bottom: 0px;
		 margin-top: -10px;
	}
	.__pf .pf-a03472bd {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-0dfde5be {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-fde5be59 {
		text-align: center;
	}
	.__pf .pf-be59b383 {
		text-align: center;
	}
	.__pf .pf-837b5c8c {
		width: 120px;
		 height: auto;
		 padding-bottom: 10px;
		 padding-top: 10px;
	}
	.__pf .pf-12a72771 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-35b87824 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-b8782441 {
		text-align: center;
	}
	.__pf .pf-2441af7b {
		text-align: center;
	}
	.__pf .pf-7b61206f {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-f8010a27 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-611a870f {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-1a870fe0 {
		text-align: center;
	}
	.__pf .pf-0fe0d690 {
		text-align: center;
	}
	.__pf .pf-90624cbf {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-ab28cfc7 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-8545e598 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-45e59851 {
		text-align: center;
	}
	.__pf .pf-e5985170 {
		background-color: rgba(255, 238, 223, 0.58);
		 padding-top: 35px;
		 padding-bottom: 35px;
	}
	.__pf .pf-2032125d {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 63, 60);
		 text-align: center;
		 margin-bottom: 50px;
	}
	.__pf .pf-125da42c {
		background-repeat: no-repeat;
	}
	.__pf .pf-dde99a74 {
		font-family: Muli;
		 font-weight: 300;
		 padding-left: 30px;
		 padding-right: 30px;
		 padding-top: 20px;
	}
	.__pf .pf-9a74040c {
		margin-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-31172d9e {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-d5c72809 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-e3e46bfa {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-8ef9c4ac {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-f9c4ace7 {
		text-align: center;
	}
	.__pf .pf-e7d034ad {
		width: 120px;
		 height: auto;
		 padding-bottom: 20px;
		 padding-top: 0px;
	}
	.__pf .pf-232fa9c2 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-4c98a978 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-98a97876 {
		text-align: center;
	}
	.__pf .pf-76668ff0 {
		width: 120px;
		 height: auto;
		 padding-bottom: 20px;
		 padding-top: 0px;
	}
	.__pf .pf-604e6f28 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-7a435504 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-435504f1 {
		text-align: center;
	}
	.__pf .pf-5504f14c {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 15px;
		 padding-bottom: 15px;
	}
	.__pf .pf-fd4fb8c0 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-f22c3b42 {
		text-align: center;
	}
	.__pf .pf-9836f3f7 {
		text-align: center;
		 padding-top: 70px;
		 padding-bottom: 70px;
	}
	.__pf .pf-4a99ca4f {
		border-style: none;
	}
	.__pf .pf-4a99ca4f:hover {
		border-style: solid;
		 border-color: rgb(102, 102, 102);
	}
	.__pf .pf-4a99ca4f[data-active="true"] {
		border-style: solid;
		 border-color: rgb(74, 144, 226);
	}
	.__pf .pf-a0818411 > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-d1156848 {
		text-align: left;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 26px;
	}
	.__pf .pf-06d6721e {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-aafab86a {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 70px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-aafab86a:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-7b437833 {
		text-align: center;
	}
	.__pf .pf-b86ad53b {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-b86ad53b:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-d53bfbe2 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-d53bfbe2:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-fbe202ee {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-right: 15px;
		 padding-left: 15px;
		 background: rgb(255, 255, 255);
		 border-color: rgb(255, 255, 255);
		 color: rgba(74, 63, 60, 0.85);
		 padding-bottom: 10px;
		 text-align: left;
	}
	.__pf .pf-fbe202ee[data-active="true"] {
		font-family: Muli;
	}
	.__pf .pf-a0988a0a {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-02ee12bc {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-dcd54caf {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-12bc4697 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-49595429 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 1px;
	}
	.__pf .pf-46978c48 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-03441d7b {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 5px;
	}
	.__pf .pf-8c48bb55 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-56b29c6a {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-bb553e89 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-2bbb6660 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px 1px 3px;
	}
	.__pf .pf-3e89d6e7 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-9253c87d {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-d6e72d3c {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-f3a9bdcd {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-2d3cfca9 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-c4603762 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(74, 63, 60, 0.5);
		 padding-bottom: 10px;
	}
	.__pf .pf-d7968c43 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 4px;
	}
	.__pf .pf-d15d3028 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-22312dcc {
		display: flex;
	}
	.__pf .pf-a2c987e4 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-3028b821 {
		display: flex;
	}
	.__pf .pf-b821636b {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-2dcc074a {
		display: flex;
	}
	.__pf .pf-0261c27f {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-636b060f {
		display: flex;
	}
	.__pf .pf-060f0442 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-074ac790 {
		display: flex;
	}
	.__pf .pf-42f28af2 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 4px;
	}
	.__pf .pf-044203a9 {
		display: flex;
	}
	.__pf .pf-03a9e3a3 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-c790a239 {
		display: flex;
	}
	.__pf .pf-f95b4295 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-e3a375a2 {
		display: flex;
	}
	.__pf .pf-75a2eaea {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-a239d8b2 {
		display: flex;
	}
	.__pf .pf-9d563b47 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px 1px 3px;
	}
	.__pf .pf-eaea1659 {
		display: flex;
	}
	.__pf .pf-16591122 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-d8b2a616 {
		display: flex;
	}
	.__pf .pf-ca2b0ee8 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-1122159c {
		display: flex;
	}
	.__pf .pf-159caa1a {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-a616d41c {
		display: flex;
	}
	.__pf .pf-582c3fa4 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-aa1acc8f {
		display: flex;
	}
	.__pf .pf-cc8fe3f2 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-d41c58fc {
		display: flex;
	}
	.__pf .pf-3762403e {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-bottom: 10px;
	}
	.__pf .pf-18b3b3a3 {
		text-align: left;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-a78fb05f {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(255, 238, 223);
	}
	.__pf .pf-6dcf2122 {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
		 padding-top: 10px;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-e3f252fb {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-e3f252fb:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-52fbe4b6 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-e4b675f9 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-e4b675f9:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-910e5e5b {
		width: 120px;
		 height: auto;
		 margin: 5px 10px 15px 20px;
	}
	.__pf .pf-5e5bc42b {
		width: 165px;
		 height: auto;
		 margin: 5px 0px 15px 10px;
	}
	.__pf .pf-75f98bd4 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-8bd473ab {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-8bd473ab:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-73abd51e {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-11e00762 {
		font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-d51e9b28 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-d51e9b28:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-9b28b71b {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-81b26748 {
		margin-top: 10px;
	}
	.__pf .pf-bf340e81 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 80px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-bf340e81:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-0e816ede {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-5c6fea9d {
		width: 150px;
		 height: auto;
		 margin-bottom: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-ea9dbf34 {
		width: 110px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-fa68b40f {
		margin-top: -25px;
	}
	.__pf .pf-731d92f4 {
		text-align: center;
	}
	.__pf .pf-d5678e95 {
		text-align: center;
		 padding-top: 70px;
		 padding-bottom: 70px;
	}
	.__pf .pf-5d0e58bc {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 80px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-5d0e58bc:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-58bc3ae3 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-7e90538b {
		width: 150px;
		 height: auto;
		 margin-bottom: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-538b5d0e {
		width: 110px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-da67f731 {
		margin-top: -25px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-260a9e47 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: -55px;
	}
	.__pf .pf-07dd555a {
		padding-bottom: 0px;
	}
	.__pf .pf-fbc28da5 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-fde5be59 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-be59b383 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-837b5c8c {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-b8782441 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-2441af7b {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-7b61206f {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-1a870fe0 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-0fe0d690 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-90624cbf {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-45e59851 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-e5985170 {
		padding-top: 35px;
	}
	.__pf .pf-2032125d {
		margin-bottom: 60px;
	}
	.__pf .pf-2c53587d {
		padding-top: 70px;
	}
	.__pf .pf-dde99a74 {
		padding-top: 0px;
	}
	.__pf .pf-e99a7404 {
		display: flex;
		 flex-direction: column-reverse;
	}
	.__pf .pf-9a74040c {
		padding-bottom: 40px;
		 margin-top: 20px;
	}
	.__pf .pf-d5c72809 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-8ef9c4ac {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-f9c4ace7 {
		padding-top: 10px;
	}
	.__pf .pf-e7d034ad {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-4c98a978 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-98a97876 {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-top: 30px;
	}
	.__pf .pf-76668ff0 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-7a435504 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-435504f1 {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-top: 30px;
	}
	.__pf .pf-5504f14c {
		padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-fd4fb8c0 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-f22c3b42 {
		margin-top: 0px;
	}
	.__pf .pf-3b429836 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-9836f3f7 {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-a0818411 > div > div:first-child {
		height: 400px;
	}
	.__pf .pf-d1156848 {
		font-size: 18px;
		 margin-bottom: 0px;
		 margin-left: 0px;
		 font-family: Montserrat;
		 text-align: center;
		 margin-top: -15px;
	}
	.__pf .pf-841106d6 {
		text-align: right;
	}
	.__pf .pf-06d6721e {
		margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 2px;
	}
	.__pf .pf-f2167b43 {
		text-align: left;
	}
	.__pf .pf-fefd89fa {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-721eaafa {
		text-align: left;
	}
	.__pf .pf-aafab86a {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-aafab86a:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-b86ad53b {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-b86ad53b:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-d53bfbe2 {
		padding-right: 25%;
		 padding-left: 25%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-d53bfbe2:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-63d4c460 {
		text-align: center;
		 margin-top: -50px;
	}
	.__pf .pf-fbe202ee {
		padding-bottom: 0px;
		 padding-top: 10px;
	}
	.__pf .pf-a0988a0a {
		border-style: none;
	}
	.__pf .pf-02ee12bc {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-d3ea235c {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
		 text-align: center;
	}
	.__pf .pf-dcd54caf {
		border-style: none;
	}
	.__pf .pf-12bc4697 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-235c10ba {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-49595429 {
		border-style: none;
		 padding: 2px;
	}
	.__pf .pf-46978c48 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-10ba650b {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-03441d7b {
		border-style: none;
		 padding: 4px;
	}
	.__pf .pf-8c48bb55 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-650b7120 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-56b29c6a {
		border-style: none;
	}
	.__pf .pf-bb553e89 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-7120ad60 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-2bbb6660 {
		border-style: none;
	}
	.__pf .pf-3e89d6e7 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-ad60d14f {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-9253c87d {
		border-style: none;
	}
	.__pf .pf-d6e72d3c {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-d14f03fa {
		display: flex;
	}
	.__pf .pf-f3a9bdcd {
		border-style: none;
	}
	.__pf .pf-2d3cfca9 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-03fa2231 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-c4603762 {
		text-align: right;
		 border-style: none;
		 padding-left: 30px;
		 padding-top: 15px;
	}
	.__pf .pf-d7968c43 {
		border-style: none;
	}
	.__pf .pf-fca9d15d {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
	}
	.__pf .pf-d15d3028 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-22312dcc {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-a2c987e4 {
		border-style: none;
	}
	.__pf .pf-3028b821 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-b821636b {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-2dcc074a {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-0261c27f {
		border-style: none;
	}
	.__pf .pf-636b060f {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-060f0442 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-074ac790 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-42f28af2 {
		border-style: none;
	}
	.__pf .pf-044203a9 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-03a9e3a3 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-c790a239 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-f95b4295 {
		border-style: none;
	}
	.__pf .pf-e3a375a2 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-75a2eaea {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-a239d8b2 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-9d563b47 {
		border-style: none;
	}
	.__pf .pf-eaea1659 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-16591122 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-d8b2a616 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-ca2b0ee8 {
		border-style: none;
	}
	.__pf .pf-1122159c {
		display: flex;
	}
	.__pf .pf-159caa1a {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-a616d41c {
		display: flex;
	}
	.__pf .pf-582c3fa4 {
		border-style: none;
	}
	.__pf .pf-aa1acc8f {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-cc8fe3f2 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-d41c58fc {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-3762403e {
		text-align: right;
	}
	.__pf .pf-18b3b3a3 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-a78fb05f {
		margin-top: -20px;
		 margin-bottom: 10px;
		 text-align: center;
		 margin-left: -15px;
	}
	.__pf .pf-6dcf2122 {
		padding-top: 25px;
		 padding-bottom: 40px;
		 margin-bottom: 0px;
	}
	.__pf .pf-e4b675f9 {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-910e5e5b {
		margin: 10px 20px;
	}
	.__pf .pf-5e5bc42b {
		margin-right: 20px;
		 margin-bottom: 10px;
		 margin-top: 10px;
	}
	.__pf .pf-d51e9b28 {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-81b26748 {
		margin-top: 0px;
		 padding-bottom: 10px;
		 padding-top: 0px;
	}
	.__pf .pf-6ce0b0e1 {
		margin-right: 0px;
	}
	.__pf .pf-bf340e81 {
		padding-right: 25%;
		 padding-left: 25%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-bf340e81:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-0e816ede {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-7c09fc3c {
		margin-left: -20px;
	}
	.__pf .pf-5c6fea9d {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 160px;
		 height: auto;
	}
	.__pf .pf-5c6fea9d:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-ea9dbf34 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 120px;
		 height: auto;
	}
	.__pf .pf-ea9dbf34:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-fa68b40f {
		margin-top: 0px;
	}
	.__pf .pf-a59671da {
		margin-top: -30px;
	}
	.__pf .pf-731d92f4 {
		margin-top: 0px;
	}
	.__pf .pf-92f4d567 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-d5678e95 {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-14f6a7fc {
		margin-right: 0px;
	}
	.__pf .pf-5d0e58bc {
		padding-right: 25%;
		 padding-left: 25%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-5d0e58bc:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-58bc3ae3 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-7410aa48 {
		margin-left: -20px;
	}
	.__pf .pf-7e90538b {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 160px;
		 height: auto;
	}
	.__pf .pf-7e90538b:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-538b5d0e {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 120px;
		 height: auto;
	}
	.__pf .pf-538b5d0e:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-da67f731 {
		margin-top: 0px;
	}
	.__pf .pf-7d6ba950 {
		margin-top: -30px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-cc07dd55 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-fbc28da5 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-a03472bd {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-0dfde5be {
		font-family: Muli;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-837b5c8c {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-12a72771 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-35b87824 {
		font-family: Muli;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-7b61206f {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-f8010a27 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-611a870f {
		font-family: Muli;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-90624cbf {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-ab28cfc7 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-8545e598 {
		font-family: Muli;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-2032125d {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-2c53587d {
		height: auto;
	}
	.__pf .pf-31172d9e {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-d5c72809 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-e3e46bfa {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-8ef9c4ac {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-e7d034ad {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-232fa9c2 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-4c98a978 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-76668ff0 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-604e6f28 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-7a435504 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-fd4fb8c0 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-9836f3f7 {
		padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-a0818411 > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-d5678e95 {
		padding-top: 50px;
		 padding-bottom: 50px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-8ef9c4ac {
		text-align: center;
	}
	.__pf .pf-4c98a978 {
		text-align: center;
	}
	.__pf .pf-7a435504 {
		text-align: center;
	}
	.__pf .pf-fd4fb8c0 {
		text-align: center;
	}
	.__pf .pf-3b429836 {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-aafab86a {
		margin-left: 15px;
	}
	.__pf .pf-b86ad53b {
		padding-left: 80px;
		 padding-right: 80px;
	}
	.__pf .pf-78332aff {
		text-align: center;
	}
	.__pf .pf-d53bfbe2 {
		margin-left: 15px;
	}
	.__pf .pf-bf340e81 {
		margin-left: 0px;
	}
	.__pf .pf-7c09fc3c {
		text-align: center;
	}
	.__pf .pf-5c6fea9d {
		margin-left: 0px;
	}
	.__pf .pf-ea9dbf34 {
		margin-left: 0px;
	}
	.__pf .pf-92f4d567 {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-5d0e58bc {
		margin-left: 0px;
	}
	.__pf .pf-7410aa48 {
		text-align: center;
	}
	.__pf .pf-7e90538b {
		margin-left: 0px;
	}
	.__pf .pf-538b5d0e {
		margin-left: 0px;
	}
}
						

 