/* PageFly Element Styles */
						.GftoS { padding-top: 20px; padding-bottom: 20px; }
.GftoS__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.GftoS__button > i { margin-right: 5px; }
.GftoS .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.jHjrlE { padding-top: 20px; padding-bottom: 20px; }
.jHjrlE__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.jHjrlE__button > i { margin-right: 5px; }
.jHjrlE .icon_position { position: absolute; right: 10px; }
.jHjrlE .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; padding: 10px 15px; appearance: none; color: black; text-align: left; outline: none; display: block; position: relative; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.cEqaQK { display: grid; width: 100%; }
.cEqaQK .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.cEqaQK .sc-qXgsJ.pf-hide-badge { display: none; }
.cEqaQK .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; left: calc(50% - 16px); }
.cEqaQK .sc-pbXLt[data-pf-nav="prev"] { top: 4px; }
.cEqaQK .sc-pbXLt[data-pf-nav="next"] { bottom: 4px; }
.cEqaQK .sc-pbXLt i { transform: rotateZ(90deg); }
.cEqaQK .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .cEqaQK .sc-pkURi { display: none; }
  .cEqaQK .mobile_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .tablet_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .laptop_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .all_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.dNfjzh[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gluJHn { display: flex; flex-direction: column; }
.gluJHn label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-xs); }
}
.gluJHn .pf-p-variant { display: flex; flex-direction: column; }
.gluJHn .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
}
.gluJHn select { min-height: 30px; appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.gluJHn select:focus { outline: none; }
.gluJHn select option { color: inherit; }
.gluJHn .pf-p-variant-radio { display: inline-flex; align-items: center; flex-wrap: wrap; }
.gluJHn .pf-p-variant-radio:not(:last-child) { margin-right: 16px; }
.gluJHn .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .gluJHn { flex-direction: column; }
  .gluJHn label { display: block; }
  .gluJHn .pf-p-variant-radio { display: inline-flex; }
}
.kkPGoW.edit { text-align: center; margin-bottom: 15px; }
.kkPGoW.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-6927b08e {
		margin-top: -55px;
	}
	.__pf .pf-11a2ac50 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-791f8fc3 {
		width: 140px;
		 height: 140px;
		 margin-bottom: -10px;
	}
	.__pf .pf-e53b4bb1 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-e900e3a4 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-00e3a415 {
		text-align: center;
	}
	.__pf .pf-a41532cf {
		text-align: center;
	}
	.__pf .pf-cfe3d529 {
		width: 130px;
		 height: 130px;
	}
	.__pf .pf-00c24a36 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-51d34e54 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-d34e54dc {
		text-align: center;
	}
	.__pf .pf-54dc2505 {
		text-align: center;
	}
	.__pf .pf-05104362 {
		width: 150px;
		 height: 150px;
		 margin-top: -10px;
		 margin-bottom: -10px;
	}
	.__pf .pf-1be24979 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-29fcbf99 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-fcbf9969 {
		text-align: center;
	}
	.__pf .pf-99697ebb {
		text-align: center;
	}
	.__pf .pf-bb45af54 {
		width: 130px;
		 height: 130px;
	}
	.__pf .pf-9f5851e2 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-268401c1 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-8401c131 {
		text-align: center;
	}
	.__pf .pf-01c13197 {
		background-color: rgba(255, 238, 223, 0.58);
		 padding-top: 35px;
		 padding-bottom: 35px;
	}
	.__pf .pf-523fad39 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 63, 60);
		 text-align: center;
		 margin-bottom: 50px;
	}
	.__pf .pf-ad391f73 {
		background-repeat: no-repeat;
	}
	.__pf .pf-e5049935 {
		font-family: Muli;
		 font-weight: 300;
		 padding-left: 30px;
		 padding-right: 30px;
		 padding-top: 20px;
	}
	.__pf .pf-993532d4 {
		margin-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-088b6def {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-bd7d3e29 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-a7170b9e {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-aabec4df {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-bec4df34 {
		text-align: center;
	}
	.__pf .pf-34226970 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-2b521200 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-16f31dc4 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-f31dc4fd {
		text-align: center;
	}
	.__pf .pf-fd7ea58f {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-978f8321 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-ba3543d8 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-3543d8ed {
		text-align: center;
	}
	.__pf .pf-43d8ed7a {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 15px;
		 padding-bottom: 15px;
	}
	.__pf .pf-c177cbb1 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-feb51f7a {
		text-align: center;
	}
	.__pf .pf-50ae445f {
		text-align: center;
		 padding-top: 70px;
		 padding-bottom: 70px;
	}
	.__pf .pf-aa87a3d2 {
		border-style: none;
	}
	.__pf .pf-aa87a3d2:hover {
		border-style: solid;
		 border-color: rgb(102, 102, 102);
	}
	.__pf .pf-aa87a3d2[data-active="true"] {
		border-style: solid;
		 border-color: rgb(74, 144, 226);
	}
	.__pf .pf-a63695cf > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-13989094 {
		text-align: left;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 26px;
	}
	.__pf .pf-40aa2576 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-a60d24ec {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 70px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-a60d24ec:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-1b7e295e {
		text-align: center;
	}
	.__pf .pf-24ec9c80 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-24ec9c80:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-9c8030d2 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-9c8030d2:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-30d2111d {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-right: 15px;
		 padding-left: 15px;
		 background: rgb(255, 255, 255);
		 border-color: rgb(255, 255, 255);
		 color: rgba(74, 63, 60, 0.85);
		 padding-bottom: 10px;
		 text-align: left;
	}
	.__pf .pf-30d2111d[data-active="true"] {
		font-family: Muli;
	}
	.__pf .pf-f882675e {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-111de42c {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-be9f3579 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-e42caabd {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-55e16698 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 1px;
	}
	.__pf .pf-aabd5cc0 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-4fad5b12 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 5px;
	}
	.__pf .pf-5cc03bb4 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-612f3b88 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-3bb4043a {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-9df5457f {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px 1px 3px;
	}
	.__pf .pf-043a0df9 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-399a1292 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-0df9922e {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-7262fab7 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-922e27f4 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-441237c5 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(74, 63, 60, 0.5);
		 padding-bottom: 10px;
	}
	.__pf .pf-c05df8b2 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 4px;
	}
	.__pf .pf-2f744942 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-f2f39d95 {
		display: flex;
	}
	.__pf .pf-4886499d {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-49423829 {
		display: flex;
	}
	.__pf .pf-3829f4a1 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-9d95473a {
		display: flex;
	}
	.__pf .pf-2ba337a4 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-f4a1910c {
		display: flex;
	}
	.__pf .pf-910c9dc5 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-473af7c3 {
		display: flex;
	}
	.__pf .pf-ba4d4ceb {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 4px;
	}
	.__pf .pf-9dc53baf {
		display: flex;
	}
	.__pf .pf-3baf59ca {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-f7c351bf {
		display: flex;
	}
	.__pf .pf-33245db9 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-59ca2a64 {
		display: flex;
	}
	.__pf .pf-2a6471d1 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-51bf21ff {
		display: flex;
	}
	.__pf .pf-e2fb70f6 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px 1px 3px;
	}
	.__pf .pf-71d14a30 {
		display: flex;
	}
	.__pf .pf-4a30c82b {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-21ff5b55 {
		display: flex;
	}
	.__pf .pf-f26831f2 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-c82b66ca {
		display: flex;
	}
	.__pf .pf-66ca80c1 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-5b55fd30 {
		display: flex;
	}
	.__pf .pf-e180b9e9 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-80c1f690 {
		display: flex;
	}
	.__pf .pf-f690d2ed {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-fd303ab1 {
		display: flex;
	}
	.__pf .pf-37c51b54 {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-bottom: 10px;
	}
	.__pf .pf-9b423f6d {
		text-align: left;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-42acb203 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(255, 238, 223);
	}
	.__pf .pf-72e8025e {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
		 padding-top: 10px;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-d2ed2069 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-d2ed2069:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-20690a23 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-0a23ec45 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-0a23ec45:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-c69715c9 {
		width: 120px;
		 height: auto;
		 margin: 5px 10px 15px 20px;
	}
	.__pf .pf-15c96978 {
		width: 165px;
		 height: auto;
		 margin: 5px 0px 15px 10px;
	}
	.__pf .pf-ec454178 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-4178a8a2 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-4178a8a2:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-a8a280e8 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-c721ac55 {
		font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-80e83f99 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-80e83f99:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-3f998f09 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-0c954156 {
		margin-top: 10px;
	}
	.__pf .pf-8e425015 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 80px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-8e425015:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-50158a2f {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-3e26784a {
		width: 150px;
		 height: auto;
		 margin-bottom: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-784a8e42 {
		width: 110px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-e8c817a9 {
		margin-top: -25px;
	}
	.__pf .pf-8b90965b {
		text-align: center;
	}
	.__pf .pf-11d9b71f {
		text-align: center;
		 padding-top: 70px;
		 padding-bottom: 70px;
	}
	.__pf .pf-14c96745 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 80px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-14c96745:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-6745d952 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
	.__pf .pf-0e86e763 {
		width: 150px;
		 height: auto;
		 margin-bottom: 0px;
		 padding-right: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-e76314c9 {
		width: 110px;
		 height: auto;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-3bac1145 {
		margin-top: -25px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-6927b08e {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: -55px;
	}
	.__pf .pf-791f8fc3 {
		height: auto;
	}
	.__pf .pf-00e3a415 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-a41532cf {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-cfe3d529 {
		height: auto;
	}
	.__pf .pf-d34e54dc {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-54dc2505 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-05104362 {
		height: auto;
	}
	.__pf .pf-fcbf9969 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-99697ebb {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-bb45af54 {
		height: auto;
	}
	.__pf .pf-8401c131 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-01c13197 {
		padding-top: 35px;
	}
	.__pf .pf-523fad39 {
		margin-bottom: 60px;
		 font-size: 22px;
	}
	.__pf .pf-73cfa6d2 {
		padding-top: 70px;
	}
	.__pf .pf-e5049935 {
		padding-top: 0px;
	}
	.__pf .pf-04993532 {
		display: flex;
		 flex-direction: column-reverse;
	}
	.__pf .pf-993532d4 {
		padding-bottom: 40px;
		 margin-top: 20px;
	}
	.__pf .pf-bd7d3e29 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-aabec4df {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-bec4df34 {
		padding-top: 10px;
	}
	.__pf .pf-34226970 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-16f31dc4 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-f31dc4fd {
		padding-top: 30px;
	}
	.__pf .pf-fd7ea58f {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-ba3543d8 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-3543d8ed {
		padding-top: 30px;
	}
	.__pf .pf-43d8ed7a {
		padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-c177cbb1 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-feb51f7a {
		margin-top: 0px;
	}
	.__pf .pf-1f7a50ae {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-50ae445f {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-a63695cf > div > div:first-child {
		height: 400px;
	}
	.__pf .pf-13989094 {
		font-size: 18px;
		 margin-bottom: 0px;
		 margin-left: 0px;
		 font-family: Montserrat;
		 text-align: center;
		 margin-top: -15px;
	}
	.__pf .pf-95cf40aa {
		text-align: right;
	}
	.__pf .pf-40aa2576 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 2px;
	}
	.__pf .pf-90751b7e {
		text-align: left;
	}
	.__pf .pf-3e9e4429 {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-2576a60d {
		text-align: left;
	}
	.__pf .pf-a60d24ec {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-a60d24ec:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-24ec9c80 {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-24ec9c80:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-9c8030d2 {
		padding-right: 25%;
		 padding-left: 25%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-9c8030d2:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-6f5b4412 {
		text-align: center;
		 margin-top: -50px;
	}
	.__pf .pf-30d2111d {
		padding-bottom: 0px;
		 padding-top: 10px;
	}
	.__pf .pf-f882675e {
		border-style: none;
	}
	.__pf .pf-111de42c {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-4b151bc2 {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
		 text-align: center;
	}
	.__pf .pf-be9f3579 {
		border-style: none;
	}
	.__pf .pf-e42caabd {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-1bc26939 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-55e16698 {
		border-style: none;
		 padding: 2px;
	}
	.__pf .pf-aabd5cc0 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-693916d9 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-4fad5b12 {
		border-style: none;
		 padding: 4px;
	}
	.__pf .pf-5cc03bb4 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-16d91c89 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-612f3b88 {
		border-style: none;
	}
	.__pf .pf-3bb4043a {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-1c891fe4 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-9df5457f {
		border-style: none;
	}
	.__pf .pf-043a0df9 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-1fe477bf {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-399a1292 {
		border-style: none;
	}
	.__pf .pf-0df9922e {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-77bfe35c {
		display: flex;
	}
	.__pf .pf-7262fab7 {
		border-style: none;
	}
	.__pf .pf-922e27f4 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-e35cf2f3 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-441237c5 {
		text-align: right;
		 border-style: none;
		 padding-left: 30px;
		 padding-top: 15px;
	}
	.__pf .pf-c05df8b2 {
		border-style: none;
	}
	.__pf .pf-27f42f74 {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
	}
	.__pf .pf-2f744942 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-f2f39d95 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-4886499d {
		border-style: none;
	}
	.__pf .pf-49423829 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-3829f4a1 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-9d95473a {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-2ba337a4 {
		border-style: none;
	}
	.__pf .pf-f4a1910c {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-910c9dc5 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-473af7c3 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-ba4d4ceb {
		border-style: none;
	}
	.__pf .pf-9dc53baf {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-3baf59ca {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-f7c351bf {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-33245db9 {
		border-style: none;
	}
	.__pf .pf-59ca2a64 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-2a6471d1 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-51bf21ff {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-e2fb70f6 {
		border-style: none;
	}
	.__pf .pf-71d14a30 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-4a30c82b {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-21ff5b55 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-f26831f2 {
		border-style: none;
	}
	.__pf .pf-c82b66ca {
		display: flex;
	}
	.__pf .pf-66ca80c1 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-5b55fd30 {
		display: flex;
	}
	.__pf .pf-e180b9e9 {
		border-style: none;
	}
	.__pf .pf-80c1f690 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-f690d2ed {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-fd303ab1 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-37c51b54 {
		text-align: right;
	}
	.__pf .pf-9b423f6d {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-42acb203 {
		margin-top: -20px;
		 margin-bottom: 10px;
		 text-align: center;
		 margin-left: -15px;
	}
	.__pf .pf-72e8025e {
		padding-top: 25px;
		 padding-bottom: 40px;
		 margin-bottom: 0px;
	}
	.__pf .pf-0a23ec45 {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-c69715c9 {
		margin: 10px 20px;
	}
	.__pf .pf-15c96978 {
		margin-right: 20px;
		 margin-bottom: 10px;
		 margin-top: 10px;
	}
	.__pf .pf-80e83f99 {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-0c954156 {
		margin-top: 0px;
		 padding-bottom: 10px;
		 padding-top: 0px;
	}
	.__pf .pf-37a83624 {
		margin-right: 0px;
	}
	.__pf .pf-8e425015 {
		padding-right: 25%;
		 padding-left: 25%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-8e425015:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-50158a2f {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-3aabfb15 {
		margin-left: -20px;
	}
	.__pf .pf-3e26784a {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 160px;
		 height: auto;
	}
	.__pf .pf-3e26784a:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-784a8e42 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 120px;
		 height: auto;
	}
	.__pf .pf-784a8e42:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-e8c817a9 {
		margin-top: 0px;
	}
	.__pf .pf-13f8646f {
		margin-top: -30px;
	}
	.__pf .pf-8b90965b {
		margin-top: 0px;
	}
	.__pf .pf-965b11d9 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-11d9b71f {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-054a3728 {
		margin-right: 0px;
	}
	.__pf .pf-14c96745 {
		padding-right: 25%;
		 padding-left: 25%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-14c96745:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-6745d952 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-484364e6 {
		margin-left: -20px;
	}
	.__pf .pf-0e86e763 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 160px;
		 height: auto;
	}
	.__pf .pf-0e86e763:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-e76314c9 {
		text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 width: 120px;
		 height: auto;
	}
	.__pf .pf-e76314c9:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-3bac1145 {
		margin-top: 0px;
	}
	.__pf .pf-4eb68c36 {
		margin-top: -30px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-11a2ac50 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-791f8fc3 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-e53b4bb1 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-e900e3a4 {
		font-family: Montserrat;
		 font-weight: 500;
		 text-align: center;
	}
	.__pf .pf-cfe3d529 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-00c24a36 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-51d34e54 {
		font-family: Montserrat;
		 font-weight: 500;
		 text-align: center;
	}
	.__pf .pf-05104362 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-1be24979 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-29fcbf99 {
		font-family: Montserrat;
		 font-weight: 500;
		 text-align: center;
	}
	.__pf .pf-bb45af54 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-9f5851e2 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-268401c1 {
		font-family: Montserrat;
		 font-weight: 500;
		 text-align: center;
	}
	.__pf .pf-523fad39 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-73cfa6d2 {
		height: auto;
	}
	.__pf .pf-088b6def {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-bd7d3e29 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-a7170b9e {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-aabec4df {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-34226970 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-2b521200 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-16f31dc4 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-fd7ea58f {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-978f8321 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-ba3543d8 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-c177cbb1 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-50ae445f {
		padding-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-a63695cf > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-11d9b71f {
		padding-top: 50px;
		 padding-bottom: 50px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-aabec4df {
		text-align: center;
	}
	.__pf .pf-16f31dc4 {
		text-align: center;
	}
	.__pf .pf-ba3543d8 {
		text-align: center;
	}
	.__pf .pf-c177cbb1 {
		text-align: center;
	}
	.__pf .pf-1f7a50ae {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-a60d24ec {
		margin-left: 15px;
	}
	.__pf .pf-24ec9c80 {
		padding-left: 80px;
		 padding-right: 80px;
	}
	.__pf .pf-295e7527 {
		text-align: center;
	}
	.__pf .pf-9c8030d2 {
		margin-left: 15px;
	}
	.__pf .pf-8e425015 {
		margin-left: 0px;
	}
	.__pf .pf-3aabfb15 {
		text-align: center;
	}
	.__pf .pf-3e26784a {
		margin-left: 0px;
	}
	.__pf .pf-784a8e42 {
		margin-left: 0px;
	}
	.__pf .pf-965b11d9 {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-14c96745 {
		margin-left: 0px;
	}
	.__pf .pf-484364e6 {
		text-align: center;
	}
	.__pf .pf-0e86e763 {
		margin-left: 0px;
	}
	.__pf .pf-e76314c9 {
		margin-left: 0px;
	}
}
						

 