/* PageFly Element Styles */
						.GftoS { padding-top: 20px; padding-bottom: 20px; }
.GftoS__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.GftoS__button > i { margin-right: 5px; }
.GftoS .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.jHjrlE { padding-top: 20px; padding-bottom: 20px; }
.jHjrlE__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.jHjrlE__button > i { margin-right: 5px; }
.jHjrlE .icon_position { position: absolute; right: 10px; }
.jHjrlE .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; height: 100%; padding: 10px 15px; text-decoration: none; color: black; text-align: left; outline: none; display: block; position: relative; appearance: none; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.cEqaQK { display: grid; width: 100%; }
.cEqaQK .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.cEqaQK .sc-qXgsJ.pf-hide-badge { display: none; }
.cEqaQK .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; left: calc(50% - 16px); }
.cEqaQK .sc-pbXLt[data-pf-nav="prev"] { top: 4px; }
.cEqaQK .sc-pbXLt[data-pf-nav="next"] { bottom: 4px; }
.cEqaQK .sc-pbXLt i { transform: rotateZ(90deg); }
.cEqaQK .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .cEqaQK .sc-pkURi { display: none; }
  .cEqaQK .mobile_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .tablet_hd { display: none; }
  .cEqaQK .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .laptop_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .cEqaQK { gap: 10px; direction: rtl; grid-auto-flow: column; grid-template-columns: 1fr calc(13.0435% - 10px); }
  .cEqaQK .sc-psQTH { display: grid; grid-auto-flow: column; gap: 10px; grid-template-rows: repeat(5, 1fr); }
  .cEqaQK .sc-psQTH .sc-qPkqk::after { display: block; content: ""; padding-bottom: 100%; }
  .cEqaQK .all_hd { display: none; }
  .cEqaQK .sc-oUbIU { display: none; }
  .cEqaQK .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.dNfjzh[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gluJHn { display: flex; flex-direction: column; }
.gluJHn label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gluJHn .pf-p-variant:not(:last-child) { margin-bottom: var(--pf-s-xs); }
}
.gluJHn .pf-p-variant { display: flex; flex-direction: column; }
.gluJHn .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
}
.gluJHn select { min-height: 30px; appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.gluJHn select:focus { outline: none; }
.gluJHn select option { color: inherit; }
.gluJHn .pf-p-variant-radio { display: inline-flex; align-items: center; flex-wrap: wrap; }
.gluJHn .pf-p-variant-radio:not(:last-child) { margin-right: 16px; }
.gluJHn .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .gluJHn { flex-direction: column; }
  .gluJHn label { display: block; }
  .gluJHn .pf-p-variant-radio { display: inline-flex; }
}
.kkPGoW.edit { text-align: center; margin-bottom: 15px; }
.kkPGoW.edit p { margin-top: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-abd99fca {
		margin-top: -55px;
	}
	.__pf .pf-fa81c9b0 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 padding-bottom: 0px;
	}
	.__pf .pf-c9b0fe39 {
		padding-bottom: 0px;
	}
	.__pf .pf-3916b013 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-02322127 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-ebe353a1 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-53a1bc24 {
		text-align: center;
	}
	.__pf .pf-bc240bec {
		width: 140px;
		 height: auto;
		 padding-bottom: 10px;
		 margin-top: -10px;
	}
	.__pf .pf-8cd7a240 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-dcac28ae {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-28ae6146 {
		text-align: center;
	}
	.__pf .pf-6146995f {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-ae9be29c {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-15e68a06 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-8a064d6e {
		text-align: center;
	}
	.__pf .pf-4d6e1f90 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-d394266e {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-4bfa5706 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-570636fd {
		text-align: center;
	}
	.__pf .pf-36fda7b5 {
		width: 150px;
		 height: auto;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
		 margin-top: -10px;
	}
	.__pf .pf-4e13cac2 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-1a056965 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-6965e038 {
		text-align: center;
	}
	.__pf .pf-e03843b3 {
		width: 130px;
		 height: auto;
		 margin-bottom: 0px;
		 padding-bottom: 7px;
		 margin-top: -3px;
	}
	.__pf .pf-48df237f {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-437ddc71 {
		font-family: Muli;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
		 margin-top: 0px;
	}
	.__pf .pf-dc712034 {
		text-align: center;
	}
	.__pf .pf-34468834 {
		background-color: rgba(255, 238, 223, 0.58);
		 padding-top: 35px;
		 padding-bottom: 35px;
	}
	.__pf .pf-1f0a4674 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgb(74, 63, 60);
		 text-align: center;
		 margin-bottom: 50px;
	}
	.__pf .pf-74373316 {
		background-repeat: no-repeat;
	}
	.__pf .pf-1504273e {
		font-family: Muli;
		 font-weight: 300;
		 padding-left: 30px;
		 padding-right: 30px;
		 padding-top: 20px;
	}
	.__pf .pf-e8f977b7 {
		margin-top: 50px;
		 padding-bottom: 50px;
	}
	.__pf .pf-e47a4839 {
		font-family: Montserrat;
		 font-size: 24px;
		 font-weight: 500;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
	}
	.__pf .pf-7dd3bba7 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-f2dbc5a7 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-84aa1a09 {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-1a09bf33 {
		text-align: center;
	}
	.__pf .pf-bf333c9f {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-de80b266 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-a911124f {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-124f48a1 {
		text-align: center;
	}
	.__pf .pf-48a12411 {
		width: 130px;
		 height: auto;
		 padding-bottom: 10px;
	}
	.__pf .pf-39b0cb66 {
		font-family: Montserrat;
		 font-size: 17px;
		 color: rgba(74, 63, 60, 0.8);
		 text-align: center;
		 font-weight: 600;
		 margin-bottom: 0px;
	}
	.__pf .pf-d26c4e1a {
		font-family: Muli;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-4e1a219f {
		text-align: center;
	}
	.__pf .pf-9f63adf1 {
		background-color: rgba(255, 238, 223, 0.5);
		 padding-top: 15px;
		 padding-bottom: 15px;
	}
	.__pf .pf-69b96bf4 {
		width: 120px;
		 height: auto;
		 margin-top: 20px;
		 padding-right: 5px;
	}
	.__pf .pf-6bf4bee0 {
		width: 100px;
		 height: auto;
		 margin-top: 20px;
		 padding-left: 5px;
	}
	.__pf .pf-bee0caf7 {
		text-align: center;
	}
	.__pf .pf-caf7cfc1 {
		margin-left: 300px;
		 margin-right: 300px;
	}
	.__pf .pf-cfc1cc8a {
		text-align: center;
		 padding-top: 100px;
		 padding-bottom: 100px;
	}
	.__pf .pf-f03c68d9 {
		border-style: none;
	}
	.__pf .pf-f03c68d9:hover {
		border-style: solid;
		 border-color: rgb(102, 102, 102);
	}
	.__pf .pf-f03c68d9[data-active="true"] {
		border-style: solid;
		 border-color: rgb(74, 144, 226);
	}
	.__pf .pf-d909cc5c > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-5c18349e {
		text-align: left;
		 margin-top: 0px;
		 padding-top: 0px;
		 font-family: Montserrat;
		 font-weight: 600;
		 font-size: 26px;
	}
	.__pf .pf-cc86dfa5 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-427deba8 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-427deba8:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-bcc3970f {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-bcc3970f:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-256efa0b {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-256efa0b:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-c89b34fa {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-right: 15px;
		 padding-left: 15px;
		 background: rgb(255, 255, 255);
		 border-color: rgb(255, 255, 255);
		 color: rgba(74, 63, 60, 0.85);
		 padding-bottom: 10px;
		 text-align: left;
	}
	.__pf .pf-c89b34fa[data-active="true"] {
		font-family: Muli;
	}
	.__pf .pf-34faa1eb {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-460aed66 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-8f472b54 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-06ac1b44 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-267a33be {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 1px;
	}
	.__pf .pf-4df931b7 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-1235112e {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 5px;
	}
	.__pf .pf-cf928a5e {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-88a99d4f {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-c6e84daa {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-86cdaf62 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px 1px 3px;
	}
	.__pf .pf-885c1b6f {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-818ce320 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-8e6b7c44 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-6ff09da0 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-191153e1 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 18px;
	}
	.__pf .pf-4367223d {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(74, 63, 60, 0.5);
		 padding-bottom: 10px;
	}
	.__pf .pf-223df330 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 4px;
	}
	.__pf .pf-b2da99cd {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-99cd100d {
		display: flex;
	}
	.__pf .pf-100d1659 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 2px;
	}
	.__pf .pf-16599301 {
		display: flex;
	}
	.__pf .pf-9eb843df {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-43dfa1cb {
		display: flex;
	}
	.__pf .pf-a1cb60a1 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-60a11356 {
		display: flex;
	}
	.__pf .pf-60837dd3 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-7dd3b2c1 {
		display: flex;
	}
	.__pf .pf-b2c1cf42 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(224, 240, 254);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 4px;
	}
	.__pf .pf-cf42597b {
		display: flex;
	}
	.__pf .pf-2d2a96cd {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-96cdfb61 {
		display: flex;
	}
	.__pf .pf-fb61899d {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-899da500 {
		display: flex;
	}
	.__pf .pf-aadde5e6 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-e5e696c4 {
		display: flex;
	}
	.__pf .pf-96c49de6 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 0px 1px 3px;
	}
	.__pf .pf-9de64763 {
		display: flex;
	}
	.__pf .pf-c022dc3e {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-dc3e6605 {
		display: flex;
	}
	.__pf .pf-6605f477 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-f477a5b5 {
		display: flex;
	}
	.__pf .pf-e954a050 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-a0504b06 {
		display: flex;
	}
	.__pf .pf-4b060710 {
		width: 35px;
		 height: auto;
		 border-radius: 50%;
		 border-style: none;
		 background: rgb(255, 238, 223);
		 margin-right: 2px;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 margin-left: 2px;
		 padding: 3px;
	}
	.__pf .pf-0710d577 {
		display: flex;
	}
	.__pf .pf-0136a399 {
		font-family: Muli;
		 font-size: 16px;
		 font-weight: 300;
		 margin-top: 17px;
	}
	.__pf .pf-a399e077 {
		display: flex;
	}
	.__pf .pf-e07795e2 {
		border-style: none;
		 border-width: 0px 0px 1px;
		 padding-bottom: 10px;
	}
	.__pf .pf-da67d24e {
		text-align: left;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-4ecd6137 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(255, 238, 223);
	}
	.__pf .pf-376d679c {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
		 padding-top: 10px;
		 font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-9c10f93d {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-9c10f93d:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-851e4501 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-8798b4b6 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-8798b4b6:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-b4b6729b {
		width: 120px;
		 height: auto;
		 margin: 5px 40px 15px;
	}
	.__pf .pf-729bfb16 {
		width: 120px;
		 height: auto;
		 margin-right: 40px;
		 margin-bottom: 15px;
		 margin-top: 5px;
	}
	.__pf .pf-c563fe2c {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-61b44c43 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-61b44c43:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-064ffed9 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-fed96c9a {
		font-family: Muli;
		 font-weight: 300;
	}
	.__pf .pf-1cb3b592 {
		font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(74, 63, 60);
		 font-family: Montserrat;
		 font-weight: 500;
		 line-height: 1.5em;
		 border-style: solid;
		 background-color: rgba(255, 238, 223, 0);
		 border-color: rgba(170, 138, 134, 0.63);
		 border-right-width: 0px;
		 border-left-width: 0px;
		 border-bottom-width: 0px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 display: flex;
	}
	.__pf .pf-1cb3b592:hover {
		color: rgb(170, 138, 134);
	}
	.__pf .pf-228fc384 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 14px;
		 background-color: rgb(255, 238, 223);
		 padding: 10px;
	}
	.__pf .pf-06255180 {
		margin-top: 10px;
	}
	.__pf .pf-90e16aa9 {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 5px;
		 background-color: rgb(222, 171, 91);
		 padding: 15px 30px;
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 600;
	}
	.__pf .pf-90e16aa9:hover {
		background-color: rgb(209, 161, 87);
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-f8ce69b9 {
		font-size: 15px;
		 font-family: Muli;
		 font-weight: 300;
		 margin-top: 5px;
		 margin-bottom: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-abd99fca {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-top: -55px;
	}
	.__pf .pf-c9b0fe39 {
		padding-bottom: 0px;
	}
	.__pf .pf-3916b013 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-53a1bc24 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-bc240bec {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-28ae6146 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-6146995f {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-8a064d6e {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-4d6e1f90 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-570636fd {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-36fda7b5 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-6965e038 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-e03843b3 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-dc712034 {
		min-height: 1px;
		 margin-right: 0px;
	}
	.__pf .pf-34468834 {
		padding-top: 35px;
	}
	.__pf .pf-1f0a4674 {
		margin-bottom: 60px;
	}
	.__pf .pf-3316e1fc {
		padding-top: 70px;
		 width: 100%;
		 height: auto;
	}
	.__pf .pf-1504273e {
		padding-top: 0px;
	}
	.__pf .pf-273ee8f9 {
		display: flex;
		 flex-direction: column-reverse;
	}
	.__pf .pf-e8f977b7 {
		padding-bottom: 40px;
		 margin-top: 20px;
	}
	.__pf .pf-7dd3bba7 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-84aa1a09 {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-1a09bf33 {
		padding-top: 10px;
	}
	.__pf .pf-bf333c9f {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-a911124f {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-124f48a1 {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-top: 30px;
	}
	.__pf .pf-48a12411 {
		height: auto;
		 margin-bottom: 3px;
	}
	.__pf .pf-d26c4e1a {
		text-align: center;
		 margin-left: 30px;
		 margin-right: 30px;
	}
	.__pf .pf-4e1a219f {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-top: 30px;
	}
	.__pf .pf-9f63adf1 {
		padding-top: 35px;
		 padding-bottom: 60px;
	}
	.__pf .pf-69b96bf4 {
		margin-bottom: 0px;
		 margin-top: 30px;
	}
	.__pf .pf-6bf4bee0 {
		margin-bottom: 0px;
		 margin-top: 30px;
		 width: 100px;
		 height: auto;
	}
	.__pf .pf-bee0caf7 {
		margin-top: -10px;
	}
	.__pf .pf-caf7cfc1 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-cfc1cc8a {
		padding-bottom: 100px;
		 padding-top: 100px;
	}
	.__pf .pf-d909cc5c > div > div:first-child {
		height: 400px;
	}
	.__pf .pf-5c18349e {
		font-size: 18px;
		 margin-bottom: 0px;
		 margin-left: 0px;
		 font-family: Montserrat;
		 text-align: center;
		 margin-top: -15px;
	}
	.__pf .pf-9ecb02fd {
		text-align: right;
	}
	.__pf .pf-cc86dfa5 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 2px;
	}
	.__pf .pf-dfa5b47f {
		text-align: left;
	}
	.__pf .pf-7fb388c3 {
		text-align: center;
		 margin-top: -10px;
	}
	.__pf .pf-19e3ccee {
		text-align: left;
	}
	.__pf .pf-427deba8 {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-427deba8:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-bcc3970f {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-bcc3970f:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-256efa0b {
		padding-right: 20%;
		 padding-left: 20%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-256efa0b:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-0713e8c8 {
		text-align: center;
		 margin-top: -50px;
	}
	.__pf .pf-c89b34fa {
		padding-bottom: 0px;
		 padding-top: 10px;
	}
	.__pf .pf-34faa1eb {
		border-style: none;
	}
	.__pf .pf-460aed66 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-ed668f47 {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
		 text-align: center;
	}
	.__pf .pf-8f472b54 {
		border-style: none;
	}
	.__pf .pf-06ac1b44 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-1b44267a {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-267a33be {
		border-style: none;
		 padding: 2px;
	}
	.__pf .pf-4df931b7 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-31b71235 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-1235112e {
		border-style: none;
		 padding: 4px;
	}
	.__pf .pf-cf928a5e {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-8a5e88a9 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-88a99d4f {
		border-style: none;
	}
	.__pf .pf-c6e84daa {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-4daa86cd {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-86cdaf62 {
		border-style: none;
	}
	.__pf .pf-885c1b6f {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-1b6f818c {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-818ce320 {
		border-style: none;
	}
	.__pf .pf-8e6b7c44 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-7c446ff0 {
		display: flex;
	}
	.__pf .pf-6ff09da0 {
		border-style: none;
	}
	.__pf .pf-191153e1 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 8px;
		 padding-left: 5px;
	}
	.__pf .pf-53e14367 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-4367223d {
		text-align: right;
		 border-style: none;
		 padding-left: 30px;
		 padding-top: 15px;
	}
	.__pf .pf-223df330 {
		border-style: none;
	}
	.__pf .pf-f330b3c9 {
		background-position: 50% 50%;
		 display: flex;
		 padding-top: 5px;
	}
	.__pf .pf-b2da99cd {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-99cd100d {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-100d1659 {
		border-style: none;
	}
	.__pf .pf-16599301 {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-9eb843df {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-43dfa1cb {
		display: flex;
		 padding-top: 10px;
	}
	.__pf .pf-a1cb60a1 {
		border-style: none;
	}
	.__pf .pf-60a11356 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-60837dd3 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-7dd3b2c1 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-b2c1cf42 {
		border-style: none;
	}
	.__pf .pf-cf42597b {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-2d2a96cd {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-96cdfb61 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-fb61899d {
		border-style: none;
	}
	.__pf .pf-899da500 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-aadde5e6 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-e5e696c4 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-96c49de6 {
		border-style: none;
	}
	.__pf .pf-9de64763 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-c022dc3e {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-dc3e6605 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-6605f477 {
		border-style: none;
	}
	.__pf .pf-f477a5b5 {
		display: flex;
	}
	.__pf .pf-e954a050 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-a0504b06 {
		display: flex;
	}
	.__pf .pf-4b060710 {
		border-style: none;
	}
	.__pf .pf-0710d577 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-0136a399 {
		text-align: left;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 padding-top: 6px;
		 padding-left: 5px;
	}
	.__pf .pf-a399e077 {
		background-position: 50% 50%;
		 display: flex;
	}
	.__pf .pf-e07795e2 {
		text-align: right;
	}
	.__pf .pf-da67d24e {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-4ecd6137 {
		margin-top: -20px;
		 margin-bottom: 10px;
		 text-align: center;
	}
	.__pf .pf-376d679c {
		padding-top: 25px;
		 padding-bottom: 40px;
		 margin-bottom: 0px;
	}
	.__pf .pf-8798b4b6 {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-b4b6729b {
		margin: 10px 20px;
	}
	.__pf .pf-729bfb16 {
		margin-right: 20px;
		 margin-bottom: 10px;
		 margin-top: 10px;
	}
	.__pf .pf-1cb3b592 {
		padding-bottom: 12px;
		 padding-top: 12px;
	}
	.__pf .pf-06255180 {
		margin-top: 0px;
		 padding-bottom: 10px;
		 padding-top: 0px;
	}
	.__pf .pf-adf1865c {
		margin-right: 0px;
	}
	.__pf .pf-90e16aa9 {
		padding-right: 10%;
		 padding-left: 10%;
		 text-align: center;
		 margin-bottom: 0px;
		 font-size: 16px;
		 background-position: 50% 50%;
		 background-size: cover;
		 font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-90e16aa9:hover {
		font-family: Montserrat;
		 font-weight: 600;
	}
	.__pf .pf-f8ce69b9 {
		font-family: Muli;
		 font-weight: 300;
		 font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-fa81c9b0 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-3916b013 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-02322127 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-ebe353a1 {
		font-family: Muli;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-bc240bec {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-8cd7a240 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-dcac28ae {
		font-family: Muli;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-6146995f {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-ae9be29c {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-15e68a06 {
		font-family: Muli;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-4d6e1f90 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-d394266e {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-4bfa5706 {
		font-family: Muli;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-36fda7b5 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-4e13cac2 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-1a056965 {
		font-family: Muli;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-e03843b3 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-48df237f {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-437ddc71 {
		font-family: Muli;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-1f0a4674 {
		font-family: Montserrat;
		 font-weight: 500;
		 font-size: 25px;
		 text-align: center;
	}
	.__pf .pf-3316e1fc {
		height: auto;
	}
	.__pf .pf-e47a4839 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-7dd3bba7 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-f2dbc5a7 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-84aa1a09 {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-bf333c9f {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-de80b266 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-a911124f {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-48a12411 {
		font-family: Muli;
		 font-size: 18px;
		 text-align: center;
		 font-weight: 300;
	}
	.__pf .pf-39b0cb66 {
		text-align: center;
		 font-weight: 600;
		 font-family: Montserrat;
	}
	.__pf .pf-d26c4e1a {
		font-family: Muli;
		 text-align: center;
	}
	.__pf .pf-d909cc5c > div > div:first-child {
		height: 509px;
	}
	.__pf .pf-90e16aa9 {
		padding-left: 20px;
		 padding-right: 20px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-84aa1a09 {
		text-align: center;
	}
	.__pf .pf-a911124f {
		text-align: center;
	}
	.__pf .pf-d26c4e1a {
		text-align: center;
	}
	.__pf .pf-caf7cfc1 {
		margin-left: 50px;
		 margin-right: 50px;
	}
	.__pf .pf-427deba8 {
		margin-left: 15px;
	}
	.__pf .pf-bcc3970f {
		margin-left: 15px;
	}
	.__pf .pf-256efa0b {
		margin-left: 15px;
	}
	.__pf .pf-90e16aa9 {
		margin-left: 15px;
	}
	.__pf .pf-7f48da34 {
		text-align: center;
	}
}
						

 