.best_quality_video div{
    width: auto !important;
}

@media screen and (max-width: 767px) {
    .best_quality_video div{
        height: auto !important;
    }
    .best_quality_video div video{
        height: auto !important;
    }  
    .custom-vide-w {
        width: 100%;
        height: 380px !important;
    }     
}
.custom-vide-w {
    width: 100%;
    height: 500px;
}